[2017-06-13 12:21] damienbod opened #1 "Add support for the id_token flow"
At present only the id_token token flow is supported.

[2017-06-13 12:21] damienbod opened #2 "Get lib certified"

[2017-06-13 12:23] damienbod commented on #2
http://openid.net/certification/

http://openid.net/certification/rp_testing/

https://github.com/openid-certification/oidctest

[2017-06-13 12:25] damienbod opened #3 "Validate sub when using the get user profile"

[2017-06-13 12:25] damienbod opened #4 "Validate module configuration"

[2017-06-13 12:26] damienbod opened #5 "Add support for mag_age and validate the auth_time"

[2017-06-13 18:45] damienbod commented on #2
http://openid.net/wordpress-content/uploads/2016/12/OpenID-Connect-Conformance-Profiles.pdf

[2017-06-13 20:18] damienbod opened #6 "Validation kid is returned in id_token header REQUIRED"

[2017-06-13 20:21] damienbod opened #7 "Reject ID Token without kid claim if multiple JWKs supplied in jwks_uri => rejection allowed"
Reject ID Token without kid claim if multiple JWKs supplied in jwks_uri

[2017-06-13 20:23] damienbod opened #8 "Reject discovered issuer not matching openid-configuration path prefix"

[2017-06-13 20:23] damienbod opened #9 "Reject ID Token with iss not matching discovered issuer"

[2017-06-13 20:25] damienbod commented on #9
http://openid.net/wordpress-content/uploads/2016/12/OpenID-Connect-Conformance-Profiles.pdf

[2017-06-13 20:25] damienbod commented on #8
http://openid.net/wordpress-content/uploads/2016/12/OpenID-Connect-Conformance-Profiles.pdf

[2017-06-14 07:17] damienbod commented on #1
completed

[2017-06-14 07:17] #1 closed

[2017-06-14 08:29] damienbod commented on #3
completed

[2017-06-14 08:29] #3 closed

[2017-06-15 07:38] damienbod opened #10 "Add support for local configuration of well known endpoints"
Some public OpenID server implementations block this for browser applications

[2017-06-15 07:43] damienbod commented on #10
completed

[2017-06-15 07:43] #10 closed

[2017-06-15 08:41] Ibro opened #11 "jsrsasign dependency"
I think the library should handle dependency on jsrsasign, so the developer doesn't have to do it 'manually'. Should figure out a proper way to do it.

[2017-06-15 08:57] damienbod commented on #11
@Ibro thanks, this makes sense. First time I tried this, the  jsrsasign npm package was missing dependencies which this package requires. I need to figure out which packages are required from jsrsasign. Thanks for the suggestion.

If you have time, maybe you could create a pull request to improve this.

Greetings Damien

[2017-06-16 23:25] robisim74 commented on #11
@Ibro Thanks for the suggestion.

@damienbod Finally, I think, I did the trick: https://github.com/damienbod/angular-auth-oidc-client/tree/jsrsasign_integration

In the version on the branch, `jsrsasign` is a dependency of the library, and I found a way to import it also without its definition file: but when you use its functions, you will have to add them to _rollup.config_.
In this way, devs mus

[2017-06-17 05:31] damienbod commented on #11
excellent, test it and works great. updated in version 0.0.9

[2017-06-17 05:31] #11 closed

[2017-06-17 10:47] damienbod opened #12 "Add API docs to the readme"
AuthConfiguration and OidcSecurityService

[2017-06-17 11:48] damienbod commented on #6
completed, kid is required if more than 1 key is defined in the jwk_url

[2017-06-17 11:48] #6 closed

[2017-06-17 11:48] damienbod commented on #7
completed Version 0.0.10

[2017-06-17 11:48] #7 closed

[2017-06-17 17:11] damienbod commented on #9
complete

[2017-06-17 17:11] #9 closed

[2017-06-17 18:07] damienbod opened #13 "Authorization request missing the response_type parameter"

[2017-06-17 18:19] damienbod commented on #13
completed

[2017-06-17 18:19] #13 closed

[2017-06-17 18:21] damienbod opened #14 "support prompt request parameter"
Request with prompt=login

Request with prompt=none when not logged in

Request with prompt=none when logged in

http://openid.net/wordpress-content/uploads/2016/12/OpenID-Connect-Conformance-Profiles.pdf

[2017-06-17 18:23] damienbod opened #15 "Support id_token_hint request parameter Using prompt=none with user hint through id_token_hint"

[2017-06-17 19:02] damienbod commented on #8
completed

[2017-06-17 19:02] #8 closed

[2017-06-17 19:12] damienbod opened #16 "Version for validation"
@robisim74 @FabianGosebrink

This npm is ready now for certification. Should we bump the version to 1.0.0 to do the certifcation?

cheers Damien

[2017-06-17 19:13] damienbod commented on #2
https://github.com/damienbod/angular-auth-oidc-client/issues/16

[2017-06-17 20:23] robisim74 commented on #16
Awesome! I don't see in the docs that the version is relevant, or am I wrong? So we could use a minor version now (0.1.0), and release the major version (1.0.0) with the certification.

[2017-06-17 20:26] FabianGosebrink commented on #16
Cool! Would also go with a version below 1.0.0 and do the 1.0 with the cert. Congrats!

[2017-06-18 05:23] damienbod commented on #16
No mention of the version in the docs anywhere, but the implementation for the tests is usually given and shown on the cert page. My thinking is just that this is the first major release which will plan to do the certification. The proccess validates an exact version. I want to do semantic versioning, with major, minor and patch.

http://openid.net/certification/

[2017-06-18 05:34] damienbod commented on #16
http://semver.org/

[2017-06-18 07:09] robisim74 commented on #16
If so, use the first major release for certification! Semantic versioning consider API and changes, not certifications.

[2017-06-18 07:15] damienbod commented on #16
I only want to consider API changes for the versioning. If an API change result in a a major change or a breaking change, the I plan to re-certify. Opinions?

[2017-06-18 07:21] robisim74 commented on #16
Do you want re-certify on every API change? What other libraries as IdentityServer do?

[2017-06-18 15:16] damienbod commented on #16
We will just validate version 1.0.0. No plans for anything further at the moment. Don't want to re-certify on every API change. A lot of effort... All other libs only have 1 single certification.

[2017-06-19 10:56] damienbod commented on #15
specs:
    prompt
        OPTIONAL. Space-delimited, case-sensitive list of ASCII string values that specifies whether the Authorization Server prompts the End-User for reauthentication and consent. The defined values are:

            none
                The Authorization Server MUST NOT display any authentication or consent user interface pages. An error is returned if an End-User is not alread

[2017-06-19 10:57] damienbod commented on #2
https://github.com/openid-certification/oidctest/issues/27

[2017-06-19 11:52] FabianGosebrink opened #18 "Introducing yarn"
@robisim74 @damienbod how about introducing yarn? Instead of / Beside npm 5?

[2017-06-19 12:06] rahulrulez commented on #15
I was thinking around something that will allow this library to add additional required parameters on the fly.

e.g. The way Azure AD has implemented implicit flow is little different than oid specs. We can not keep adding all the parameters for all the providers. That will make this library a mess.

Instead, how about introducing something like additional parameters type like dictionary. We can b

[2017-06-20 07:30] r4hulp opened #19 "CORS not enabled on Microsoft well known endpoints"
My understanding might be totally wrong. But I wanted to have a discussion around the same.

I was testing the library from ng app hosted on localhost:4200. I am authenticating against Azure AD app (implicit flow). The auth flow gets stuck while getting signing keys.

It appears the some key discovery endpoints (e.g. jwks_uri: `https://login.microsoftonline.com/common/discovery/keys`,  userinfo :

[2017-06-20 09:02] vicver82 opened #20 "Sending credentials to fetch token"
Hi,
This might be a question that has a trivial answer, but I'm new to Angular and OIDC.

In order to get a token, where do I specify the Authorization (in header of POST request), and grant_type, username and password (in POST request's body) in the code?

Thanks a lot for your support and for your work!

[2017-06-20 11:19] damienbod commented on #19
Could this be the same issue

https://github.com/IdentityModel/oidc-client-js/issues/249

[2017-06-20 11:27] damienbod commented on #20
Hi @vicver82 , yes
First you login on the server, the SPA should not deal with user, passwords. A login button redirects you the the server where you login and then you're redirected back the the angular application where you have a token and an id_token.

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/AngularClient/angularApp/app/dataeventrecords/DataEventRe

[2017-06-20 14:00] vicver82 commented on #20
Thank you for your reply @damienbod !
It turns out we are using Hybrid flow with OIDC, which is why I couldn't make this library work.

[2017-06-20 14:34] damienbod commented on #20
Ah ok, you should not use the hybrid flow with a pure Angular SPA.

[2017-06-20 18:59] robisim74 commented on #18
For devs who use the library is indifferent. About the packages upgrade, the next one will probably when Angular 5 will be released. I created the starter using only npm so that anyone who develops the library can feel free to use what he prefer: the only important thing is to update the packages only when needed and properly, otherwise devs will get installation issues.

[2017-06-20 20:14] #16 closed

[2017-06-20 20:15] #20 closed

[2017-06-21 03:52] r4hulp commented on #19
Aha, that's the one @damienbod.

Now I am wondering, how would we validate response with jwt keys. We also would not get user information from the endpoint.

Would skipping validation and user info collection a right way to go ahead if at all we have to make this compatible with AAD?

Just thinking loud.

[2017-06-21 06:01] damienbod commented on #19
No, you could download the well known endpoints and access these from the local service. These hardly every change. Seems like the User service from AAD needs the id_token for access which is incorrect...

[2017-06-21 07:45] vicver82 commented on #20
Thanks for your support @damienbod !

[2017-06-21 10:13] damienbod opened #21 "bug rp-id_token-kid-absent-single-jwks validation"
https://github.com/openid-certification/oidctest/issues/29

[2017-06-21 12:47] damienbod commented on #21
completed

[2017-06-21 12:47] #21 closed

[2017-06-21 13:18] damienbod opened #22 "iat validation message, fix typo"

[2017-06-21 19:34] damienbod commented on #22
fixed. Will be released in next version

[2017-06-21 19:34] #22 closed

[2017-06-21 19:38] damienbod commented on #2
@FabianGosebrink @robisim74

The RP Implicit certification tests have been sent. Version 1.0.2

Will do the RP Config next.

[2017-06-22 12:08] ssilviu87 opened #23 "Silent token renew fails on state validation"
I'm having an issue for the silent token renew flow.
After a few (three or four) successful token renewals, it seems that the library is starting two consecutive silent renew sessions, which causes the local state to be overridden and the response from the first renewal attempt fails at the state validation.
I'm also including a [console log snippet](https://drive.google.com/open?id=0B9XtpWOgIc-VT

[2017-06-22 12:23] damienbod commented on #23
Thanks for reporting this. I'll investigate, could be to do with how I init the silent renew, I don't check if 1 is already running.

[2017-06-23 14:02] damienbod opened #24 "Add support for login in a popup"
request

[2017-06-23 14:03] damienbod opened #25 "Code cleanup authorization callback"
Clean up this code.

[2017-06-23 14:04] FabianGosebrink commented on #25
Already working on a branch here https://github.com/FabianGosebrink/angular-auth-oidc-client/tree/FabianGosebrink/beautify-nested-if

[2017-06-23 14:06] damienbod opened #26 "Reduce size of package"
Package depends on jsrsasign which doesn't tree shake so good. See if it's possible to reduce the size of the auth.module

[2017-06-23 19:51] astegmaier opened #28 "Get storage from dependency injection (for server-side rendering)"
First of all, I wanted to say thanks for sharing this package. I'm finding it lean, well-conceived, and very useful!

I was trying to use it in the context of a project where I'd like to leverage server-side rendering (SSR) based of [this](https://github.com/aspnet/JavaScriptServices) template from @SteveSandersonMS, and I was running into trouble.

One of the constraints of SSR is that there is n

[2017-06-23 20:11] damienbod commented on #28
Sounds great, thanks, PR would be awesome. All storage access is in this class:

https://github.com/damienbod/angular-auth-oidc-client/blob/master/src/services/oidc.security.common.ts

so you would only need to change this and add a property auth.configuration if required. Let me know if you need help, thanks

[2017-06-25 13:13] r4hulp commented on #19
The common `.well-known` point supports CORS. The only problem is other few discovery points. I guess I need to download response from `https://login.microsoftonline.com/common/discovery/keys`, host it somewhere on my backend and regenerate the entire well-known discovery object with new endpoints that support CORS. Also, the userinfo won't work for AAD.

Hacky way to get rid of userinfo requiring

[2017-06-25 16:47] damienbod commented on #19
Agree, but I don't have any control over the server ULRs

[2017-06-25 17:52] astegmaier commented on #28
I create [PR#29](https://github.com/damienbod/angular-auth-oidc-client/pull/29) to cover the DI case.

You mentioned possibly also changing auth.configuration to allow users to do the same thing. This isn't strictly necessary for my case, but I'm happy to create a separate PR to add this feature, too. I wanted to check with you about the right approach, though. I was thinking maybe adding a `setSt

[2017-06-25 18:08] damienbod commented on #28
@astegmaier super.

@robisim74 What do you think about the setStorage(), at present only the OidcSecurityService and the AuthConfiguration classes are required, by the user of the lib.

For me the pull request is good.

@astegmaier How do you set the injectedStorage: Storage in the common?

thanks

[2017-06-25 18:24] damienbod commented on #28
@FabianGosebrink  @robisim74  @astegmaier
I purpose we merge the pull request as it is, and do another one for the setStorage() enhancement

[2017-06-25 22:02] robisim74 commented on #28
@damienbod Yes, since a dev has more ways to do it, we should add a property to the configuration. Please, can you provide a repro how a dev will be able to use a cookie after this change?

[2017-06-25 23:31] damienbod opened #30 "Update Docs with storage configuration"
For example, you can get angular-auth-oidc-client to store access tokens in Cookies by downloading and adding Cookie-Storage to your project, creating a factory method to provide it:

let cookieStorageFactory = () => {
    return new CookieStorage();
}

..and then adding it to the providers array in @NgModule:
{ provide: Storage, useFactory: cookieStorageFactory }

[2017-06-25 23:32] damienbod commented on #28
merged

[2017-06-25 23:32] #28 closed

[2017-06-25 23:33] damienbod opened #31 "Add storage property to the configuration class"

[2017-06-25 23:34] damienbod commented on #30
https://github.com/damienbod/angular-auth-oidc-client/pull/29

[2017-06-25 23:34] damienbod commented on #30
https://github.com/damienbod/angular-auth-oidc-client/issues/28

[2017-06-25 23:34] damienbod commented on #31
https://github.com/damienbod/angular-auth-oidc-client/issues/28

[2017-06-26 05:42] damienbod opened #32 "Support the Revocation Endpoint"

[2017-06-27 02:23] damienbod opened #33 "Check and create an event, discovery http request is complete"
The discovery is loaded when then AuthWellKnownEndpoints constructor is call, round trip. Until this is finished, the urls are not available. A check needs to be added for this, before the authorize function is called.

[2017-06-27 07:35] damienbod commented on #30
complete

[2017-06-27 07:35] #30 closed

[2017-06-28 07:39] damienbod commented on #33
complete, TODO documentation

[2017-06-28 07:43] damienbod opened #34 "storage provider undefined"
If no provider is defined, the module causes the app to crash. Temp fix remove provider from constructor in version 1.0.6,, and replaced with a setStorage method.

TODO test with side app
documentation

@astegmaier  had to reset this, recieved angular errors when no provider was defined per default.

[2017-06-28 07:43] damienbod commented on #34
completed in 1.0.6

[2017-06-28 07:43] #34 closed

[2017-06-28 07:43] #33 closed

[2017-06-28 08:49] damienbod commented on #34
fixed

[2017-06-28 08:50] damienbod commented on #31
setStorage method now in main service, see api documentation

[2017-06-28 08:50] #31 closed

[2017-06-28 10:26] damienbod opened #35 "setStorage not working, using the wrong config value"

[2017-06-28 11:00] damienbod commented on #35
This happens if you use the OidcService in the same module as the Configuration. Then the incorrect default configuration values are used.

[2017-06-28 14:50] damienbod commented on #35
fixed in version 1.1.1

[2017-06-28 14:50] #35 closed

[2017-06-28 14:51] damienbod commented on #19
closing this, repoen if you feel we need to do something here.

Thanks Damien

[2017-06-28 14:51] #19 closed

[2017-06-28 14:51] damienbod commented on #12
complete

[2017-06-28 14:51] #12 closed

[2017-07-01 07:41] damienbod commented on #2
http://openid.net/certification/#RPs Implicit RP is norw Certified

Now the Config RP

[2017-07-01 11:55] robisim74 commented on #2
Great!

[2017-07-03 14:40] AaronHood commented on #23
We had to stop using this package because of this issue.  Any update for this bug?  Thanks

[2017-07-03 14:55] damienbod commented on #23
@AaronHood sorry, I hd no time, busy at my day job. As soon a I get time, I'll address this. At present I have ver little time for OSS

[2017-07-05 11:27] damienbod commented on #23
fix: version 1.1.3

[2017-07-05 14:42] damienbod commented on #23
@ssilviu87  @AaronHood  fixed

[2017-07-05 14:42] #23 closed

[2017-07-05 22:47] Crazyht opened #36 "ServerSide Rendering"
Hi,

I used angular 4 with asp core server rendering (based on https://github.com/MarkPieszak/aspnetcore-angular2-universal). This library is compliant with server side rendering?

If not what you advise for ?

Thank

[2017-07-06 03:03] damienbod commented on #36
Is should be but I have tested it. For the server side rendering you need to replace the sessionStorage with for example cookiestorage.

[2017-07-06 03:05] damienbod commented on #36
This is supported with the setStorage function which needs to be called before the setupModule

[2017-07-06 03:06] damienbod commented on #36
this.oidcSecurityService.setStorage(cookieStorage);

[2017-07-06 03:09] damienbod commented on #36
If this doesn't work, you would have to edit the following class:

https://github.com/damienbod/angular-auth-oidc-client/blob/master/src/services/oidc.security.common.ts

[2017-07-06 03:11] damienbod commented on #36
I will add this feature, test,  example unless you would like to do it

[2017-07-06 06:14] robisim74 commented on #36
@damienbod You don't need to store the token in a cookie for Server side rendering. You only need to not manipulate the DOM. I added the support for SSR with this commit: https://github.com/damienbod/angular-auth-oidc-client/commit/29a4901c888284c0bf3b2aab3f130c1c79ffa5ae
Why was it removed?

[2017-07-06 07:16] damienbod commented on #36
@robisim74 I removed this by mistake. I had to remove the provider from the constructor, but removed to much. Thanks for the info. I'll add it back today.

[2017-07-06 07:25] damienbod commented on #36
@robisim74 fixed in versi0on 1.1.4, thanks for the comment

[2017-07-06 07:41] robisim74 commented on #36
@damienbod no problem. But we should also test the library in the Mark Pieszak app: we still have also a lot of _console_ that maybe could create problems if the the logging is enabled.

[2017-07-06 07:48] Crazyht commented on #36
hi,

console are not problem, probably navigation are (window.location). For managing this problem, I think best way is create INavService and provide 2 implementation (server & client)

[2017-07-06 07:57] robisim74 commented on #36
@Crazyht You are right, also _window.location_ could be a problem. @damienbod Before creating a new service, we should test if we can detecting it: after the bootstrap, it would not be a problem anymore.

[2017-07-06 08:01] Crazyht commented on #36
You can detect client or server side by using PLATFORM_ID available by DI.

[2017-07-07 19:19] astegmaier commented on #36
I'd love to help make this happen. I created a [test repo](https://github.com/astegmaier/angular-auth-oidc-client-SSR-test) to try out the current state of things that I can update to help validate any changes that get made. It looks like @Crazyht was correct, because I get errors related to `window` being undefined when I turn on SSR--see the readme in the test repo for details.

[2017-07-07 19:42] damienbod commented on #36
@Crazyht  @astegmaier @robisim74 super thanks. The test repo is great.

TODO
- find a way of repacing the window
- do we need to replace the console logging for server side rendering?
- ?
- How does the storage work in the server rendering?

I  would really like to get this working as well.

Greetings Damien

[2017-07-07 20:03] astegmaier commented on #36
@damienbod I think I can help answer some of those questions:

- console.log does seem to work fine in node (see documentation), so I don't think that will be a problem.
- for storage, I think the design I've used in the test repo should work in general. That approach uses a storage service that is injected with different implementations for client-side rendering and server-side rendering (see [st

[2017-07-08 00:57] robisim74 commented on #36
@damienbod I pushed a new branch for SSR: https://github.com/damienbod/angular-auth-oidc-client/tree/SSR

Thanks to the test repo of @astegmaier I was able to narrow critical points, and to include them in PLATFORM_ID as suggest by @Crazyht with this commit: https://github.com/damienbod/angular-auth-oidc-client/commit/f473bb68be160097478e91e2f907dd98e83201ae#diff-3551bf70e40e99dfec0656111f37bf52R6

[2017-07-08 01:24] Crazyht commented on #36
usage of location is problem too. For read you can get information with request abstraction like Mark implement it. For write is more complex because no standard practice is provided by Angular, Little service can use window can client and ??? something on server, no standard way, probably something like transfer data to caller (.NET or nodejs) and server response with HttpRedirect like he want.

[2017-07-08 01:34] astegmaier commented on #36
That was fast--thanks! I'll try to test it out on my end to see if it's working. As far as whether to bypass functionality in `angular-auth-oidc-client` or try to rewrite it so it can work on the server, I think we can safely omit anything that requires user interaction (because there is no server). The things that (ideally) would be able to work would be:

1. Retrieving a previously-stored auth t

[2017-07-08 07:13] damienbod commented on #36
@Crazyht @robisim74 @astegmaier Really big thanks! I'll test it against browser app. As soon as I get the OK from ye, I'll make the npm package.

Greetings Damien

[2017-07-08 08:14] damienbod commented on #36
@robisim74 interfaces sound good.
check session : The norm is specified like this.
silent renew : no reason, this could/should be re-written.

We need to maybe rethink the whole silent renew. Have also interesting issues about this in this repo:

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/issues

[2017-07-08 08:30] robisim74 commented on #36
I see. Even if the norm is specified like this, I think it does not specify language, right? So we could use Angular [Render2](https://angular.io/api/core/Renderer2) class, which allows you to work on the DOM without incurring any errors.

[2017-07-08 09:11] damienbod commented on #36
yes. We can implement silent renew anyway we want. check session needs to follow the norm, but if we use Renderer2, it does not matter. Just the iframe,message is defined,

I'll release 1.1.5 as it is, and the interface for the storage and Renderer2  refactor in the next, later versions?

[2017-07-08 09:14] damienbod opened #37 "Refactor storage to an interface"
Example
https://github.com/robisim74/angular-l10n/blob/master/src/services/locale-storage.ts

[2017-07-08 09:15] damienbod opened #38 "Refactor silent renew, use Renderer2"
I see. Even if the norm is specified like this, I think it does not specify language, right? So we could use Angular Renderer2 class, which allows you to work on the DOM without incurring any errors.
Here another example on how I used Renderer2 in a Directive to support SSR: https://github.com/robisim74/angular-l10n/blob/master/src/models/base-directive.ts but many other examples can easily be fou

[2017-07-08 09:16] damienbod opened #39 "Refactor check session, use Renderer2"

[2017-07-08 09:20] robisim74 commented on #36
I'd rather wait for the test result of @astegmaier and @Crazyht for 1.1.5, and yes, then we can rewrite the classes.
I had problem with testing, because we would need to create a full test app (SSR + authentication server).

[2017-07-08 09:20] damienbod opened #40 "issues from AspNet5IdentityServerAngularImplicitFlow"
reported by @InDieTasten
light-weight copy-paste callback handler script for iframe callbacks
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/issues/82

oidc silent-renew only checks for id_token
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/issues/81

oidc silent-renew unnecessary decoding of tokens in loop
https://github.com/damienbod/AspNet5Identity

[2017-07-08 09:23] damienbod commented on #36
I'll setup the test in this branch:
https://github.com/damienbod/angular-auth-oidc-client-SSR-test

I'll add you as admin

[2017-07-08 12:31] damienbod commented on #36
@robisim74 repo is running with own STS. The window item causes problems. I'll replace the npm package with the src code from the npm.

[2017-07-08 12:54] damienbod commented on #36
src code branch
https://github.com/damienbod/angular-auth-oidc-client-SSR-test/tree/auth-src-code

[2017-07-08 13:12] astegmaier commented on #36
@damienbod I took a look at your branch, and I like the changes - I merged them back into my repo, and made a few more to try to hook things up end-to-end. (Was your intention that we both work together on your branch? If so, let me know, and we can move there).

My initial results are that the changes @robisim74 made do fix the errors for the initial repo, but that when I try to do a more complet

[2017-07-08 13:33] damienbod commented on #36
@astegmaier I added you to the repo, so you can work there if you want. I updated the src code version to the latest version from Roberto.

[2017-07-08 13:40] Crazyht commented on #36
For storage you can make something like :

[CustomStorage.ts.txt](https://github.com/damienbod/angular-auth-oidc-client/files/1132991/CustomStorage.ts.txt)

[2017-07-08 14:48] robisim74 commented on #36
@astegmaier As long as we do not provide an interface class, you can not overwrite the storage (at the time _setStorage_ allows you to choose between local and session Storage only).

About the error in the component, you can't you `window` also in the app (not only in the libraries). So you should replace with:
[code]
because OnInit is executed at bootstrap with SSR.

[2017-07-08 14:51] Crazyht commented on #36
Storage modification on my test repo : https://github.com/Crazyht/angular-auth-oidc-client-ssr

[2017-07-08 17:21] Crazyht commented on #36
My repo start, but my main problem is browser don't send hash part of url to server, so I can process token on server side

[2017-07-08 17:59] damienbod commented on #36
Would you like to add the CustomStorage and the changes in the common in a pull request, otherwise I will add it, if it's ok with you?

[2017-07-08 18:00] damienbod commented on #36
@Crazyht How do you solve the problem with the window item?

[2017-07-08 18:14] Crazyht commented on #36
WIndow still in code, but server don't receive token so don't try refresh :)

I will try with cookie-store may be SSR try refresh if token come in cookie.

[2017-07-08 18:15] Crazyht commented on #36
You can add CustomStorage no problem

[2017-07-08 19:21] robisim74 commented on #36
@damienbod are you still there? your latest commit on de test app breaks the build. But is the test app still not configured with authentication server? Missing login etc. What are you testing?

[2017-07-08 20:34] MarkPieszak commented on #36
Sorry I'm late to the party :)
Do we know where it's erroring out during a server render?

Also is the code being wrapped with isPlatformBrowser() and the service grabbed via the `Injector`?
An example below: (Demo of how AppInsightsService is injected browser-only)

[code]

Not familiar with this library here, but are you trying to ignore it completely during server-renders? That's the idea with

[2017-07-08 20:42] robisim74 commented on #36
Hi @MarkPieszak, thank you for your interest! At the moment we applied the logic above in the library, and we have no more errors during the SSR.

The issue has now moved on how to communicate the access token between server and client without the SSR process interfering.

[2017-07-08 22:04] damienbod commented on #36
@robisim74 I'm having troubles getting the test app to run. once it runs, I'll add the login logic. Te server is configured for this.

[2017-07-08 22:20] damienbod commented on #37
@robisim74 I made a test branch for storage using the example from crazyht. Haven't had any success with this yet.

[2017-07-09 10:37] robisim74 commented on #37
Please stop commits. Later I'll do the new storage.

[2017-07-09 10:46] robisim74 commented on #36
Which problems do you have?

However now the problem is not the SSR: they are trying to access to the token from node, and this is not possible: Storage and cookies live in the browser.

After I'll refactored the storage, they will able to override it with a custom implementation, so that they will access to the token from node. But this is another issue.

[2017-07-09 11:29] damienbod commented on #36
I have runtime errors in the client app, I'll get this running and add a login

[2017-07-09 12:25] damienbod commented on #37
Testing with SSR and the 1.1.5 version. I get the following error:

Exception: Call to Node module failed with error: ReferenceError: sessionStorage is not defined at OidcSecurityCommon.setupModule

I believe we need to fix the storage before the SSR works.

[2017-07-09 12:29] robisim74 commented on #37
This error is not related to SSR. Where are you testing?

[2017-07-09 12:43] robisim74 commented on #37
If you are using the version with "custom storage", it's wrong.

[2017-07-09 13:52] damienbod commented on #37
Not using the version with custom storage. Using the last version from the branch origin/SSR.

Created a new default Angular project using the .NET 2 template.
Added the auth module => error

I'll check it in. I need to read up on the SSR then.

Greetings Damien

[2017-07-09 14:18] robisim74 commented on #37
Damien, where I found this project? I had no problems to run the client project using https://github.com/damienbod/angular-auth-oidc-client-SSR-test

In the meantime, I pushed a new branch: https://github.com/damienbod/angular-auth-oidc-client/tree/New_storage

That branch contains the support for SSR & the support for custom storage. For now I can't test it, not even in the normal test app, becau

[2017-07-09 14:32] damienbod commented on #37
thanks, funny I have the same problem with the https://github.com/damienbod/angular-auth-oidc-client-SSR-test, maybe it's something local.

[2017-07-09 14:34] robisim74 commented on #37
For me the problems started when I installed .net Core preview 2...

[2017-07-09 14:38] damienbod commented on #37
Yes, I haven't had any success with .NET Core 2.0 either.

[2017-07-09 14:40] robisim74 commented on #37
For me it works only from the command line.

[2017-07-09 16:59] robisim74 commented on #37
I solved the problems with VS. Please wait to use the new branch because I'm still working on it.

[2017-07-09 19:53] robisim74 commented on #37
@damienbod I completed the test of the branch.

In my opnion, it is ready to be published (v1.2.0 because there are new features).

Changelog:
- Add support for Server Side Rendering
- Add support for custom storage, for example for using cookies (provide class-interface `OidcSecurityStorage`): see README

BREAKING CHANGES
- Setting of storage (_sessionStorage_ or _localStorage_) has been moved to

[2017-07-09 20:50] damienbod commented on #37
Really big thanks! I test tomorrow, update the samples and release.

[2017-07-09 21:34] damienbod commented on #37
released 1.2.0, tested the browser applications. Will test the SSR ones tomorrow

[2017-07-09 21:34] #37 closed

[2017-07-09 21:35] damienbod commented on #36
in test version 1.2.0

[2017-07-10 19:58] astegmaier commented on #36
I made a few tweaks to [damien's test fork of the test repo](https://github.com/damienbod/angular-auth-oidc-client-SSR-test) so that I can test out the latest changes end-to-end. As far as server runtime errors, things look great. Thanks so much for addressing this!

(I had some comments/concerns about the storage interface changes, but I'll post them on on #37).

[2017-07-10 20:07] astegmaier commented on #37
@damienbod and @robisim74 - thanks for attacking this issue--I really appreciate the time you're taking to try to make the SSR scenario work.

I was wondering, though, if it would be possible to use the standard JavaScript [Storage ](https://developer.mozilla.org/en-US/docs/Web/API/Storage) interface instead of a custom one (`OidcSecurityStorage`) ? There already exist many libraries that implemen

[2017-07-10 20:29] robisim74 commented on #37
@astegmaier

By default, the library already uses this interface.

`OidcSecurityStorage` is only an abstract class, that you can customize using what you want (cookies, nodejs storage etc., also through other libraries), if you don't want use the default storage (sessionStorage or localStorage).

[2017-07-10 20:56] astegmaier commented on #37
I think what I was suggesting was a tweak to the way that a consumer of `angular-auth-oidc-client` would provide a custom storage implementation: instead of needing to implement `OidcSecurityStorage`, you could just pull an implementation of Storage (e.g. [cookie-storage](https://github.com/bouzuya/cookie-storage)and [memorystorage](https://github.com/Download/memorystorage)) off the shelf, and pl

[2017-07-10 21:48] robisim74 commented on #37
My opinion:
 - Maybe you can find a compatibility with those libraries, but tomorrow another dev could ask us a compatibility with another library and so on
 - You lose the possibility to implement another kind of storage, like Ionic storage or a database

The only improvement that I think is necessary is to make asynchronous abstract methods (especially if a user wants to use db as a storage) but

[2017-07-10 22:46] astegmaier commented on #37
[Storage ](https://developer.mozilla.org/en-US/docs/Web/API/Storage)is a standard interface. You could create a `Storage` shim for anything you could imagine, including ionic. I sympathize with not wanting to accommodate a bunch of one-off requests (I said it before, and I'll say it again--I really appreciate your taking the time to engage with SSR). But it seems like conforming to a standard is b

[2017-07-11 14:39] damienbod commented on #37
@astegmaier @robisim74 I prefer the custom class to wrap the storage. Per default and for most users, this is not needed. I would prefer that the lib is independent of the Storage class.

[2017-07-11 19:20] cgatian commented on #15
I needed to add `acr_values` to the authorizeUrl.  I ended up overwriting the `createAuthorizeUrl` method on the service to invoke the original and then append the additional properties as needed.

Total hack, but it worked. In favor of what @r4hulp suggested.

[code]

[2017-07-11 19:34] damienbod commented on #15
I'll implement this next, this has been open a while. Good that you could implement it.

[2017-07-11 20:41] cgatian opened #41 "Support isAuthorized$: Observable<boolean>"
In my component I have a property bound to the isAuthorized which remains `false` since `authorizedCallback` is async.

[code]
The way I got around this is by subscribing to the `onUserDataLoaded` EventEmitter, but it feels like there should be an Observable that can emit specifically for this property.

[2017-07-11 21:08] damienbod commented on #41
If your using the main component, you need to wait for an event.

you could wait for the  onUserDataLoaded event.

 this.oidcSecurityService.onUserDataLoaded.subscribe(() => { this.onUserDataLoaded(); });

And Implement a separate function then to set your authenticated property.

Or if you use the this.oidcSecurityService.isAuthorized directly in the template, it will be updated when it is set.

[2017-07-11 22:13] robisim74 commented on #41
The `authorizedCallback` method already emits the event that you have indicated: https://github.com/damienbod/angular-auth-oidc-client/blob/master/src/services/oidc.security.service.ts#L239

This event is emitted after that `isAuthorized` is set: https://github.com/damienbod/angular-auth-oidc-client/blob/master/src/services/oidc.security.service.ts#L229

So the following code in my opinion is corr

[2017-07-11 23:37] astegmaier commented on #37
@damienbod @robisim74 No problem--I can accomplish what I need to for SSR either way--it was more of an ease-of-use/aesthetic suggestion.

I updated [my test repo](https://github.com/astegmaier/angular-auth-oidc-client-SSR-test) to try things out end-to-end with the new `OidcSecurityStorage` interface. The client and server implementations are in [storage-config.ts](https://github.com/astegmaier/a

[2017-07-11 23:48] astegmaier commented on #37
Actually, after reading #41, I think I may have solved issue 2(b) above by changing the home component to:
[code]
I'd love to hear your thoughts about (1) and (2)(a), though.

[2017-07-12 05:26] damienbod opened #42 "Refresh F5 causes userData to be lost"

[2017-07-12 05:27] damienbod commented on #42
https://github.com/damienbod/angular-auth-oidc-client/issues/37

[2017-07-12 05:27] damienbod commented on #42
from @astegmaier

There seems to be some problems calling oidcSecurityService.getToken() and oidcSecurityService.getUserData() Specifically:

a. They will work fine immediately after the user logs in, but if you hard-refresh and call them again, they return nothing
b. the getUserData() method does not work unless you wait a while (~2-3 seconds) after oidcSecurityService.authorizedCallback() starts

[2017-07-12 05:27] damienbod commented on #42
@astegmaier yes, we have a problem here.

[2017-07-12 06:18] robisim74 commented on #37
The type string in README (and in BrowserStorage class) is a my fault: later I'll fix it.
@damienbod I have a doubt: do we need to store objects?

[2017-07-12 06:54] damienbod commented on #37
@robisim74 thanks.

I don't think we should store objects, this would cause a security issue.

[2017-07-12 08:17] robisim74 commented on #37
Fixed. Uhm... but at the time we are storing two objects:
- userData
- wellknownendpoints

[2017-07-12 08:31] damienbod commented on #37
wellknownendpoints does not matter, this is public.

userData, yes, need to think about this.

[2017-07-12 08:37] robisim74 commented on #37
I think we should store userData using DI (only in memory), and not the Storage. Then if a dev wants to save them in a Storage it's his decision.

[2017-07-14 07:43] vicver82 opened #43 "External config JSON -- Authorize() - Cannot read property 'storage' of undefined"
Hi,

I'd like to be able to pull the **openIDImplicitFlowConfiguration** configuration **from an external JSON file** and assign its values to the openIDImplicitFlowConfiguration object before passing it to the setupModule() method.

I've "outsourced" openIDImplicitFlowConfiguration's properties setting to an Angular service, in order to keep the AppModule clean. The service gets the JSON file wit

[2017-07-17 07:06] nigel-dewar opened #44 "GREAT WORK ON THIS DAMO!!!!!!"
Just wanted to say "THANKS!!!!!!" For all your hard work on this Damo!

Fantastic work!!!!!

Cheers mate

Nige

[2017-07-18 12:19] NoMoreLoad opened #45 "Move to HttpClientModule (Angular 4.3+)"
With Angular 4.3 [release](http://angularjs.blogspot.ru/2017/07/angular-43-now-available.html), Angular team was [introduced](https://angular.io/guide/http) new module to work with http requests.
I think it's good to use it.
What do you think about it?

[2017-07-18 20:08] damienbod commented on #45
seems really cool, but we would like to support all versions from 4.0 onwards. Maybe after 3 months we could switch and only support Angular 4.3 onwards, both for the moment would like to support all Angular 4 versions.

Greetings Damien

[2017-07-18 20:11] damienbod commented on #43
I don't have any ideas what's going wrong here. Maybe you could create a demo repo?

Greetings Damien

[2017-07-19 05:51] damienbod commented on #43
Hi @vicver82 I was able to reproduce this. Will fix as soon as possible

[2017-07-19 07:09] damienbod commented on #43
Hi @vicver82 I hve made a quick fix for this. Need it myself. This might change, I want to confirm, review the changes with @FabianGosebrink and @robisim74

I'll update the docs once reviewed. fix in version 1.2.2

App.module:
[code]
Then config the module:
[code]

AppComponent
[code]

Handle the authorize callback using the event
[code]

And remove the ngInit

Greetings Damien

[2017-07-19 07:20] damienbod commented on #43
@FabianGosebrink @robisim74 this fixes the refresh problem, if you wait for the setuModule event before using the module

[2017-07-19 07:20] damienbod commented on #42
https://github.com/damienbod/angular-auth-oidc-client/issues/43

[2017-07-19 07:20] damienbod commented on #43
https://github.com/damienbod/angular-auth-oidc-client/issues/42

[2017-07-19 07:21] vicver82 commented on #43
@damienbod Thanks a million for the fix!
I'm implementing it now, will write back here as soon as I'm done.
Best,
Victor

[2017-07-19 08:35] vicver82 commented on #43
@damienbod It works! Thanks for your fix!

[2017-07-19 11:17] NoMoreLoad commented on #45
Ok, Iclose this issue)

[2017-07-19 11:17] #45 closed

[2017-07-21 07:38] damienbod commented on #42
Fixing in the branch

https://github.com/damienbod/angular-auth-oidc-client/tree/dev-refresh

requires breaking changes, the IsAuthorization is now a subscription

@robisim74 @FabianGosebrink good? also will be a new Version 1.3.0
Most also fix the userData

[2017-07-21 07:46] damienbod commented on #41
fixing here

https://github.com/damienbod/angular-auth-oidc-client/issues/42

The onUserDataLoaded is only emitted after a login from a id_token token flow. This does not work with a id_token flow (which is anyway useless but has to be supported for OIDC certification) and also with a browser refresh

[2017-07-21 08:42] damienbod commented on #42
user data is now fixed, uses a subscription instead of a event

[2017-07-21 12:29] #42 closed

[2017-07-21 12:29] #43 closed

[2017-07-21 12:29] damienbod commented on #41
Updated 1.3.0

[2017-07-21 12:29] #41 closed

[2017-07-21 16:09] damienbod commented on #44
thanks

[2017-07-21 16:09] #44 closed

[2017-07-21 16:09] damienbod commented on #18
complete

[2017-07-21 16:09] #18 closed

[2017-07-22 09:07] nigel-dewar opened #48 "OidcSecurityService.getToken() only returns authorizationData and not authorizationDataIdToken"
Hi Damo,

Im trying out the new angular auth client.

I noticed when using this client ( OidcSecurityService.getToken() )that its not giving me the full access token. Its giving me the authorizationData

baa0badda05ed62ea1b108d7421cf666a00249d5709c4ee50a42b42ce4273162

But it should be giving me the authorizationDataIdToken  like:

"eyJhbGciOiJSUzI1NiIsImtpZCI6ImI1ODllOTg0ZmE0ZjZkNDQ0OTIzZDIzNGY2O

[2017-07-22 09:14] damienbod commented on #48
Hi @nigel-dewar
The getToken() returns the full token returned from the STS server. This example is using a reference token to the access_token, which is just a random string. This is more secure, because the access_token never leaves the secure zone, and the lifecycle of the reference token can be controlled

If you want to just the real access_token in the client, your can reconfigure the STS se

[2017-07-22 09:26] nigel-dewar commented on #48
Hi Damo, Thanks for your reply. The thing is, when I look in chrome session strorage I can see the full token is being stored there, so I'm not really sure how this is more secure?
![image](https://user-images.githubusercontent.com/9402456/28490004-9ad79186-6f13-11e7-88e7-4155474f211e.png)

[2017-07-22 09:38] nigel-dewar commented on #48
I see what you mean Thank you. I changed the sts config for the client from Reference to Jwt.

Thanks for your reply.

[2017-07-22 09:38] #48 closed

[2017-07-24 19:16] Silthus opened #50 "authorizedCallback called before wellknown endpoint is discovered"
The authorize callback function tries to access the jwk_uris from the well known discovery endpoint without checking and waiting for the endpoint to load.

In certain edge cases, where the configuring module is loaded later, and the discovery of the well known configuration arrives after the call of the authorizeCallback, the authorizeCallback fails with the following error message:

To fix such t

[2017-07-24 19:39] damienbod commented on #50
thanks for this.

[2017-07-25 07:47] vicver82 commented on #42
Hi @damienbod ,
When I display data from an API that requires an OIDC authentication token, and I hit the browser's refresh button (F5), the angular-auth module doesn't send the Authorization token in the http request's header. Only a "soft" refresh (i.e. calling the http method to re-fetch the data without F5) works.
Would you have any idea of what's wrong?

Best,
Victor

[2017-07-25 08:10] damienbod commented on #42
Hi @vicver82 This should work now. Can you compare it to this solution:

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/tree/npm-lib-test/src/AngularClient/angularApp

Component which gets server data and refresh support:
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/npm-lib-test/src/AngularClient/angularApp/app/dataeventrecords/dataeventrecords-

[2017-07-25 15:54] jsklassen opened #51 "Firefox & Well known endpoints must be loaded before user can login"
I might be missing something obvious here or I've discovered a bug.

I'm getting an error "Well known endpoints must be loaded before user can login!" when I call securityService.authorize() but only in Firefox. In Chrome and IE11 this works properly and redirects to the login page.

I am using the implicit flow. I'm using angular-auth-oidc-client 1.3.0, Firefox 54.0.1, Angular 4.3.1. This same pr

[2017-07-25 16:18] damienbod commented on #51
This seems strange. I'll look into it. The implicitFlow.override_well_known_configuration and implicitFlow.override_well_known_configuration_url properties are only required, if the STS server does not support this for browser clients. These properties make it possible to load the configuration locally.

What does the well known endpoints HTTP request return? Can you check this in the network F12?

[2017-07-25 16:57] jsklassen commented on #51
In chrome it returns

`{
  "issuer": "https://identityservertestprovider.cloudapp.net/",
  "jwks_uri": "https://myserver/.well-known/jwks",
  "authorization_endpoint": "https://myserver/connect/authorize",
  "token_endpoint": "https://myserver/connect/token",
  "userinfo_endpoint": "https://myserver/connect/userinfo"
}`

if I place that in `assets/data/wellknownconfiguration.json` and then add

`

[2017-07-26 07:43] damienbod commented on #15
https://github.com/damienbod/angular-auth-oidc-client/pull/52

[2017-07-27 12:24] craigpayne commented on #50
Experiencing the same problem.  Has this been fixed? Authorize firing before discovery endpoint  loaded

[2017-07-27 15:55] damienbod commented on #50
@craigpayne  no, plan to do this as soon as I have access to a PC, in 2 weeks

[2017-07-27 16:30] damienbod commented on #50
You could also subscribe to the onModuleSetup event before calling the authorize or authorizeCallback functions see the api docs for an example

[2017-08-01 10:03] MovGP0 opened #54 "Question: how to get an resource access token?"
**Context**
[code]

**Question**
How can I request an Access Token with an audience of `https://api.foo.com`?

[2017-08-01 14:36] damienbod commented on #54
@MovGP0 If you use the id_token token Implicit Flow, you will recive the access_token back.

The getToken method then returns the access token.

https://github.com/damienbod/angular-auth-oidc-client/blob/master/src/services/oidc.security.service.ts#L111

Greetings Damien

[2017-08-01 17:14] MovGP0 commented on #54
the access token I get is for the STS. But I figured out a method that works for me:

* the `Client` gets the `Access Token` and the `Refresh Token` from the STS using the `Implicit Flow`
* the `Client` send the `Access Token` to the `Resource`
* the `Resource` uses the `IdentityEndpoint` to validate the token and get the user information
* If the user has the proper role claims, the `Resource` in

[2017-08-02 09:43] damienbod commented on #54
Yes you could just use the id_token token flow. No need to get the access_token a second time.

Greetings Damien

[2017-08-02 12:22] MovGP0 commented on #54
well, how do I get the `id_token` then? the `.getToken()` method returns the STS access token, and the `.getUserData()` method doesn't return the ID token either, but only its decoded variant. Apparently, it doesn't get exposed by the `.authorizedCallback()` method like the access token.

[2017-08-02 12:47] MovGP0 commented on #54
btw: i am not fully sure what an ID Token flow is. There is
* Implicit Flow (for web clients)
* Authorization Code Flow (3-ledged OAuth flow)
* Resource Owner Password Credentials Flow
* Client Credentials Flow / Code Flow (for clients with secrets)
* Hybrid Flow (basically what I do, but with an additional roundtrip for checking the user roles)

sources:
* [OpenID Connect Flows](https://www.scott

[2017-08-02 13:08] damienbod commented on #54
Hi @MovGP0

OpenID Implicit Flow (id_token token) => web clients which access APIs

This PR makes it possible to get the id_token (Will be merged next week when I have a PC again)

https://github.com/damienbod/angular-auth-oidc-client/pull/49/files

Why do you need the id_token?

Greetings Damien

[2017-08-02 13:22] MovGP0 commented on #54
what I **need** are

1. user claims in the frontend to enable and disable visible functionality; `.userData()` is fine for that.
2. resource access tokens for the resources (there are more than one)

what I **have** is after the Implicit Flow is

1. the user claims (id token)
2. the STS Access Token (can be used to get additional tokens from the token endpoint)

[2017-08-02 13:30] damienbod commented on #54
@MovGP0

The access_token can be used to access the user data endpoint which has the user claims. (or userData which is the same for the id_token token flow.

The access_token is also used for the APIs

Why do you need additional tokens?

Greetings Damien

[2017-08-02 13:41] MovGP0 commented on #54
when accessing the API, I don't want to invoke the User Data Endpoint every time for performance reasons. So my current method is that the Resource invokes the User Data Endpoint only once and gives the Client an Ressource Access Token when the Resource Owner has the appropriate claims.

The Client can cache this Ressource Access Token and use it to access the Resource.

* The advantage is that th

[2017-08-02 13:45] MovGP0 commented on #54
the problem I have with the access_token is that it is issued with
[code]
what I would need is:
[code]

[2017-08-02 16:23] damienbod commented on #54
You should not use the aud like this. You should use, scopes, or api resources claims for this.

 aud
REQUIRED. Audience(s) that this ID Token is intended for. It MUST contain the OAuth 2.0 client_id of the Relying Party as an audience value. It MAY also contain identifiers for other audiences. In the general case, the aud value is an array of case-sensitive strings. In the common special case whe

[2017-08-02 16:43] damienbod commented on #54
But it should be possible to add multiple aud values in IdentityServer4  to the access_token so only 1 token is required.

[2017-08-02 20:19] MovGP0 commented on #54
I guess it is. Just haven't figured it out yet.

As I understand it, I need to do the following:

1. create an API Resource for each Resource Server.
2. bundle claims into Scopes that the user can allow or deny.
3. add the Scopes to the appropriate API Resources
4. configure UserClaims, which the ApiResource can get from the user.
5. when asking for the access token handle the name of the ApiResou

[2017-08-04 07:35] #54 closed

[2017-08-07 09:32] robertmuehsig opened #56 "Large authorizationDataIdToken (because of roles etc.) & cookie storage"
Hi

We are pretty new in the Angular and OpenID Connect land, so maybe we are doing things just plain wrong :)

Our IdentityServer (v3 btw) returns a "large" list of claims ("groupSids" and associated roles) from the UserInfoEndpoint

![image](https://user-images.githubusercontent.com/756703/29020169-67bb943c-7b61-11e7-9d69-675766a27f1e.png)

The jwt is about >5500 chars.

Now we wanted to impleme

[2017-08-07 16:18] damienbod commented on #56
Hi @robertmuehsig

I try to split the claims as follows:

id_token : includes only the claims for identity logic in client application
access_token : claims required the API resources
User API in Identity : user profile

Using this lib, the id_token  and the access_token are saved to the local_storage per default.

I would use the local storage for the local persistence. If your using the 'id_toke

[2017-08-09 13:09] damienbod commented on #2
Do config tests

[2017-08-09 14:44] damienbod commented on #2
Tests:

rp-discovery-openid-configuration
rp-discovery-issuer-not-matching-config
rp-discovery-jwks_uri-keys
rp-key-rotation-op-sign-key

[2017-08-09 15:42] #51 closed

[2017-08-09 17:42] damienbod commented on #50
@Silthus @craigpayne Is the following solution ok for you:

subscribe to the onModuleSetup event:

[code]

Handle the authorize callback using the event:
[code]

unsubscribe
[code]

[2017-08-09 18:07] Silthus commented on #50
Looks great 👍🏻
On Wed 9. Aug 2017 at 19:42, damienbod <notifications@github.com> wrote:

[2017-08-09 19:02] damienbod commented on #50
just testing, this doesn't always work because the onModuleSetup event is sometimes before the component subscribes to it. Need to add a moduleSetup boolean check.

[code]

[2017-08-09 19:34] damienbod commented on #50
fixed in version 1.3.3

[2017-08-09 19:34] #50 closed

[2017-08-09 21:01] damienbod commented on #15
custom parameters can now be used for this since version 1.3.4

[2017-08-10 09:12] damienbod opened #58 "IE10+ and Edge search params"
Reported by @breaman
Using the URL class and the searchParams property doesn't seem to be very well supported in many browsers. (https://developer.mozilla.org/en/docs/Web/API/URL). I tried using the url-polyfill to get this working in IE10+ and Edge, but was unsuccessful. Do you know of a way to get this working in more than just Chrome, Firefox, and Opera?

https://github.com/damienbod/angular-au

[2017-08-10 11:46] pieman302 opened #59 "Question - v1.3.4, anyone seen this?"
Have run 1.3.1 / 1.3.2 / 1.3.3 without issue. Went to latest version 1.3.4 and get the error shown in screen dump.

Looking at the code it appears the createAuthorizeUrl is making a call

var /** @type {?} */ customParams =
  this.oidcSecurityCommon.retrieve(this.oidcSecurityCommon.storage_custom_request_params);
        Object.keys(customParams).forEach(function (key) {
            params.set(key

[2017-08-10 11:53] vicver82 commented on #59
I'm also getting an error with 1.3.4. I reverted back to 1.3.2 to keep working on my project. I'll post the error output here at the earliest opportunity.

[2017-08-10 14:14] damienbod commented on #59
looks like 1.3.4 has a bug here. Use 1.3.3 and I'll fix today. Sorry

Greetings Damien

[2017-08-10 14:59] damienbod commented on #58
reverted in version 1.3.5

[2017-08-10 14:59] #58 closed

[2017-08-10 15:08] damienbod commented on #59
@robisim74 The tests run local, but fail on the server, any ideas?

https://travis-ci.org/damienbod/angular-auth-oidc-client/builds/263122531

[2017-08-10 15:20] robisim74 commented on #59
Are you calling an external url inside the test?

[2017-08-10 15:34] damienbod commented on #59
Yes, I can remove this, thanks

[2017-08-10 15:37] robisim74 commented on #59
Maybe there is a way, but it is not simple: https://assertible.com/blog/how-to-run-api-integration-tests-on-ci

Usually it is better to create a mock backend or a mock service.

[2017-08-10 16:12] breaman commented on #58
I know you reverted this code back already, but after getting some sleep, I did get version 1.3.4 working in Edge and IE11 by adding "url-polyfill" via npm and then importing it in my main.ts file with "import 'url-polyfill';" (in the same area where I added code to import reflect-metadata and zone.js). So if this change needs to be added, it does look like there is a polyfill out there that will

[2017-08-10 17:16] damienbod commented on #58
Thanks, I reverted due to this issue.
https://github.com/damienbod/angular-auth-oidc-client/issues/59

I needed to have something working in the npm releases. Plan to fix the issue now, might still use it, so your information is really useful. I need a way of sopporting a string like this

/oauth2/v2.0/authorize?p=b2c_1_siupin

Greetings Damien

[2017-08-10 17:58] pieman302 commented on #59
Thanks guys, appreciated :-)

[2017-08-10 18:23] damienbod commented on #59
fixed in verion 1.3.5

[2017-08-10 18:23] #59 closed

[2017-08-11 20:17] damienbod commented on #2
RP Config certification started

[2017-08-12 03:31] damienbod commented on #2
RP Config is now certified.

https://openid.net/certification/#RPs

[2017-08-12 03:31] #2 closed

[2017-08-14 14:11] robertmuehsig commented on #56
Splitting & using the localStorage did the trick for us - seems to work just fine now. Thanks!

[2017-08-14 14:11] #56 closed

[2017-08-16 02:34] CesarD opened #63 "Error: No provider for Router!"
I get this when I try to run my app.
I guess you left this so the developer perforns the configuration by himself, right?
What happens if I'm using another routing provider like ui-router??

[2017-08-16 04:24] CesarD commented on #63
Yes, I am using ui-router.

I haven't taken a good look into the code yet, but do you redirect by url or do you really need some api from the angular router?

[2017-08-16 04:32] damienbod commented on #63
Yes the router is used after a successful login. You would need to change the router calls in the service

https://github.com/damienbod/angular-auth-oidc-client/blob/master/src/services/oidc.security.service.ts

Just for my knowlegde, why are you using the ui-router?, I've never considered this

Greetings Damien

[2017-08-16 05:09] CesarD commented on #63
Well, to be honest I'm fairly new to Angular 4 since I'm coming from AngularJS 1.6.x, and I'm definitely biased towards ui-router because it was the best routing provider in AngularJS, way better than the built-in one. It handles states instead of routes, allows nested states and views, passing states parameters without url params, amongst many other things.
Now, I'm not fully versed in the angula

[2017-08-16 05:14] damienbod commented on #63
@robisim74 @FabianGosebrink

Should we support the ui-router? What do you think, the default router is used in almost 99.9% of all Angular 4 apps.

[2017-08-16 05:36] FabianGosebrink commented on #63
I have never heard of another router in angular (4) tbh... Angular has a routing system which is officially documented, supported and there are even books about it. Its the way to route in angular. Therefore I am not thinking we should support any other router options than the standard angular one.

[2017-08-16 06:07] CesarD commented on #63
I've been digging a bit more about the native routing provider for angular 4 and from what I've read, some people say they took stuff from the AngularJS ui-router to build the new one better and more similar.
So, stepping a bit aside from the original question, do you think the native one now has less flaws and cons than the one from AngularJS (1.x) and comparable to what ui-router offered in the

[2017-08-16 06:10] FabianGosebrink commented on #63
From my point of view you will navigate yourself into a position where you stuck if you mix another router with angular. You will have more support, better documentation and a better community feedback if you walk the router way angular suggests you. Maybe do an example app to test if it fits your needs (I am sure it will)

[2017-08-16 06:28] CesarD commented on #63
Yeah, from what I've read it SHOULD fit the needs, though I haven't gone very deep into all differences, hence my doubts. And from the (bad) experiences I had with the native routing on AngularJS (1.x), that's why I was sticking with ui-router by default (if you worked with AngularJS you should know it too, for many scenarios there was NO way to go with the native one).

[2017-08-16 07:06] FabianGosebrink commented on #63
The router was always a pain point in AngularJS. However the router, or better: The integration of it and getting it back on track was one of the reasons to skip version 3 and go stright to version 4 of angular. Take a look at it, do a sample application and check if it fits your needs. Can we close this with that?

[2017-08-16 14:15] CesarD commented on #63
Yeah, sure!
Thanks!

[2017-08-16 14:15] #63 closed

[2017-08-16 23:04] CesarD opened #64 "Error: No provider for Http!"
I'm getting this error on my app. Looks like the library is requiring me to import the HttpModule by myself and configure it in my own app module.
Shouldn't be better for you guys to import it in your own library module so it's imported along with your module?
I'm trying to get rid of HttpModule in favor of the new HttpClientModule which is said to replace it. Perhaps you should do the same?

[2017-08-17 04:18] damienbod commented on #64
sounds like a good idea,

@robisim74 @FabianGosebrink ?

[2017-08-17 04:47] FabianGosebrink commented on #64
Yes, but this would be a breaking change. It has to be well communicated.

However this Issue is targeting two things. First, the upgrade of HttpModule to HttpClientModule. Second the re-export of the HttpClientModule in the Lib. Shall we do both?

[2017-08-17 05:21] CesarD commented on #64
Just a question: when you say breaking change are you referring from the consumer point of view or otherwise?
Because if you import another module from within your library, I guess it should be transparent for me.

Anyway, my main point was about your lib importing whatever module you want to implement it with and then have that module re-exported so I don't have to tinker around with the modules

[2017-08-17 05:26] FabianGosebrink commented on #64
Okay, so you are dealing with the re-export. Thank you. IMHO we should use the new HttpClient (other libs do this as well).
@robisim74 @damienbod what do you think about the re-export?

[2017-08-17 09:35] valentinbraun opened #65 "update jsrsasign dependency: 7.2.1 -> 8.0.x"
respecting fixed jsrsasign issues, e.g. https://github.com/kjur/jsrsasign/issues/270

[2017-08-17 09:43] damienbod commented on #65
good idea, thanks

[2017-08-17 15:31] robisim74 commented on #64
About `re-export`: I don't like it, and it is not a best practice for an Angular library, because you create a hidden dependency, and probably in the host application the module will be re-imported again by who does not know the library internally.

About `HttpClient`: it is a _simplified API for HTTP_, just to work with json. HttpModule is not deprecated. We can switch to use it, but I agree with

[2017-08-17 17:22] CesarD commented on #64
Ok, but aside of the re-export or the change from HttpModule to HttpClientModule (which would be 2 things totally optional and at your discretion), why not doing the import of HttpModule directly from your lib module? Why requiring the consumer app to explicitly need to declare something that might not be using at all? Or am I missing something? (I'm fairly new in Angular 4, so I might :) )

[2017-08-17 17:28] robisim74 commented on #64
Since Angular has been built as a library suite (modules in the ES6 syntax), external libraries (but also the same Angular) use dependencies as `peer dependences`, leaving the host application to import them. Otherwise, more imports of the same module and different versions could occur, which would break the application.

[2017-08-17 17:56] CesarD commented on #64
So, it would be a bad practice to do what I mentioned? Because I understood that was a good idea based on the Angular NgModule's guide: https://angular.io/guide/ngmodule.
Would this conflict with using dependencies as "peer dependencies", given that you use Http service internally and is not exposed at all?

[2017-08-17 19:06] robisim74 commented on #64
This is a library, not an app. I try to explain with an example:

A dev builds an app importing HttpModule (or HttpClient is the same), for example using the latest version (4.3.5) because it needs it.
Then he installs this library: at the moment, this library uses the HttpModule installed from the host app (because it requires a peer dependencies of HttpModule ^4.1.0) and the app works without pr

[2017-08-17 20:00] CesarD commented on #64
Yes, I understand this being a library, but -from what I read in articles and q&a's like SO: (https://stackoverflow.com/a/34645112 provides 2 good examples)- wouldn't what you say apply if you were exposing Http somehow? I could bundle 2 different versions of the same library as far as you don't force me to "send you" something with the same version you're using instead of mine (unless you guys ar

[2017-08-17 20:25] robisim74 commented on #64
@CesarD I complete this reasoning with the main example:

Try to install only the official `@angula/common`, and you will see: `@angula/common requires a peer dependency of @angular/core etc.`
Then it is your responsibility to install `@angular/core` and import it in your `AppModule`.

In the same way, this library requires:
[code]
and that you import them in your `AppModule`:

[code]
The Angular

[2017-08-18 00:55] CesarD commented on #64
Hmm, I'm a bit confused: while I can understand having peer dependencies to not create version conflicts, in the case of BrowserModule (from @angular/platform-browser), it imports CommonModule (from @angular/common) on its own, and then I don't need to import BrowserModule AND ALSO CommonModule in my app. The BrowserModule has all the imports it needs on its own so it can work by just importing it

[2017-08-18 07:42] robisim74 commented on #64
Ok, let's make a bit of history:

initially Angular 2 was not split into packages, and every simple function was imported, for example, also `NgIf`. Then it was divided into packages, then the modules were introduced: the _CommonModule_ was considered in the same way as the _core_: it is exported from the _BrowserModule_ so that for a basic app you can only import the _BrowserModule_ : but this is

[2017-08-18 07:57] damienbod commented on #64
@robisim74 Will do it, thanks

[2017-08-18 07:57] damienbod opened #66 "Docs: Angular HttpModule (tomorrow HttpClient) and RouterModule"
I think we should explicitly add in the docs that this library depends on Angular HttpModule (tomorrow HttpClient) and RouterModule

[2017-08-18 07:57] damienbod commented on #66
https://github.com/damienbod/angular-auth-oidc-client/issues/64

[2017-08-18 07:59] damienbod commented on #64
@CesarD @robisim74 @FabianGosebrink

I think we should also remian with this module so that we support all Angular versions from 4 onwards

When Angular goes 5, we could consider this again.

[2017-08-18 11:40] CesarD commented on #64
@robisim74  Thanks a lot for the thorough explanation! Much appreciated!!

@damienbod perfect, thanks to Roberto's explanation I see why the breaking change. Should I leave the state of this issue up to you or prefer me to close it in the meantime?

[2017-08-18 11:43] #64 closed

[2017-08-20 08:07] damienbod commented on #65
Version 1.3.10

[2017-08-20 08:18] damienbod commented on #66
https://github.com/damienbod/angular-auth-oidc-client#using-in-the-angular-application

[2017-08-20 08:34] #65 closed

[2017-08-20 08:34] #66 closed

[2017-08-23 04:13] CesarD opened #67 "Token validation failed and redirect to unauthorized route when accessing with /#/"
I have my app that for certain reasons need to use hash on angular-route.
When I access my app directly through http://localhost:4200/#/ it logs the following in the console:

I think it **might** be because of the following: https://github.com/damienbod/angular-auth-oidc-client/blob/master/src/services/oidc.security.service.ts#L185

It checks that if no hash specified, then takes it directly from

[2017-08-23 18:22] damienbod commented on #67
Hi @CesarD

This is supported.

See this PR for info

https://github.com/damienbod/angular-auth-oidc-client/pull/61

Greetings Damien

[2017-08-23 18:54] CesarD commented on #67
How is it supposed to be used? I'm just following the quickstart guide where you indicate the following:

    private doCallbackLogicIfRequired() {
        if (window.location.hash) {
            this.oidcSecurityService.authorizedCallback();
        }
    }

What should I pass to `authorizedCallback()` as hash?

[2017-08-24 15:52] #67 closed

[2017-08-25 06:22] pyotreq opened #69 "Safari blocked a frame with origin ...."
Safari blocked the frames: myiFrameForSilentRenew and myiFrameForCheckSession.

'Blocked a frame with origin "https://**xyz**.azurewebsites.net" from accessing a frame with origin "https://**xyz2**.azurewebsites.net". Protocols, domains, and ports must match.'

[2017-08-25 08:01] damienbod commented on #69
Hi @pyotreq you need to allow this on the server Try configuring the CORS

Greetings Damien

[2017-08-25 09:40] pyotreq commented on #69
Hi, thank you for your response.
I have added below XML to web.config.
`<httpProtocol>
    <customHeaders>
      <add name="X-Frame-Options" value="ALLOWALL" />
    </customHeaders>
  </httpProtocol>`

I also tried 'ALLOW-FROM https://xyz.azurewebsites.com' but Safari doesn't recognize ALLOW-FROM (https://erlend.oftedal.no/blog/tools/xframeoptions/).

In Azure portal, I added CORS configuration an

[2017-08-25 09:57] damienbod commented on #69
OK, I'll do some testing with Safari , version 9.1.3

[2017-08-25 11:31] NilsEngelbach commented on #69
Did you load your web app within an iframe on a **different** domain?
This could also be fixed with PR #68

[2017-08-25 11:38] pyotreq commented on #69
I have two web apps:
- Angular Web App (for instance: https://**myangular**.azurewebsites.net).
- Identity Server (for instance: https://**myids**.azurewebsites.net).

The iframe is added by OIDC Client to **Angular**: `<iframe id="myiFrameForCheckSession" src="https://**myids**.azurewebsites.net/connect/checksession" style="display: none;"></iframe>`

So yes, it's a different domain.

[2017-08-25 12:28] NilsEngelbach commented on #69
Oh no that a different problem then.
I guess it is the CORS settings on your Identity Server.

Note on X-FRAME-OPTIONS ([RFC 7034](https://tools.ietf.org/html/rfc7034))
 - To allow "all" request the header should not be set all. "AllowAll" is not a valid value.
 - ALLOW-FROM is not supported by all major browsers (see [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options

[2017-08-27 07:43] damienbod commented on #69
Version with fix from @NilsEngelbach is now released: 1.3.12

https://www.npmjs.com/package/angular-auth-oidc-client

[2017-08-28 07:25] pyotreq commented on #69
Identity Server doesn't send X-Frame-Options, but probably default value is _SAMEORIGIN_. I think it is _SAMEORIGIN_ because if I change X-FRAME-OPTIONS (for instance: X-FRAME-OPTIONS = _MY_X-FRAME-VALUE_) and not restart the app then I will get message similar to "You have two values for X-FRAME-OPTIONS: _SAMEORIGIN_ and _MY_X-FRAME-VALUE_".

I've updated package to 1.3.12 and still it doesn't wo

[2017-08-28 08:33] NilsEngelbach commented on #69
Like i said, the new version will not fix your issue, and i also think you should not have to set any headers manually, because integrating the checksession iframe in websites on other domains is what is basically intended for.
Are you running your Identityserver behind a proxy that adds Headers or something?

Have you checked your Client Configuration on the IdentityServer, especially "AllowedCor

[2017-08-28 09:18] pyotreq commented on #69
Yes, I have configured AllowedCorsOrigins in IdentityServer.

Ok guys, it seems that everything works. I've changed token's lifetime to 10 seconds and I get new token per 10s despite the same error ("_blocked a frame with origin ..._"). It is just a logDebug that can be ignored. Log is created by line -> [https://github.com/damienbod/angular-auth-oidc-client/blob/fb366c47a9af7998e6ff18308576d2cdf1

[2017-08-28 09:32] NilsEngelbach commented on #69
@pyotreq Oh good point, i think there should also be a check if window.parent is accessible, like i did for silent renew...

[2017-08-28 14:04] CesarD opened #70 "Router not being injected into OidcSecurityService when registering HttpInterceptor in AppModule"
I'm having this issue right when I started to register an HttpInterceptor in my app.

I created an interceptor following pretty much to the detail this guide: https://ryanchenkie.com/angular-authentication-using-the-http-client-and-http-interceptors#create-an-interceptor and then I registered it: https://ryanchenkie.com/angular-authentication-using-the-http-client-and-http-interceptors#add-the-int

[2017-08-29 06:41] FabianGosebrink commented on #69
So @damienbod can we close this one?

[2017-08-29 09:50] NilsEngelbach commented on #69
@damienbod & @FabianGosebrink : why is there a check for an existing iframe on the parent window anyways for checksession and silent renew?

[2017-08-31 04:32] jbloem9 opened #71 "Authentication fails on mobile browsers."
I have a website deployed on amazon.  When opening the website on my machine everything works as expected. But when I open the same website on a mobile device through the chrome browser on the device I get Authentication issues.  I have attached 2 screen shots of the console for the mobile and normal machine.

Machine Console:
![machine_browser](https://user-images.githubusercontent.com/7578265/29

[2017-08-31 04:58] damienbod commented on #71
@jbloem9 You need to increase the value in the  max_id_token_iat_offset_allowed_in_seconds property

openIDImplicitFlowConfiguration.max_id_token_iat_offset_allowed_in_seconds = 30;

[2017-08-31 06:39] jbloem9 commented on #71
Hi Damien.

I have set this value to a larger value in the configuration setup. When I
run it locally on my localhost the I do see the larger value in the debug
console. However when deployed it keeps reventing to 10 seconds.

On 31 Aug 2017 16:58, "damienbod" <notifications@github.com> wrote:

[2017-08-31 07:21] damienbod commented on #71
How do you init the module?

https://github.com/damienbod/angular-auth-oidc-client/blob/master/API_DOCUMENTATION.md#output-onmodulesetup-eventemitter--new-eventemittertrue

Wait for the onModuleSetup event maybe

Greetings Damien

[2017-08-31 15:25] CesarD commented on #70
Closing as I refactored several things to work around this issue.

[2017-08-31 15:25] #70 closed

[2017-09-01 00:09] jbloem9 commented on #71
Thanks Damien, that fixed it.

[2017-09-01 00:09] #71 closed

[2017-09-01 07:34] shaannder opened #73 "Using with NRGX/Redux"
Good day:

I am trying to use your library with the NRGX library which I am using for the very first time. My observables skills are lacking currently as well.

I was wondering if you could point in the right direction to handle authorizedCallback method as an observable in my side effect class. I would like to handle like below example.

    @Effect()
        attemptPostAuthenticationLogic$ = thi

[2017-09-01 07:39] damienbod commented on #73
@shaannder just learning NRGX myself now :) I'm looking into this now. I'll get back as soon as I know more. Maybe @FabianGosebrink @philipooo coud helpher, they have been trying out NRGX.

Greetings Damien

[2017-09-01 07:43] FabianGosebrink commented on #73
Maybe when sending a auth request you can spread the state with a property "pending" and when the call comes back you can attach a new action like "AUTHENTICATION_SUCCESS" to the store.

[2017-09-01 08:04] philipooo commented on #73
I am not yet familiar with the angular-auth-oidc-client module so I may cant help you out on this. But I want to mention that there is a missing return statement at line 7 of your example code. `return this.oidcervice.authorizedCallback...`

[2017-09-01 14:46] chispaK commented on #73
Thanks for the feedback guys, I will keep plugging away and keep you up to date as well with my progress.

One quick observation though, currently the authorizedCallback is not observable, is it possible to make this observable or expose a similar implementation that is observable. Return a observable<userinfo> and also leave the redirection to the home or unauthorize route to the subscriber. Let

[2017-09-01 14:54] chispaK commented on #73
Sorry guys but I am shaannder, Never realized I was logged into a test account I a just setup.

[2017-09-02 03:07] tcrite opened #74 "Azure B2C"
Hi,

Just wondering if this can work with Azure B2C?

[2017-09-02 04:47] damienbod commented on #74
yes

https://github.com/HWouters/ad-b2c-oidc-angular

Greetings Damien

[2017-09-02 04:53] damienbod commented on #73
Hi @chispaK

You can set trigger_authorization_result_event to false and use the @Output() onAuthorizationResult: EventEmitter instead.

https://github.com/damienbod/angular-auth-oidc-client/blob/master/API_DOCUMENTATION.md#trigger_authorization_result_event

Greetings Damien

[2017-09-02 05:09] damienbod commented on #74
Here's an working example until the PR is merged

https://github.com/damienbod/ad-b2c-oidc-angular

[2017-09-02 14:43] tcrite commented on #74
Awesome. And thanks for the fast response!

[2017-09-02 23:17] nigel-dewar opened #76 "Issue with Angular cli - error: "Collection 'openid-configuration' not found""
Hi Damo,

Have you tried implementing this within a fresh stock standard Angular-CLI project?

I get this error, error: "Collection 'openid-configuration' not found"

Error in console says Unhandled Promise rejection:  Its a status 404, complianing it cant find http://localhost:<myIdSvrPort>/.well-known/openid-configuration   , but when I go there in browser it loads up fine. Is there something wr

[2017-09-02 23:58] nigel-dewar commented on #76
I think I found the issue, In memory DB is interfering with oidc-client. If I remove everything works, if I include then things break. Sorry to bother you. Ill figure this out, and post answer for any others that may run into this.

[2017-09-03 00:33] nigel-dewar commented on #76
Ok update on this.

If you use Angular in-memory-web-api (were talking angular 4 here by-the-way), then it will interfere with OIDC client when logging in.

There is a way to override Angular in-memory-web-api so it is supposed to not do this
https://github.com/angular/in-memory-web-api#passthru  but it doesnt work.

I have logged a bug with Angular in-memory-web-api  to see what they say. closing

[2017-09-03 00:33] #76 closed

[2017-09-03 02:19] chispaK commented on #73
Thanks Damien...

[2017-09-03 05:47] #74 closed

[2017-09-07 03:02] jbloem9 opened #78 "If unauthorized redirect to login and then back to original page"
On our system a user is trying to access a page and is not authorized.  We have added a call to redirect the user to the login screen. After logging onto the system the user needs to be taken to the original page they were trying to access and not the hard coded startup_route. How can I achieve this?

I have found another issue where it sets trigger_authorization_result_event = true but then I am

[2017-09-07 05:28] damienbod commented on #78
Hi @jbloem9

yes you can use the trigger_authorization_result_event for this. The onAuthorizationResult is then returned with a enum which you can use to implement your requirement.

Event:
https://github.com/damienbod/angular-auth-oidc-client/blob/master/API_DOCUMENTATION.md#output-onauthorizationresult-eventemitter

Enum:
https://github.com/damienbod/angular-auth-oidc-client/blob/master/src/serv

[2017-09-07 20:06] CesarD opened #79 "More events notifications"
I'm dealing with some scenarios where I have my application logged-in, if the access token expires when the application is not running (thus not renewing the token when needed) and when I enter again, the api call will fail because the token is already expired, and there's no way to be notified by the library if this has happened.
Same would apply if there was some error during the token silent re

[2017-09-11 03:53] jbloem9 commented on #78
Resolved, thanks.

[2017-09-11 03:53] #78 closed

[2017-09-11 13:29] ydg opened #80 "when the user reloads the page, silent renew is not executed"
If the user is logged in and reloads the page, '_isAuthorized' is true in the storage.

Hence authorizedCallback is never called and so neither is runTokenValidatation.

If I understand the code correctly this means the timer that checks if the tokens are expired is never started and so the silent renew process is never started.

[2017-09-11 13:33] damienbod commented on #80
@ydg sounds correct, would need to catch this somehow. This would mean that once the token expires, the next API call will return a 401 and redirect to the login. Thanks for finding this, we need a way of fixing this.

[2017-09-11 13:52] ydg commented on #80
what if we moved the execution of

`runTokenValidatation()` from `getUserinfo()` to `setupModule()`

I tried it locally and it seems to be behaving as I expect, but is there any bigger picture problem I am not seeing ?

[2017-09-18 19:23] TrueGeek opened #81 "Usage with SystemJS"
Does angular-auth-oidc-client work with SystemJS?

I'm using the [angular-seed project](https://github.com/mgechev/angular-seed)  which uses SystemJS. I've done the usual SystemJS config to add the package but it's not working. Has anyone done this successfully?

[code]

Thanks!

[2017-09-18 20:16] damienbod commented on #81
@robisim74 Any ideas here?

[2017-09-18 20:33] robisim74 commented on #81
There should not be problems with SystemJS. @TrueGeek What do you mean with _it's not working_? Are you getting errors? Which? And which version are you using? Thanks.

[2017-09-18 20:41] robisim74 commented on #81
Another thing: with SystemJS you have to configure also `jsrsasign`, that is a dependency of this library.

[2017-09-19 08:31] brentos99 opened #82 "Auto Login"
Hey,

Great work, I really like this library.

I was wondering if you have a method for forcing login when the Angular app starts. I tried using a Guard and calling _.authorize()_, but I ended up in a huge loop, where the call to _.getIsAuthorized()_ wasn't initialised before I the guard called _.authorize()_ again. :(

The same code with a button calling _.authorize()_ works perfectly.

FYI - In

[2017-09-19 09:05] damienbod commented on #82
thanks, I'll have a look this week. (I have implement this for a client this week.

Greetings Damien

[2017-09-19 14:46] TrueGeek commented on #81
I tried adding jsrassign using the same format:

[code]

No change there but I'm not sure I have the syntax right. The error I'm getting isn't descriptive at all, but it's what I get when I add a new npm package and forget to add it to the SystemJS setup:

[code]

[2017-09-19 15:09] robisim74 commented on #81
The name of the library is `jsrsasign`, and not `jsrassign`.

[2017-09-19 15:15] robisim74 commented on #81
I tried this configuration:

[code]
and it's working fine.

[2017-09-19 15:49] TrueGeek commented on #81
haha... I'm an idiot.

Thank you, both!

[2017-09-19 15:49] #81 closed

[2017-09-20 18:26] mikelunn opened #83 "Forgot Password Implementation"
Thanks for this contribution. I'm interested in learning how one would handle the forgot password scenario using this module to authenticate to the Azure AD B2C service. For whatever reason, the Azure B2C user interface "forgot password link" seems to always redirect the user back to the app (I guess because it is not part of the SignIn/Sign Up policy). The same issue exists when using [msal.js](h

[2017-09-25 12:58] MovGP0 opened #84 "OidcSecurityService emits onModuleSetup before authWellKnownEndpoints are loaded"
`OidcSecurityService` is emiting the `onModuleSetup`-Event before the `AuthWellKnownEndpointsService` has loaded the endpoints.

Instead, it should wait for the `onWellKnownEndpointsLoaded` event before emiting the `onModuleSetup`-Event.

[2017-09-25 18:21] damienbod commented on #84
thanks, will test tomorrow and create a new release

[2017-09-26 21:18] damienbod commented on #82
@brentos99 @tcrite

Hi Brent

I've implement this here:

https://github.com/damienbod/angular-auth-oidc-sample-google-openid/blob/master/src/AngularClient/angularApp/app/app.component.ts

And the auto-login component is required for the login redirect.

Will blog about it when I get a chance.

Greetings Damien

[2017-09-26 21:22] damienbod commented on #84
@MovGP0

Thanks a million, this is part of the 1.3.16 package.

[2017-09-26 21:22] #84 closed

[2017-09-26 21:25] damienbod commented on #83
@mikelunn Hi I'll have a look at this is the next week or so. The forgot password runs with no user logged in  which means the app needs to handle this an allow it. The required API requests should not use the auth header.

Greetings Damien

[2017-09-26 22:15] damienbod commented on #82
https://damienbod.com/2017/09/26/auto-redirect-to-an-sts-server-in-an-angular-app-using-oidc-implicit-flow/

[2017-09-30 07:01] damienbod opened #86 "Update HTTP client"

[2017-09-30 07:01] damienbod commented on #82
@brentos99 Can I close this?

[2017-10-02 08:46] vicver82 commented on #80
Thanks for raising this issue. I am having the same problem.

[2017-10-02 09:16] damienbod commented on #80
@vicver82 @ydg I fix this as soon as possible. Thanks for raising this issue.

[2017-10-03 13:15] damienbod commented on #80
@ydg @vicver82 fixed in version 1.3.17

[2017-10-04 10:29] vicver82 commented on #80
@damienbod Thank you very much. Your library is great!

[2017-10-05 02:35] #82 closed

[2017-10-05 02:35] #80 closed

[2017-10-05 02:36] #69 closed

[2017-10-05 02:36] #4 closed

[2017-10-05 14:17] haidelber opened #87 "Local Storage session_state undefined parse error"
The value of my session_state in local storage is serialized as undefined.

Undefined is not supported in JSON. Therefore JSON.parse throws a SyntaxError as soon as it encounters undefined.

``
ERROR SyntaxError: Unexpected token u in JSON at position 0
    at JSON.parse (<anonymous>)
    at BrowserStorage.read (vendor.js?v=oPJTytp2_H6lNjqzfV8c4mOtYe_1PGijbtehhkuMq44:75071)
    at OidcSecurityComm

[2017-10-05 18:25] damienbod commented on #87
@haidelber
fixed and added to version 1.3.18
https://www.npmjs.com/package/angular-auth-oidc-client

thanks for the fix

Gruss Damien

[2017-10-05 20:52] haidelber commented on #87
Thanks for generating a new package that fast. Now my angular application works again without any errors.

[2017-10-05 20:52] #87 closed

[2017-10-09 11:30] thecepe opened #89 "Using Route Guards and Auto Login"
Hi Damien,

thanks for your great library and all your work you put into it!

I'm trying to protect all routes via a route guard. The route guard should first check if the user is logged in and then if the user has the required role to access this path. This was my first approach:

[code]

At first I had similar issues like Brent described in #82. I ended up in a loop, because after the redirect f

[2017-10-10 12:31] ruimserrano opened #90 "Refreshing the page wipes all storage data"
Hi,

i'm doing a POC using your library and i got this issue.
So basically i'm able to login, get token, send the token using http interceptors, all work fine. My api check the token, all good!

But if i refresh the page, all auth storage data is wiped!

On my debug, i found out that when calling authorizedCallback, it then calls resetAuthorizationData straight away wiping the data.
https://github

[2017-10-10 12:40] ruimserrano commented on #26
Hi,

other thing that don't tree shake very well is rxjs, if you load the bundled file:
import { Observable } from 'rxjs/Rx';

noticed in
https://github.com/damienbod/angular-auth-oidc-client/blob/40790b8909f5218536c6f4f92d7f8329ac5b225d/src/services/oidc.security.service.ts#L7

on other places, your doing the right thing:
https://github.com/damienbod/angular-auth-oidc-client/blob/40790b8909f52185

[2017-10-10 12:43] ruimserrano commented on #73
Do i see a library like ngrx/router-store comming up for auth ??

[2017-10-11 04:24] hamid-riahi opened #92 "Multi Tenant Support"
thanks for your great library and all your work you put into it!

I'm wondering does this library support multi tenancy? in javascript version of oidc client, there is a setting name "acr_values" which you can pass tenant information to Identity Server however, I cannot find it in this library configuration.

Do you have any plan to support this?

[2017-10-11 13:54] rmcc13 commented on #92
I think this is now supported using the [`setCustomParameters` method](https://github.com/damienbod/angular-auth-oidc-client/blob/40790b8909f5218536c6f4f92d7f8329ac5b225d/src/services/oidc.security.service.ts#L150-L152). If you look at the [`createAuthorizeUrl` method](https://github.com/damienbod/angular-auth-oidc-client/blob/40790b8909f5218536c6f4f92d7f8329ac5b225d/src/services/oidc.security.ser

[2017-10-11 14:54] hannesrohde commented on #89
I am working together with @thecepe on this project.

We have been able to solve the concurrency issue by returning an Observable<boolean> from the route guard that in turn depends on the Observable<boolean> from oidcSecurityService.getIsAuthorized().

Stripped down to the bare minimum, the guard now looks like this:

[code]

[2017-10-11 16:17] wojtek-fliposports opened #93 "Missing if getHeaderFromToken returns an empty object"
Lines:

https://github.com/damienbod/angular-auth-oidc-client/blob/e0853e0ea40a332cb774227502bdf74b1259df58/src/services/oidc.security.validation.ts#L225-L233

If `getHeaderFromToken` return an empty object, then `if ('RS256' != alg) ` is always true making log a little bit confusing

[2017-10-11 19:47] robisim74 commented on #89
@hannesrohde @thecepe Thanks for sharing your solution. I used a solution like this in a similar situation: https://github.com/robisim74/AngularSPAWebAPI/blob/master/AngularSPAWebAPI/app/services/auth.guard.ts
As you can see, you can also use the `flatMap` operator if you have to check other observable in cascade.

[2017-10-14 09:07] wojtek-fliposports opened #96 "local_state is always null because is not being set"
https://github.com/damienbod/angular-auth-oidc-client/blob/29f99cbe98d673f33cc28bf9f7c25b47b254b0d6/src/services/oidc.security.service.ts#L180-L184

First time when you run application `storage_auth_state_control` will be `null` so should be compared to `''`  or to `null`

[2017-10-14 17:27] damienbod commented on #96
thanks, I fix this in the next version

[2017-10-14 17:32] damienbod commented on #93
hi @wojtek-fliposports I'll look into this, will fix the log then

[2017-10-14 17:33] damienbod commented on #26
@ruimserrano thanks, nice fix

[2017-10-14 17:36] damienbod commented on #90
I'll documente this, I use the library supporting refresh. Need to document this.

[2017-10-14 20:47] damienbod commented on #96
fix in 1.3.19

https://www.npmjs.com/package/angular-auth-oidc-client

[2017-10-14 20:47] #96 closed

[2017-10-14 20:47] damienbod commented on #93
fixed in 1.3.19

https://www.npmjs.com/package/angular-auth-oidc-client

[2017-10-14 20:47] #93 closed

[2017-10-15 01:37] fdcastel opened #97 "UserData and IsAuthorized out of sync?"
After a successful login both `_isAuthorized` and `_userData` observables are changed.

But after a successful logout just `_isAuthorized` is changed. And `_userData` keeps its old value.

This is the expected behavior? If yes, please explain.

If no, then may I suggest to keep just *one* `Observable<UserData>` and simply derive `_isAuthorized` from it? (`isAuthorized => !!userData`).

Finally, I

[2017-10-15 04:02] damienbod commented on #97
@fdcastel thanks, I will look into this, and also clean up the code

Greetings Damien

[2017-10-16 10:51] fdcastel opened #98 "startup_route -> login_route?"
Suggestion 1: to rename `startup_route` to `login_route` (the one called after a successful _login_).

Suggestion 2: to add a `logout_route` (to be called after a successful _logout_).

Also, the default value `/dataeventrecords/list` is not very useful (except for the sample apps 😉 ). What about to use `'/'` for both login and logout?

[2017-10-16 12:02] damienbod commented on #98
Hi @fdcastel te renaming sounds good. Do you want to cretae a pull request? Otherwise I will do it. Thanks. This would be a breakin change, so I will merge it with the release of the HTTP client update, Angular 5 release :)

Suggestion 2 and 3 tip top as well.

Greetings Damien

[2017-10-16 12:10] fdcastel commented on #98
Sure. It'll be a pleasure! 😄

[2017-10-16 16:11] fdcastel opened #100 "@next version?"
In #98 Damien talked about a future Angular 5 release.

And I presume #86 is just waiting for it, too.

What about to create a `ng5` branch in this repo and to publish a `@next` npm package for it? This way the users could test the next version containing breaking changes while we keep the "non-breaking" one in `master`.

[2017-10-17 04:28] fdcastel opened #101 "Suggestion: Error handling, events and code cleanup/refactors"
I was testing my app against a down STS server and I did notice the error handling for `OidcSecurityService` is lacking. Some considerations:

- `OidcSecurityService.authorize()` doesn't provide any way for the caller to know if something wrong occurred. It has no return values and doesn't throw any exceptions.
  - The only thing it does in case of error is to call `oidcSecurityCommon.logError()`.

[2017-10-17 12:54] ruimserrano commented on #90
Hi @damienbod,

Do you have an working example that i can dig in?

thanks

[2017-10-17 13:59] ruimserrano commented on #90
Hi again

i think i found out my issue. So i was using in my providers in app.module
[code]
so when invoking the line
[code]

will refresh everything wiping the whole data.
so probably you need to check if your lib supports HashLocationStrategy

[2017-10-17 14:09] damienbod commented on #90
Ah ok, why do you use HashLocationStrategy ? Would it make sense to support this?

[2017-10-17 21:23] damienbod commented on #101
@fdcastel I plan to go through this at the weekend, I have a very busy week. I'll merge the first PR as well.

Sorry for the slow answer and thanks for this.

Greetings Damien

[2017-10-18 08:30] ruimserrano commented on #90
well.... using  your lib like it is limits the user, so he cant use HashLocationStrategy.
Should it limit ?
There's a bunch of reasons why HashLocationStrategy exists. Webservers (like IIS) needs proper configuration to enable html5 mode (without hash).
i think that the next condition fails:
[code]
using HashLocationStrategy will always have an hash. So the conditions should be something like
wind

[2017-10-18 12:04] g-guth commented on #19
@r4hulp did you find any solution on this?

[2017-10-18 12:12] damienbod commented on #19
Yes, it was a bug in the http request, it now works

[2017-10-18 14:35] mwymann opened #102 "Version 1.3.19: Duplicate of application in iframe for silent renew"
Hi,

I just installed version 1.3.19 and realized in our app, that after the first silent renew the iframe with id="myiFrameForSilentRenew" contains a duplicate of the entire application and initializes it.

Not sure if this is the expected behavior.

Can you please check that?

[2017-10-19 00:34] fdcastel opened #103 "AuthModule.forChild() registering services?"
What's the purpose of re-registering services (`providers:`) in `AuthModule.forChild()` which were already declared in `AuthModule.forRoot()`?

As a general rule, services should be declared only in root injector (in `AppModule`).

As it stands now, the importing of `AuthModule.forChild()` in any secondary module would cause the creation of another instance of all services declared in its `provide

[2017-10-19 04:26] damienbod commented on #103
@fdcastel This is per design, in case you want to use to lib in a child module only.

[2017-10-19 04:51] #97 closed

[2017-10-19 05:24] chinkan opened #104 "getIsAuthorized keep return false even after login successfully"
Hi,

I just create a new angular project and follow the readme to setup the oidc client.
I want to make it auto redirect to login page when not authorize.
Here is my app.component.ts:

[code]

and the result is getIsAuthorized always return false even after my login process is successful.
Am I writing wrong? Thanks!

[2017-10-19 07:31] robisim74 commented on #104
@chinkan You should not call the login in this way, because you will have a lot of requests initially (where getIsAuthorized is false). If you want redirect to login page, you should use an AuthGuard.
However if it is false also after the login, something else has to fail (the token is correct? etc.).

[2017-10-19 07:34] robisim74 commented on #103
@damienbod  At the moment they are the same: do you have anything in mind for the lazy loaded modules? otherwise you can remove it in the next major release.

[2017-10-19 10:22] damienbod commented on #103
@robisim74 @fdcastel Ok I think we should remove it as well

[2017-10-19 10:27] damienbod commented on #98
Hi @fdcastel I had a few problems improvements with the PR whils testing.
I have created a branch where we can test and finish the changes.

https://github.com/damienbod/angular-auth-oidc-client/tree/dev_fdcastel

- I renamed the login_route to post_login_route
- The isAuthorized event is required, because some users of the lib don't use the userData in this way, auto_userData
- I'm not certain th

[2017-10-19 10:28] damienbod commented on #98
Also I will merge the commit from @robisim74, I reset the master to the last released version until this is fixed

[2017-10-19 10:53] robisim74 commented on #98
Ops... @damienbod I had not noticed the revert, and I re-made the push of the last commits... Please, revert again.

- Ok for `post_login_route`, `logout_route` seems a duplicate
- Ok for keeping isAuthorized

[2017-10-19 11:02] robisim74 commented on #98
About _post_login_route_, a method would be useful to change it at runtime, and then be able to return to the page requested by the user.

[2017-10-19 11:49] damienbod commented on #98
@robisim74 This is possible, the post_login_route is a default route if you're not using the return to page request feature.

[2017-10-19 12:11] robisim74 commented on #98
`trigger_authorization_result_event`, right.

[2017-10-19 17:42] fdcastel commented on #98
👍

My fault. Really `post_logout_redirect_uri` does the job (called from STS server).

I completely ignored it and implemented the "post_logout_route" on Angular client. That's why I suggested it. It should be removed. 👍

Maybe I'll hit a nerve here. Please don't get me wrong 😅. But we **really** should have a set of automated tests for the project.

I know you have a large expertise in this area

[2017-10-19 17:56] damienbod commented on #98
@fdcastel thanks, yes you're right, we really do need tests.

[2017-10-20 08:11] robisim74 opened #105 "Check session & silent renew"
**As a** dev
**I want** to keep the control of library events
**so that** I can improve my app performance

Check session & silent renew, at the moment, are not manageable by the developer.

- **Check session** is used to verify if the user has disconnected from the authorization server:
[code]
   - _It runs every 3 seconds for 10000 times_
   - It does not seem possible to stop it even after the

[2017-10-20 08:35] damienbod commented on #105
Super improvement

[2017-10-20 12:55] stevenvegt commented on #105
I was running into this as well and have a question which is hopefully not to much off-topic:

The `oidcSecurityValidation.isTokenExpired()` method checks against the `exp `parameter of the id_token. My server sets the value at 120s which seemed very low, but then I read the description of the parameter:

This seems to make sense on a server client, or a tipical code flow where the open_id informa

[2017-10-20 13:21] damienbod commented on #98
fixed in version 2.0.0

[2017-10-20 13:21] #98 closed

[2017-10-20 14:27] damienbod commented on #103
removed, from release 2.0.1 onwards

[2017-10-20 14:31] #103 closed

[2017-10-20 15:05] robisim74 commented on #86
There are no changes in v5 about HttpClient, instead Http will be deprecated. So in my opinion is time to switching.

[2017-10-20 15:05] stevenvegt opened #106 "How to handle 302 to login page within the silent_renew iframe"
Hi, thanks for this great library! I'm new to OpenID connect and need a bit of help implementing it in my app:

I use the silent renew iframe to renew the openid_token. When the session on the identity server becomes invalid the url automaticaly redirects the browser to the login form, and this happens to the iframe as well. However, the iframe cannot render the page since it is not allowed to be

[2017-10-20 15:55] damienbod commented on #86
Ok, I will do it tonight

[2017-10-20 20:07] damienbod commented on #86
https://github.com/damienbod/angular-auth-oidc-client/tree/dev_httpclient

[2017-10-20 22:06] damienbod commented on #86
merged into the master, will create a npm once it's tested

[2017-10-21 00:56] fdcastel commented on #101
Reminder: Also add

  - `AuthenticationRefresh, AuthenticationLogout` (main events)
    - `RefreshTokenStart`, `RefreshTokenSuccess`, `RefreshTokenError`

[2017-10-21 06:13] #86 closed

[2017-10-21 06:22] damienbod commented on #100
released now inn 3.0.1

[2017-10-21 06:22] #100 closed

[2017-10-21 06:23] damienbod commented on #101
https://github.com/damienbod/angular-auth-oidc-client/issues/79

[2017-10-21 06:24] damienbod commented on #79
https://github.com/damienbod/angular-auth-oidc-client/issues/101

[2017-10-21 13:12] fdcastel commented on #101
@damienbod May I make an attempt on this one or are you looking for to work on it?

[2017-10-21 14:03] damienbod commented on #101
@fdcastel  Tip top thanks, I don't have the time at the moment.

Greetings and thanks Damien

[2017-10-21 19:23] fdcastel commented on #101
@damienbod What about

[code]

instead of

[code]

Please advise. There is a reason for that `try .. catch` to be other than to guard against `null`/`undefined` object references?

[2017-10-21 21:21] fdcastel commented on #25
Sorry... Can't resist...

![image](https://user-images.githubusercontent.com/629408/31855954-b4ec7c30-b694-11e7-9b79-9b82efb728a1.png)

😂 😂 😂

[2017-10-22 00:53] fdcastel commented on #105
@damienbod @robisim74 I could work on this one, if you both agreed.

[2017-10-24 12:35] haidelber opened #108 "Version 3.x breaks HttpClient Interceptor"
I upgraded to the new 3.x Version today and recognized that it breaks my AuthInterceptor for HttpClient. It seems the use of HttpClient instead of Http is the reason for a cyclic dependency Angular can't resolve.
As a reference this is the code of my Interceptor.
[code]
As I think my usecase is quite common, it would be nice to have some mechanism to work around this cyclic dependency. Just let me

[2017-10-24 13:20] robisim74 commented on #108
@haidelber  That's normal, and it doesn't need a workaround in the library, but in your interceptor. Try this solution: https://github.com/angular/angular/issues/18224#issuecomment-316957213

[2017-10-24 13:33] haidelber commented on #108
Thank you for the fast response. Seems like I gave up too soon while researching this issue..  It'll be nice to include this tip in the doc. I'll create a PR for that.

[2017-10-24 21:48] endigo9740 opened #109 "Steam OpenID Connect to obtain Steam ID?"
FYI I'm familiar with oAuth 2.0 but new to OpenID.

I'm hoping to use this library to access a user's Steam ID via OpenID Connect. However, I'm a bit confused on configuration. Following the quickstart guide I see we (potentially) need credentials and keys like: redirect_url, client_id, scope, etc.

All I see is the "Steam's OP Endpoint URL" of https://steamcommunity.com/openid/ and a way to gener

[2017-10-25 04:46] damienbod commented on #109
@endigo9740 if the steamcommunity.com/openid supports the OpenID Connect Implicit flow, you just need to configure the client API with the required Implict Flow configurations.  I have not found any docs about the steamcommunity.com/openid

Greetings Damien

[2017-10-25 13:26] MovGP0 opened #111 "OidcSecurityCommon should be strongly typed"
OidcSecurityCommon should use getters and setters in order to ensure type safety.

[2017-10-25 15:16] endigo9740 commented on #109
@damienbod Yeah the documentation is very frustrating. It makes several references to what you should be doing, but very little on how to actually do so. They link to official OpenID Connect libraries (including this one) but don't provide any of the credentials it seems you'll actually need, or links to sources that would provide them. I do appreciate the help all the same though.

[2017-10-25 15:54] fdcastel commented on #79
Please, enlighten me: If the app was not running, when you come back and run it will be start in `isAuthorized = false` state. Isn't this enough for you to know that the token needs to be renewed? I can't see a need for another event here.

Now, when the application **is** running, I can see a use for events. In #101 you suggested:

After #101, if silent renew is disabled you will get an `Authenti

[2017-10-25 16:22] rpipkin opened #113 "ERROR ReferenceError: 'URLSearchParams' is undefined in IE and Edge"
Guys, I love the direction of this project.  I was using your raw ts files from before it was an npm package.  I recently replace those with this npm package version.  In IE and Edge, issuing a login request creates this bug in the console and never goes to the Identity server login page.  Here's the error with the stack:

ERROR ReferenceError: 'URLSearchParams' is undefined
"ReferenceError: 'URLS

[2017-10-25 17:05] CesarD commented on #79
Will it? I think it was returning "true" because the id_token was stored in the browser storage, but that doesn't necessarily reflected that the access_token was still valid. In fact, I don't think there's any place that checks whether the access_token is already expired or not...
A user is "authorized" into the application if his/her token is not expired, otherwise it should be "not authorized" (

[2017-10-25 17:14] fdcastel commented on #79
Hm. I see. @damienbod ?

I believe the [code](https://github.com/damienbod/angular-auth-oidc-client/pull/107/files#diff-3551bf70e40e99dfec0656111f37bf52R617) may explain better than me 😉

👍

[2017-10-25 17:47] CesarD commented on #79
I think that only covers if silent renew is disabled. I've seen current applications I have coded in AngularJs with another OIDC javascript library, that if the browser tab was out of focus (another tab selected) for too many hours, it acted as if it was disabled, not keeping the timers and stuff of the silent renewal process, and when I focus on that tab, then right there the application detects

[2017-10-25 19:47] robisim74 commented on #113
@rpipkin thanks for reporting. This is a bug.

@damienbod The error was created by this commit: https://github.com/damienbod/angular-auth-oidc-client/commit/d0745e7a828dd7e319e848acbdeabe83419d998c, when you moved to HttpClient: first `URLSearchParams` was imported from `Http` module, while the local variable is now being used.

[2017-10-25 19:50] endigo9740 commented on #109
We've opted to handle this via our backend server instead. Closing the issue.

[2017-10-25 19:50] #109 closed

[2017-10-25 21:38] robisim74 commented on #113
Has pr: #114

[2017-10-26 05:16] damienbod commented on #109
@endigo9740 ok, but does an OpenID provider exist? I was checking around, and could not find anything.

[2017-10-26 05:27] damienbod commented on #111
PR https://github.com/damienbod/angular-auth-oidc-client/pull/112

[2017-10-26 07:16] damienbod commented on #113
fixed in 3.0.2, thanks @rpipkin @robisim74

[2017-10-26 07:16] #113 closed

[2017-10-26 07:17] damienbod commented on #108
merged, thanks!

[2017-10-26 07:17] #108 closed

[2017-10-26 11:59] g-guth opened #115 "How to get the id_token on redirect_url component?"
Hi,

When a user authenticate with some IDP using oidc, the IDP redirects the user to the `redirect_url`. This url (within the id_token) routes to a component:

          ngOnInit() {
               this.oidcSecurityService.getIdToken(); // null
          }

But in this component the `this.oidcSecurityService.getIdToken();` returns null. Event the `queryParams` are null. Is it possible to get the

[2017-10-26 13:24] g-guth commented on #115
Forget about it, i found the `onAuthorizationResult` event.

[2017-10-26 13:24] #115 closed

[2017-10-26 13:30] g-guth commented on #19
is {tenant-speciefic}.well-known endpoinst working via ajax request for AAD now?

[2017-10-26 17:14] mcano808 commented on #113
A question- how can I make sure I get this fix into my current angular app?

[2017-10-26 18:32] damienbod commented on #113
@mcano808 you can use the npm

https://www.npmjs.com/package/angular-auth-oidc-client

Greetings Damien

[2017-10-26 22:24] nathanvv commented on #89
@hannesrohde @thecepe @damienbod  : So I was trying to do the same and I came across this. I am trying to have the authgaurd do an getIsAuthorized . if true just redirect into app else perform auto-login.

So I scatched everything and took the skeleton of the above auth gaurd that you provided. I am running into the issue where the "getIsAuthorized" is always returning a false.

Was hoping to see

[2017-10-27 04:51] hamid-riahi commented on #92
Oh, Great. Sorry I missed it.

[2017-10-27 04:51] #92 closed

[2017-10-27 05:23] evhfla opened #116 "Silent renew failing with 404 options."
Initial call to identity server works fine, but the silent renew is failing with a 404 option Cors error.  Don't understand how could it be a Cors error when the initial call during login works successfully.  I am using version 1.3.18 of the library.

[2017-10-27 05:56] damienbod commented on #116
If you're getting CORS error, your server is blocking a request. Which request is getting blocked? Then check if the CORS is enabled for this domain. If you have control over the server, you could then configure the CORS to allow this

Greetings Damien

[2017-10-27 06:04] evhfla commented on #116
My point is the original request after login is not blocked, once the access token expires after 10 minutes then the issue occurs.  In other words, the call to the same api that works after the initial login to identityserver doesn't work after silentrenew.  So, if it is a Cors issue, it has to be something with the iframe that the silentrenew is using.  Is there a particular setting that I have s

[2017-10-27 09:35] MovGP0 opened #117 "fix TSLint errors"
remove those unused imports:
[code]

[2017-10-27 10:31] MovGP0 commented on #117
`oidc.security.service.spec.ts` is missing the following imports:
[code]

[2017-10-27 10:53] MovGP0 commented on #117
expects are used in reverse. instead of `expect(expectValue).toEqual(value);` it should read `expect(value).toEqual(expectValue);`.

[2017-10-27 11:31] damienbod commented on #117
Hi @MovGP0

The tests are run:

https://travis-ci.org/damienbod/angular-auth-oidc-client/builds/293584182?utm_source=github_status&utm_medium=notification

I don't have these tslint messages. I'll check again

Greetings Damien

[2017-10-27 11:41] MovGP0 commented on #117
I was using a newer version of the TS compiler

[2017-10-27 12:10] MovGP0 commented on #104
i have some issues with this too. Want to use routing guards that query the `isAuthorized` internally, but since it is false in the beginning, the routing guards won't work.

[2017-10-27 12:17] robisim74 commented on #104
@MovGP0 Could you post your authGuad? because I do not have problems with it.

[2017-10-27 12:32] #111 closed

[2017-10-27 12:54] robisim74 commented on #104
Sorry, where is `getIsAuthorized` method here?

[2017-10-27 12:56] MovGP0 commented on #104
it isn't. but it's the same problem. i get an `null` value for UserData first and the data arrives later.

[2017-10-27 13:00] robisim74 commented on #104
The data are loaded asynchronously, this can not be avoided. If you want the router to be active while the user _is on the banned page_, you must force a redirect after the data has been loaded.

[2017-10-27 13:15] MovGP0 commented on #104
i am unsure if this is working. if the user is really not authorized, i want to redirect to the Secure Token Server automatically, such that the user can log-in.

[2017-10-27 13:24] robisim74 commented on #104
This works without problems:

[code]

Instead of `this.router.navigate(['/signin']);`, you can call the `this.oidcSecurityService.authorize();`.

Then you have the `onAuthorizationResult` method to redirect to the previuos URL.

[2017-10-27 13:36] damienbod commented on #117
fixed using latest typescript

[2017-10-27 13:36] #117 closed

[2017-10-27 23:21] nathanvv commented on #89
@hannesrohde  @thecepe @damienbod : So continuing ob the previous qn... Looking for an authgaurd that does both auto login and authentication. This is the modified version of ur above bare minimum authguard

[code]

It redirects to idp when no user info found. Else it returns a true letting the router handle the redirection to the respective route .

I was hoping if any of you could provide sugges

[2017-10-28 06:45] robisim74 commented on #89
@nathanvv you should not put the setup in your authGuard. You should store the current route and redirect automatically the user after login activating _trigger_authorization_result_event_ and using _onAuthorizationResult_ in your _app.component_. See also here: #104

[2017-10-30 16:28] MovGP0 opened #121 "remove unused locals"
- upgrade to Typescript 2.6.0 via `yarn add typescript@rc`
- enable additional checks in `tsconfig.json`:
[code]
- execute `npm install; npm run build; npm run test`
- fix errors

[2017-11-02 03:58] chinkan commented on #104
Hi @robisim74 , I have changed to use CanActivate as you suggest. And I had create a login component which calls this.securityService.authorize(); in ngOnInit. When I try to go to login page, the debug console print out "Well known endpoints must be loaded before user can login!". It should be the well known endpoints not yet loaded when It call authorize. So I change it to
[code]
No errors now bu

[2017-11-02 04:08] chinkan commented on #104
Also I found that I can go to my login page on oidc server when i create a new tab in my browser and go to my app.
I then login and it redirect to my app but still my app redriect to login page (not my home page). here is my oidc server redirect url:
[code]
P.S. oidc server is IdentityServer4

[2017-11-02 04:41] damienbod opened #123 "Allow user to add optional params for logout"

[2017-11-02 07:05] chinkan commented on #104
Oh, I found that if the post login url had CanActivateGuard protected, it will skip the calling of authorizedCallback() and redirect to login and so on.

[2017-11-02 08:10] chinkan commented on #104
Solved,
I had create a new component which without CanActivateGuard protect and i move the hash checking from app.component.ts to new component. And i changed the callback url to point to that component and It work perfectly!

[code]

[2017-11-02 09:29] MovGP0 commented on #104
This is my login component. I load the configuration from the server first in order to get the location of the OpenID Secure Token Server (STS):

[code]

[2017-11-03 07:19] #104 closed

[2017-11-03 08:48] damienbod commented on #121
done, thanks

[2017-11-03 08:48] #121 closed

[2017-11-03 10:13] damienbod opened #124 "Angular 5"

[2017-11-03 16:51] DooMachine commented on #124
Is it working or just me doing something wrong? Same configuration used in Angular 4.1.2 project and getting error.
Angular 5.x Universal & ASP.NET Core 2.0 advanced starter-kit

`ERROR TypeError: Cannot read property 'split' of null
    at OidcSecurityValidation.getPayloadFromToken (angular-auth-oidc-client.es5.js?8f98:630)
    at OidcSecurityValidation.isTokenExpired (angular-auth-oidc-client.es

[2017-11-03 20:08] damienbod commented on #124
@robisim74 only way to support this is to update with a breaking change, do you see it this way?
 angular 5 onwards dependencies
Greetings Damien

[2017-11-03 20:36] robisim74 commented on #124
@damienbod Do I have hallucinations? Was there a issue here or not?

However, in my opinion the library should be compatible with Angular v5. If you want switch to Angular v5 with breaking changes, the starter is ready, and I can do the update quickly. Let me know.

[2017-11-03 20:43] damienbod commented on #124
ERROR in ./angularApp/main-aot.ts
Module not found: Error: Can't resolve './app/app.module.ngfactory' in 'C:\git\angular2Tests\angular-auth-oidc-sample-google-openid\src\AngularClient\angularApp'
 @ ./angularApp/main-aot.ts 4:0-64

ERROR in Error: Please update @angular/cli. Angular 5+ requires at least Angular CLI 1.5+
    at throwNotSupportedError (C:\git\angular2Tests\angular-auth-oidc-sample-g

[2017-11-03 20:43] damienbod commented on #124
I would prefer not to switch is this is possible

[2017-11-03 20:47] robisim74 commented on #124
This error is not related to the library: simply, AoT compilation has not been updated in the host app (for example, using AngularCompilerPlugin)

[2017-11-03 20:50] damienbod commented on #124
[0] ./node_modules/html-webpack-plugin/lib/loader.js!./angularApp/index.html 397 bytes {0} [built]
npm ERR! code ELIFECYCLE
npm ERR! errno 2
npm ERR! angular-webpack-visualstudio@3.0.0 webpack-production: `webpack --env=prod`
npm ERR! Exit status 2
npm ERR!
npm ERR! Failed at the angular-webpack-visualstudio@3.0.0 webpack-production script.
npm ERR! This is probably not a problem with npm. There i

[2017-11-03 20:52] robisim74 commented on #124
Which example are you trying to update?

[2017-11-03 20:53] damienbod commented on #124
https://github.com/damienbod/angular-auth-oidc-sample-google-openid/tree/dev_5

[2017-11-03 20:54] robisim74 commented on #124
Give me some minute...

[2017-11-03 21:02] DooMachine commented on #124
Using Angular 5.x Universal & ASP.NET Core 2.0 advanced starter-kit
While listening some animal screaming in checkSession iframe, I get an error at console:

    at OidcSecurityService.authorize (angular-auth-oidc-client.es5.js?8f98:1341)
    at NavAuthComponent.login (navauth.component.ts?c613:73)
    at SafeSubscriber.eval [as _next] (navauth.component.ts?c613:37)

[2017-11-03 21:03] damienbod commented on #124
Thanks, I think I found it, looks like I have build problems due to the typescript upgrade, I making silly mistakes now, time to stop for the day.

[2017-11-03 21:10] robisim74 commented on #124
@DooMachine you are posting and removing your issues here, but the errors you are getting do not seem to be due to Angular 5. Please open new issues and provide more information.

[2017-11-03 21:19] DooMachine commented on #124
@robisim74 ah, sorry about that. But, I could not find any other explanation.

[2017-11-03 21:39] robisim74 commented on #124
@damienbod
- you still have the old `main-aot.js` file (which is wrong): https://github.com/damienbod/angular-auth-oidc-sample-google-openid/blob/master/src/AngularClient/angularApp/main-aot.js: remove it
- you are using `"strict": true,` in tsconfig-aot, that means `strictNullChecks`: are you sure you want to use it?

Then the app works.

[2017-11-04 05:47] damienbod commented on #124
closing this. Angular 5 is fine. @DooMachine please create a new issue. @robisim74 thanks for yu help.

Greetings Damien

[2017-11-04 05:47] #124 closed

[2017-11-04 05:49] damienbod commented on #123
This is fairly easier. At present IdentityServer4 does not support localization for the Implicit flow. Will wait until server feedback, solutions are possible

[2017-11-05 14:23] bastienJS opened #125 ""authorizedCallback incorrect state" in browser console"
Hi guys I have a question!

I use angular 5.0.0 and oidc client 3.0.3

**OIDC setup**

[code]

**AppComponent**

[code]
During my application start I get this **warning** message:

_authorizedCallback incorrect state_

That warning

[code]

[code]
returns an "empty string"

[code]
 returns undefined

The root cause seems to be in the
[code]

hash is  ``` "" ``` in your app: https://github.com/dami

[2017-11-06 11:38] robisim74 commented on #125
@bastienJS Please see here: https://github.com/damienbod/angular-auth-oidc-client/pull/61

@damienbod Hash location strategy needs to be documented

[2017-11-06 11:47] robisim74 opened #126 "isAuthorized does not working on refresh in latest release"
In version 3.0.3, isAuthorized does not working on refresh. The reason seems to be this commit: https://github.com/damienbod/angular-auth-oidc-client/commit/75b23501c625348138213ecdad07271da15709af and the getter of `isAuthorized` that always returns undefined: https://github.com/damienbod/angular-auth-oidc-client/commit/75b23501c625348138213ecdad07271da15709af#diff-c743ac95d26029d6df975174c80f75d

[2017-11-06 13:35] damienbod commented on #126
thanks for looking into this, will fix it tonight after work

[2017-11-06 20:40] #126 closed

[2017-11-07 20:36] bastienJS commented on #125
@robisim74 Thanks for the link which helped to solve the problem I described above. But now I have the problem, that after login successfully I get redirected to:

[code]

and angular can not handle/find the route thus a noMatchError is thrown:

[code]

How should I solve this?

[2017-11-07 21:08] robisim74 commented on #125
@bastienJS you should not use hash location strategy (there is a solution for each web server, Apache, IIS, Node.js).

However, I think the problem could be in your router config. Try to add this line to it:

` { path: '**', redirectTo: 'home' }
`

Example:

[code]

[2017-11-07 21:22] bastienJS commented on #125
@robisim74

1.) Why not se hash location strategy??? the guy who solved the '#' problem which you pointed me to also used hash location... your advise is illogical to me.
2.) your ** hint did not help now I can not load the STS login site anymore, always the
http://localhost:4200/#/home is loaded :-)

My question to you is, do you guys really support non-pushstate or do you promote pushstate and y

[2017-11-07 21:32] robisim74 commented on #125
1) https://angular.io/guide/router#set-the-base-href and https://angular.io/guide/router#browser-url-styles
2) I tried to find a solution to your problem, sorry if it did not work

The push state is supported, as in the link above (#61)

Greetings

[2017-11-07 21:47] bastienJS commented on #125
1.) <base href="/"> is in every anglar cli generated app ;-)
2.) no biggy as I think most support from your site will be for pushState as you sample is using it

I guess you you mean 'The hash is supported, as in the link above ...' , right?

I will then start my project with pushState.

[2017-11-07 22:14] #125 closed

[2017-11-08 00:00] robisim74 commented on #125
I don't know if others are using different solutions, but for example this works (tested):

[code]
The point is that you have to remove the hash of _id_token_ for the router, and pass it to the _authorizedCallback_.

[2017-11-08 00:35] robisim74 commented on #125
Another solution: if your authorization server supports fragments in the redirect uri, you could try to use a redirect uri that contains the initial route:

`openIDImplicitFlowConfiguration.redirect_url = 'http://localhost:4200/#/home';`

In any case, managing the hash location strategy is a problem of the host app.

[2017-11-08 01:17] noumanbhatti opened #127 "How to add ForwardedHeaders options ?"
My IdP is running in load balancer  environment and I need to add ForwardedHeaders to my settings. How I'll achieve this using angular-auth-oidc-client ?

in .net core 2.0 I did it as follow

[code]

[2017-11-08 05:11] damienbod commented on #127
@noumanbhatti When do you need to add them? Optional for all requests?

[2017-11-08 05:18] noumanbhatti commented on #127
In my .net core app I set it only once during configuration.
it works fine after that.

I'm using url localhost:5000 for one app built using .net core and it works
fine with the authentication api

but the same api url when used in angular gives me the following error . I
read it somewhere it may happen when authentication api is behind the load
balancer (which is the case in this scenraio)

Faile

[2017-11-08 05:45] damienbod commented on #127
@noumanbhatti

Failed to load https://my.xyz.com.au/.well-known/openid-configuration: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:5000' is therefore not allowed access.

This is a CORS problem which you need to configure on the server. CORS is blocked. Allow CORS for you client IP

[2017-11-09 00:51] adriangarzas commented on #106
I also would like to know how to handle this scenario, do you have any update? @stevenvegt @damienbod

[2017-11-09 05:38] damienbod commented on #106
The HTTPS header blocks X-Frame-Options. If you want to use the silent renew, you need to allow this on your server. (just for local clients) You can do this with CSP.

Greetings Damien

[2017-11-09 13:43] timaxapa opened #128 "Silent redirect url"
Is it possible to set redirect_url for silent renew operation?
For example - On site load, I show SSO form, after login, I redirect to <domain>/auth/success
On this page, I make another request using token and email, for example, and redirect user to page according to his role. But I don't need these operations (get user role by token and email) on silent renew, I need just a new token and I want

[2017-11-11 03:08] jcannata commented on #102
I am seeing this too on my angular app as well as the AngularClient in damienbod/AspNet5IdentityServerAngularImplicitFlow.
I'm a newbie dealing with OAuth/OIDC so this library has been a real lifesaver!

[2017-11-11 19:36] bastienJS commented on #125
Thank you Roberto for all the samples, you should add them to the documentation on the main page ;-)

As I have the free choice concerning location strategy I went with push state redirecting after login works now successfully.

[2017-11-11 19:49] bastienJS opened #129 "OidcSecurityService._isAuthorizedValue differs from localStorage._isAuthorized"
Hi guys,

after login into the IdentityServer I retrieve data from my Api with the persisted bearer token successfully.

When I refresh the client side route my http interceptor is trigger again to get the former persisted token:

[code]
	this._isAuthorizedValue has value 'undefined'

When the request continues I get of course a 401 response as the token is undefined so its not added to the reques

[2017-11-11 19:50] #129 closed

[2017-11-11 19:50] bastienJS commented on #129
sorry just saw this while I used the search AFTER creating the ticket...

https://github.com/damienbod/angular-auth-oidc-client/issues/126

[2017-11-12 17:54] bastienJS commented on #104
@robisim74  How does the implemenation of this call look like ?
 // Stores the attempted URL for redirecting.
                this.authService.setRedirectUrl(state.url);

[2017-11-12 17:58] robisim74 commented on #104
@bastienJS I use sessionStorage (since Dependency Injection is lost during redirection). Here an example: https://github.com/robisim74/angular-openid-connect-php/blob/master/angular-client/src/app/services/auth.service.ts#L28

[2017-11-12 21:12] bastienJS opened #130 "Is oidcSecurityService.moduleSetup bool variable really needed"
I am just digging more in the source code of this library as I really have to understand it.

What always bothered me is this if/else in the root component. I thought why?

[code]

Then I searched the issues and found this: https://github.com/damienbod/angular-auth-oidc-client/issues/50

"just testing, this doesn't always work because the onModuleSetup event is sometimes before the component subsc

[2017-11-13 06:18] noumanbhatti opened #131 "is response type 'code id_token' is supported?"

[2017-11-13 08:25] bastienJS commented on #131
from the main site: "...At present only the id_token token flow is supported..."

[2017-11-13 13:59] IsTypiNOVanS opened #132 "Error: Cannot match any routes. URL Segment: 'id_token'"
Hello,

First I want say thanks Damien, I read a lot of post from your blog which are help me so much during my setup.

But now I have an issue with this package that I cant solve...
I trying to use this package to connect an Angular 5.0.0 SPA application to an IdentityServer4.
After the login, I have this route issues:

Thanks for your help.

[code]

[2017-11-13 19:07] damienbod commented on #131
Only the 'id_token token' and the 'id_token' flows are supported.

The 'code id_token' flow should not be used together with an Anguar applicaiton.

Greetings Damien

[2017-11-13 19:36] damienbod commented on #130
@bastienJS Depending when the application loads, the event might be missed, and so the check is required. Normally, the app never hits this.

[2017-11-13 19:37] damienbod commented on #128
@timaxapa Not yet, but this would be a good improvement.

[2017-11-13 19:39] damienbod commented on #102
https://github.com/damienbod/angular-auth-oidc-client/issues/128

[2017-11-13 19:39] damienbod commented on #102
@mwymann @jcannata At present the whole app is loaded in the iframe. This coould be improved

[2017-11-14 13:06] bastienJS commented on #132
Would it not be better to incoporate the getTokenHash method in the oidc library and use it inside authorizedCallback function when hashlocation strategy is configured? Then the framework would handle these things and not every user :-)

[2017-11-14 14:39] pedosoul commented on #131
How do we use the "id_token token" receive into our application (angular2) to request an securised .net core API ?

[2017-11-14 23:51] jcannata commented on #102
@damienbod For the record, I am using version 3.0.4 sources. A related issue to having the entire app loaded in the iframe is that subscriptions such as

[code]

in the 'main' app will not receive any change notifications detected by the iframe's instance.
In my case I protect various routes by subscribing to getIsAuthorized(). If a user logs outs (via oidcSecurityService.logoff()) I will receive

[2017-11-17 02:51] k-schneider commented on #36
Wondering what the status of this is since there hasn't been any activity here in a while.  Does this library work with Universal?  Thanks!

[2017-11-17 06:12] damienbod commented on #36
@astegmaier has a running example, correct?

Greetings Damien

[2017-11-20 02:53] noumanbhatti opened #133 "Cannot read property 'replace' of undefined"
I've implemented the AutoLogin feature and after successful login in the following code I receive an error in browser console which says "Cannot read property replace of undefined"

**Is it a bug or I'm missing something in code?**

[code]

[2017-11-20 09:26] Benji-Yarmand commented on #106
@damienbod
Thanks for your answer. Would you please illustrate how to "allow this on my server"?
I'm using IdSrv3.

[2017-11-23 09:45] jlouros commented on #106
@Benji-Yarmand I have exactly the same issue. Reading this comment from one of IdentityServer3 authors https://github.com/IdentityServer/IdentityServer3/issues/2764#issuecomment-219672498 it seems there is a way to use an iframe without rendering HTML. I never heard of this before, so I'm still trying to figure out how that would work.

[2017-11-23 13:27] IsTypiNOVanS commented on #132
@robisim74 @damienbod @bastienJS
Hi,
Like said before, I had some callback issues solved with my last post above.
Now, I'm using the autologin system illustate in this project :
https://github.com/damienbod/angular-auth-oidc-sample-google-openid
But the same hash issues was throw during my test.

To solve this I change the autologin code with a mix of the two solution like below :

`
export class

[2017-11-23 14:13] Hainesy commented on #105
This seems to be what is causing an entire change-detection cycle in our application every few seconds, and it's killing performance. Is it by design that the entire shadow DOM would be re-evaluated just for session checking, or could I have done something wrong in my implementation?

[2017-11-23 14:34] Hainesy commented on #133
I'm getting the same.

[2017-11-23 22:04] damienbod commented on #133
This happens when the server returns no response. Can you check what the server returns?

Greetings Damien

[2017-11-23 22:05] damienbod commented on #105
Set the lifespan of the tokens to 10, or 20 minutes

[2017-11-24 12:26] IsTypiNOVanS commented on #133
Sometimes, I have the same issue.
If I succeed to catch the server returns, I'll post it.

[2017-11-27 09:08] Hainesy commented on #105
I already have it set to 24 hours...

[2017-11-27 09:35] damienbod commented on #105
The entire change-detection cycle in the application should not be affected by the silent renew. This checks every n seconds if something is required and does nothing. Only if the id_token has expired, will it execute the authorize and validation functions

[2017-11-28 08:57] Hainesy commented on #105
I have run several tests and it appears this is not correct. The change detection cycle still runs even if the token has not expired.

[2017-11-28 09:01] Hainesy commented on #133
I'm almost certain this is not an issue with what the server returns. All indications point to some kind of bug/race condition in the auth client.

[2017-11-28 14:22] robisim74 commented on #102
@damienbod I think I find the reason why the whole app is loaded in the iframe. After the silent renew, you redirect to the base `redirect_url`, and so all the content at the redirect url is loaded into the iframe. Other libraries like _oidc-client-js_ redirect to another content, for example _silent-renew.html_, just to provide the necessary operations, so only the content of _silent-renew.html_

[2017-11-28 15:39] jcannata commented on #102
But just redirecting to an .html file is not enough, @robisim74 . What must happen is that _code_ must be able to process the data returned in the redirected url. That code is currently implemented by the angular-auth-oidc-client library in TypeScript. So the silent_renew.html would either have to duplicate (in JavaScript) the library so it could update the session data or you need a separate angu

[2017-11-28 16:30] robisim74 commented on #102
There are several ways to achieve that: simplest is one line of code with a post message to an event listener in the library.

[2017-11-29 06:37] damienbod commented on #105
This should not happen. Can you post your id_token, STS config configuration?, oidc configuration?

[2017-12-04 15:25] eddiederk opened #134 "Change refreshSession() to public"
Give developers the ability to manually refresh the token.

[2017-12-05 13:58] thecepe opened #136 "Silent renew not working with v3.0.2"
We are successfully using silent renew of the access token with version 1.3.19.
After upgrading to version 3.0.2 the token renewal is no longer performed. The log shows no errors.

Is there anything I missed when upgrading to 3.0.x? I left all configuration settings unchanged and this is the config we are using:

`openIDImplicitFlowConfiguration.stsServer = environment.keycloakBaseUrl + '/auth/rea

[2017-12-09 10:22] damienbod commented on #136
@thecepe So the problem is when I set a negative value for the silent_renew_offset_in_seconds when using silent renew?

What is the lifespan of the id_token and the access_token? These should be larger than the silent_renew_offset_in_seconds  + the clock skew

6000 for the id_token
6300 for the access_token would be good values

The silent renew would then be triggered every 10 minutes - the silen

[2017-12-09 10:22] damienbod commented on #134
thanks

[2017-12-09 10:22] #134 closed

[2017-12-09 10:24] damienbod commented on #133
@Hainesy @IsTypiNOVanS Would love to get more information on this. Looks like I need to improvement the log messages for this no matter what the issue is.

Greetings Damien

[2017-12-09 10:25] damienbod commented on #131
@noumanbhatti @bastienJS

Closing this. If your using an MVC application, then the hybrid flow would be a good option, but not for SPAs

[2017-12-09 10:25] #131 closed

[2017-12-09 10:27] damienbod commented on #116
@evhfla This is probably CSP protection blocking iframes

[2017-12-09 10:30] damienbod commented on #73
This is possible, but need to make shore that the used store is a global store and not a module store, if you want to reuse. and also if you subscribe to the store, then also unsubsubscribe in the ngDestroy

[2017-12-09 10:30] #73 closed

[2017-12-10 20:52] FabianGosebrink commented on #25
Fixe by commit #702f1bb

[2017-12-10 20:52] #25 closed

[2017-12-11 13:27] thecepe commented on #136
@damienbod thanks for your response. I think I mixed up two problems in my first message, sorry for that.

The major problem is that with version 3.0.2 the token renewal is no longer performed (for both negative and positive settings of _silent_renew_offset_in_seconds_).
I set the token lifespan to 10 minutes and double checked the token (  "iat": 1512996503, "exp": 1512997103 -> lifespan: 600). D

[2017-12-11 15:07] feargear opened #138 "Audience list does not work"
We were using angular-auth-oidc-client v1.3.14 and decided to update to the latest client. Our identity server (wso2is) returns a list of clientid:s in the id_token's **aud** property. However, the new version of the angular oidc client seems to compare the list directly with a string. I noticed that the ts code is like this

`if ((dataIdToken.aud as string) !== (aud as string)) {
    this.oidcSec

[2017-12-11 21:48] damienbod commented on #138
OK, I will support a array again. We updated to strict Typescript, incorrectly. I will add support for arrays again. Will fix this in the next couple of days. Thanks for reporting

Greetings Damien

[2017-12-12 15:07] Hainesy commented on #133
@damienbod I'm pretty sure this is not a server issue. I've just seen the error occur again on the client, and the server logs all look fine. I haven't been able to trace beyond this.

[2017-12-13 18:50] acwatson opened #139 "Support for silent renew without requiring access token"
The angular-auth-oidc-client is awesome! Here's one suggestion:

Currently, the OidcSecurityService.runTokenValidation method checks to see if there is a value for `_this._userData.value` before it will perform a silent renew via `_this.refreshSession();`

For my use case, I actually don't want an access token or userData at all. All I need is the id token and for it to be renewed when it expires.

[2017-12-14 08:22] Pasivk86 commented on #139
Hi, I am also joing for the request. I am using b2c and always my userData is empty. Filling userData is not working for b2c. I discover the same problem with token renew like acwatson write. Can apply that change in next release?

[2017-12-14 11:05] paszkowskik opened #140 "UserData support for azure b2c"
Hi, we decided to choice your library because it has best feature of all oidc b2c libraries but one feature it is still missing for azure b2c.
Generaly I got a problem with token renew and after analyse the code I understood that problem is cause userData has empty string. UserData is based on userInfo endpoint that azure dont provide yet. Currently for my own purpose to get all user claims I am u

[2017-12-14 12:37] damienbod commented on #140
@paszkowskik thanks

If you set the auto_userinfo to false, the user data is not used. This should work, otherwise this is a bug.

Hope this helps greetings Damien

[2017-12-14 15:41] paszkowskik commented on #140
Thank you for very fast replay. Unfortunetly we have auto_userinfo = false and this case that i wrote before is happens no matter of that flag.

[2017-12-14 16:06] damienbod commented on #140
@paszkowskik I will support this then as soon as possible. Want to do a fix this weekend, will add this fix, if I find the bug

[2017-12-15 16:27] damienbod commented on #140
openIDImplicitFlowConfiguration.auto_userinfo = false;

When this is set, the user data is now set from the id_token.

Will merge and release, once I get a test fixed.

[2017-12-15 16:29] damienbod commented on #138
Now supports an array of strings of any object.

Will release this weekend, just need to fix a test first

[2017-12-15 17:39] paszkowskik commented on #140
Thank you very much. We are waiting for release.

[2017-12-15 18:19] MovGP0 commented on #133
I can confirm this issue with the current development branch.

[2017-12-15 19:38] damienbod commented on #133
Do you wait until the oidc module is setup before handling the authorization callback?

[2017-12-15 20:24] damienbod commented on #140
fixed in 3.0.9

[2017-12-15 20:24] damienbod commented on #138
fixed in 3.0.9

[2017-12-15 20:24] #138 closed

[2017-12-16 13:41] damienbod commented on #133
I will add more logging around the authorize callback, to try to add more light on this issue. It could also be, that the app trys to use the access token before it is ready

[2017-12-16 22:19] damienbod commented on #139
implemented in 3.0.9

[2017-12-17 09:05] damienbod commented on #140
found another bug for this, will fix and release it in 3.0.10

[2017-12-17 09:09] #140 closed

[2017-12-17 09:35] paszkowskik commented on #140
We will check it tommorow when we will come back to work. Good job, we are very thankful.

[2017-12-18 09:36] paszkowskik commented on #140
We can proudly say that problem is resolved. First case userData is working correctly with b2c when flag auto_userinfo = false. Second thing is renew token is working now and that was very important case for us. Only one thing I notice that is a mistake in documentation because to renew token before it expire you must put positive value, not negative like documentation suggest.
Thank you very much

[2017-12-18 09:39] Pasivk86 commented on #139
Yes its working now. Empty UserData was the problem before, when now userData is supported for b2c token renew is working. Thank you for very fast response

[2017-12-18 10:25] Pasivk86 opened #141 "Support B2C multi scope access"
Hi, we have a problem that our angular client need to have an access for two different APIs based on azure B2C (both have different scopes). B2C has policy that each resource (scope) must have its own token so we can't use one access token to authorize two different api.
Our suggestion is support B2C multi scopes that will generate token for each scope. We are concious that its a lot of effort fro

[2017-12-18 11:39] #141 closed

[2017-12-18 11:40] paszkowskik opened #142 "Support B2C multi scopes access for different APIs"
Hi, we have a problem that our angular client need to have an access for two different APIs based on azure B2C (both have different scopes). B2C has policy that each resource (scope) must have its own token so we can't use one access token to authorize two different api.
Our suggestion is support B2C multi scopes that will generate token for each scope. We are concious that its a lot of effort fro

[2017-12-18 11:51] damienbod commented on #136
https://github.com/damienbod/angular-auth-oidc-client/issues/140#issuecomment-352373360

[2017-12-18 11:54] #139 closed

[2017-12-18 12:21] damienbod commented on #142
@paszkowskik

Sounds good. I think this could be implemented pretty easy. The first login requests the id_token token (one scope). The the app could then request a second token using the token endpoint.

opinion?

Greetings Damien

[2017-12-18 12:45] paszkowskik commented on #142
I am not sure that I understand your vision, can you explain it more ?

[2017-12-18 13:23] damienbod commented on #142
Hopefully I understood correctly :)

You need 2 access tokens, on per API. Thhe first access token can be got by doing the id_token token flow. Only request 1 scope. Then after a successfull login, you can use this access_token and request a second token using the OIDC token endpoint, wich returns the second token with the other scope.

The package would then need to support the OIDC token endpoin

[2017-12-18 14:17] paszkowskik commented on #142
Now we understand it clear. Solution that you propose is simple and exacly that we need. Only one problem more is how to handle scopes config (maybe it should has names like key - value) and corelation of conqret scope with conqret access token.
Can you provide features that you described in previous post ?

[2017-12-18 14:53] damienbod commented on #142
Yes, but it might take a while, I'm very busy at my day job, will try to get it done before XMAS, unless you do a PR first

Thanks for the feedback.

greetings Damien

[2017-12-18 23:35] acwatson commented on #105
Related to this issue, I was seeing errors today where it seemed like if the silent renew was slow, a 2nd silent renew would start up before the first one completely finished. The code seemed to keep doing this over and over and the silent renew never succeeded. When I changed the validation/timeout polling interval from 3 seconds to 7 seconds, this problem disappeared. It would be great if the si

[2017-12-18 23:43] gerardl123 commented on #133
I'm using version 1.17 (planning on upgrading to the latest soon) and I get the same issue. I've turned on the logging and I seem to get that error whenever the nonce fails validation. I've checked the server logs and I can confirm it returns the correct nonce. What I think is happening from reading the logs is that the client sends an authorize request to the server with a nonce which it stores o

[2017-12-19 07:56] damienbod commented on #142
@paszkowskik Just 1 thing, you should check if the B2C STS supports this first. Is this possible to config the token endpoint in this way? I will implement this using IdentityServer4 as the STS. If we use the OIDC token endpoint, it should work without any further changes.

[2017-12-19 10:35] paszkowskik commented on #142
I am reading now how we can implement that feature and I have found usefull article. There is written that we need to use authorization code flow than after code gain you have redeem that on access token.
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code

GET https://login.microsoftonline.com/fabrikamb2c.onmicrosoft.com/oauth2/v2.0/authorize?
cli

[2017-12-19 10:39] paszkowskik commented on #142
Yes we will check it today to be sure about possible implementation by /token endpoint

[2017-12-19 13:38] thecepe commented on #136
@damienbod tested with 3.0.9 and token is now renewed. Thanks for fixing the issue!

[2017-12-19 13:48] MovGP0 commented on #133
I have this problem occasionally when the token refresh happens and is not yet completed:
[code]
Stacktrace:
[code]
This is what happens on the local storage:
[code]
Then I make a GET request to the identity server:
[code]
Which returns with a `302: Found` status code. At this time another XHR request from the applications starts to make a database request, which fails because the Bearer token is

[2017-12-19 15:29] paszkowskik commented on #102
@robisim74 could you tell us how you did resolve that issue because we today noticed the same like whole app is loaded into iframe.

[2017-12-19 15:34] robisim74 commented on #102
@paszkowskik I do not think you can solve this problem yourself. It must be resolved within the library.

@damienbod Why did you close this issue?

[2017-12-19 19:58] #136 closed

[2017-12-20 10:42] paszkowskik commented on #142
Its seems like B2C its not the same like  Identity Server 4 because propably we cannot use /token endpoint to get access token for another scope. We are still analyse that how it works in B2C. Currently we have to hold that work because from tommorow everyone has holidays until new year.

[2017-12-20 10:48] paszkowskik commented on #142
Could you tell us which grant type you would to use in that case ?

[2017-12-20 12:44] MovGP0 commented on #133
I was able to reproduce the issue in commit `73771cdff70a15e4a9410761783c480479c99db9`.

[2017-12-21 12:33] aminebizid commented on #19
It works for .well-known but not for  /discovery/keys

[2017-12-21 16:11] dracan commented on #133
I get the same. Unfortunately, I don't have anything more to add that's not already been said - but thought it worth mentioning anyway.

[2017-12-21 18:47] damienbod commented on #133
Is the checksession always active when this happens?

[2017-12-22 13:40] dracan commented on #133
I'll check next time I'm working on it (which will unfortunately be after Christmas I'm afraid). I only work for this client one day a week, so can't check at the mo (and it doesn't happen all the time either).

[2017-12-22 20:56] DooMachine commented on #133
In my scenario. First I get warning:

Then userData got empty then I got an warning in my callback component that

Then I get the
`ERROR TypeError: Cannot read property 'replace' of undefined` error

Don't know websocket warning is related to this issue but, I just get this errors in first silent renew attempt. Then silent renew works without error or warning in my console.

[2017-12-22 22:36] damienbod commented on #133
I think I know the reason for this bug now, when the silent renew starts, until it is finished, the tokens cannot be used. If the using app, requires a token in this time, it is not available and so the parse error. Will try to reproduce this. To fix this, I plan to separate the silent renew completely from the first authorize.

Thanks to everyone for the feedback. Will fix this as soon as possibl

[2017-12-29 09:14] rcanpahali opened #143 "getUserinfo() function is not sending name claim"
Hi,
I'm trying to get user info from Identity server (identity server 4), **this.oidcSecurityService.getUserData()** function is working well, Im succesfuly retrieving user claims. On the other hand when I use **this.oidcSecurityService.getUserinfo()** function, Identity server handles request and when I check identity context, user comes as authenticated however identity name is null which causes

[2017-12-29 16:12] mpszczolinski commented on #133
Please note, that it also happen when user is signed out of STS, and the Angular app does silent_renew.
`IsAuthorized: id_token isTokenExpired, start silent renew if active
17:03:00.668 angular-auth-oidc-client.es5.js:695 BEGIN refresh session Authorize
17:03:00.671 angular-auth-oidc-client.es5.js:695 RefreshSession created. adding myautostate: 15145533147370.5138137561867451
17:03:00.676 angular-

[2017-12-31 19:46] damienbod commented on #133
fixed in version 3.0.10

The error is now removed, and if the server session has ended, the silent renew logs warnings to the console in the browser

Can some of you test, thanks Damien

[2018-01-01 09:36] damienbod commented on #143
@rcanpahali This depends on how you setup the profile data. You can add this explixitly using the IProfileService interface when using IdentityServer4. You can check which claims are sent by opening the id_token, or the access_token is you check use this in an API.

Greetings Damien

[2018-01-01 15:31] lgoudriaan commented on #36
I didn't get it to work.

I have tried to get it to work in my own test repository here: https://github.com/lgoudriaan/oidc-ssr-example

All default angular functionalities break after login, does anyone have an idea what I am doing wrong?

[2018-01-01 21:47] mpszczolinski commented on #133
Hi,
Seems to work now.

However, now I see other bug. After token refresh success, I see that it calls route 'openIDImplicitFlowConfiguration.post_login_route' and in ma console I see that in fact that Component (Component that I have under post_login_route) constructor is called, and ngOnInit is called.

Is it bug that refresh token "calls" that route, creating it - but in fact not redirecting th

[2018-01-02 09:05] simonare commented on #143
I am writing on behalf of @rcanpahali

The claims that is handled by the CustomClaimsProvider inherited by IProfile Service is attached below.
apparently "name" claim is missing.
![image](https://user-images.githubusercontent.com/8443438/34478830-c4230d9a-efab-11e7-8b75-35013d36ca5f.png)

The weird thing is when I call GetUserInfo() method, angular sends 3 requests to Identity Server. and these re

[2018-01-02 10:07] mpszczolinski opened #145 "how to properly implement token renew?"
Hi,

I've seen several opened issues about silent_renew being in iframe, but I am not sure if my issue is related or not.

**Issue:** Silent renew does not work properly
**Current behaviour:** Silent renew updates `this.isAuthorized` of new instance of component, which does not update the page that user sees
**Expected behaviour:** Silent renew to update currently visible instance of `this.isAutho

[2018-01-02 11:41] paszkowskik opened #146 "First time of token renew clear localstorage"
Hi, We have noticed that during first time (very first time after application initialization) of token renew, library clear whole session storage. That act causes a problem that for 2-3 seconds we don't have a token. The issue is when user is trying to access API (during token renew) and localstorage is empty we got 401. Feature of token renew should prevent us before 401 because we never shouldn'

[2018-01-02 14:36] paszkowskik commented on #145
I had the same problem like you. Its two different instances so you cant expect that getIsAuthorized().subscribe from main instances will responde on .next() that is called in iframe app instance.

[2018-01-02 16:28] damienbod commented on #146
Thanks for reporting, I'll fix this tomorrow and release. This should not happen.

[2018-01-02 19:31] paszkowskik commented on #146
Thank you very much for fast reponse. We are waiting for release.

[2018-01-03 11:45] thecepe opened #147 "Support for multiple STS?"
I'm want to select between different STS servers to authenticate against in my application before login.

So I tried to provide an OpenIDImplicitFlowConfiguration for each STS and to call oidcSecurityService.setupModule(..) with the configuration of the selected STS.

But this didn't work and the first STS is always used. It seems that the the well known endpoints are not updated after they are in

[2018-01-03 17:52] ricksecretin opened #148 "Is there a way to subscribe to the check session changed?"
First of all thanks for the fantastic library!

In the documentation I found that oidcSecurityService.checkSessionChanged changes to true when the session changes.

Is there any way to to perform some actions when this happens?
In other words is there any way to subscribe to this boolean?

I tried with oidcSecurityCheckSession.onCheckSessionChanged.subscribe() but it does nothing when the boolean

[2018-01-03 18:27] damienbod commented on #148
At present not, I could add an event for this is it helps. We were thinking of adding events for most things in the near future.

Greetings Damien

[2018-01-03 18:30] damienbod commented on #147
At present not. At present this lib can only be used once per Angular app. The AuthWellKnownEndpoints  are only loaded once as a proformance help.

[2018-01-03 18:32] ricksecretin commented on #148
That would be great.

Thanks!

Rick

[2018-01-03 22:22] astegmaier commented on #36
I never actually got it working end-to-end. However, I was able to follow [Priyantha Lankapura](https://github.com/lankaapura)'s [excellent example](https://github.com/lankaapura/Angular-AspNetCore-Idsvr) to add and configure the [angular-oauth2-oidc](https://github.com/manfredsteyer/angular-oauth2-oidc/) package. I tried it out with the new angular-[latest Angular-Cli-based templates](https://doc

[2018-01-04 06:29] damienbod commented on #36
@lgoudriaan @astegmaier
I'll create an example then.

Greetings Damien

[2018-01-06 09:14] damienbod opened #149 "Add silent renew complete event"
Add a event so when the renew fails for whatever reason, the parent application can implement logic as required.

 Release 3.0.12

[2018-01-06 09:15] damienbod commented on #148
Release 3.0.12

[2018-01-06 09:17] damienbod opened #150 "Add new event for onUserDataChanged"
Release 3.0.12

[2018-01-06 15:55] #150 closed

[2018-01-06 16:30] damienbod commented on #146
@paszkowskik Going through this now, and I can't reproduce this. When does this happen? After the first authorization callback, the authorization data is reset, then the token is validated, and the authorized is set.

[2018-01-06 16:35] damienbod commented on #133
@mpszczolinski

I'll fix this and add an event when the silent renew fails. Then the hosting application can react

[2018-01-06 18:48] mpszczolinski commented on #133
... but isn't it more generic problem? I believe that root problem is that 'silent renew' happens in another context, but oidc-client-js 'silent renew' is happenining in the same context.

having above in mind - is the renewed access_token visible in original application context? the fact that silent_renew happens in new context is BUG or FEATURE?

(just asking those question to help you implement

[2018-01-06 19:04] damienbod commented on #133
Thanks The silent renew runs in a iframe, so the logs you see never happen in your main application. I have removed all the routing now from the silent renew. Only the event is sent. The tokens get updated for the main application, makes sense?

Greetings Damien

[2018-01-06 19:38] damienbod commented on #133
Here's how to use the new event

[code]

[code]

[2018-01-06 19:49] damienbod commented on #133
PR
https://github.com/damienbod/angular-auth-oidc-client/pull/151

[2018-01-07 06:34] esoderquist commented on #36
I encountered the same issues described by @lgoudriaan after adding angular-auth-oidc-client into a project based originally on [aspnetcore-angular2-universal](https://github.com/MarkPieszak/aspnetcore-angular2-universal). Traced the issue to the preboot@5.x library. Migrating preboot to version 6.0.0-beta.1 resolved the issue for me.

[This preboot commit](https://github.com/angular/preboot/commi

[2018-01-07 09:05] paszkowskik commented on #146
Maybe I just described it wrongly. It happend during first time of token renew that in session storage I see "running" and after 2-3 seconds session storage is clear (no key/values in session storage) and after 1 second again all library values comeback with new token. It happend only during first time of token renew after initialization of application (by F5), when it happend once next time app i

[2018-01-07 10:16] #149 closed

[2018-01-07 10:17] damienbod commented on #148
https://www.npmjs.com/package/angular-auth-oidc-client

[2018-01-07 10:17] #148 closed

[2018-01-07 10:18] damienbod commented on #133
https://www.npmjs.com/package/angular-auth-oidc-client
fixed

[2018-01-07 10:18] #133 closed

[2018-01-07 10:26] damienbod commented on #146
@paszkowskik Maybe I misunderstood :), thanks for your feedback.

The first time the app initializations, I reset the security data, but this is done in the init application and not the silent renew. Once setup, everything runs.

What I need to find out is, if the app is setup, logged in and then resets, if this happens, we have a bug and need to fix. I cannot reproduce this. Have I understood cor

[2018-01-07 10:35] damienbod commented on #143
@simonare @rcanpahali
Have you added this to the IdentityServer4 Config?

                AllowedGrantTypes = GrantTypes.Implicit,
                AllowAccessTokensViaBrowser = true,
                AllowOfflineAccess = true,
                AlwaysIncludeUserClaimsInIdToken = true,

Also is tis problem with the access_token or the id_token? I assume you have an API and use the id_token token flow.

[2018-01-07 10:38] damienbod commented on #147
You could load the AuthWellKnownEndpoints manually and then you can select the correct STS

https://github.com/damienbod/angular-auth-oidc-client/blob/master/API_DOCUMENTATION.md#override_well_known_configuration_url

[2018-01-07 10:42] damienbod commented on #145
I have added an event for the silent renew so that if it returns an unauthorized, you can redirect to the unauthorized url like this:

https://github.com/damienbod/angular-auth-oidc-client/blob/master/API_DOCUMENTATION.md#output-onauthorizationresult-eventemitter

Would this work for you?

Greetings Damien

[2018-01-07 10:45] paszkowskik commented on #146
"The first time the app initializations, I reset the security data, but this is done in the init application and not the silent renew. Once setup, everything runs." - yes we know that and it is not the problem that I am describing. It happend during token renew from B2C, token expiration time in b2c is 5 min, during my lastest tests I used offest time as 250.
To repeat that you can fallow steps:
1

[2018-01-07 10:57] damienbod commented on #146
Thanks, I'll try to reproduce

[2018-01-07 12:06] damienbod commented on #146
I checked this with an IdentityServer4 STS and cannot reproduce. Will try this will a B2C server now

[2018-01-07 13:04] damienbod opened #152 "Refactor iframe handling to return events in the same context as the main application"
from @mpszczolinski

... but isn't it more generic problem? I believe that root problem is that 'silent renew' happens in another context, but oidc-client-js 'silent renew' is happenining in the same context.

having above in mind - is the renewed access_token visible in original application context?
is the fact that silent_renew happens in new context is BUG or FEATURE?

(just asking those questi

[2018-01-07 13:04] damienbod commented on #152
https://robertnyman.com/html5/postMessage/postMessage.html

[2018-01-07 13:05] damienbod commented on #152
Also fix reloading application inside the iframe

[2018-01-07 19:03] lgoudriaan commented on #36
Hi @esoderquist, Can you please make a quick sample with [aspnetcore-angular2-universal](https://github.com/MarkPieszak/aspnetcore-angular2-universal)? That will help me a lot! I am still doing something wrong I think 😢

[2018-01-09 08:34] thecepe commented on #147
Hi Damien ,
thanks for the hint in the right direction. I'll try that as soon as possible.

[2018-01-11 17:46] profet23 opened #154 "Validate_id_token_nonce failed authorizedCallback incorrect nonce"
I'm constantly getting this error and I'm just not really sure where to begin as far as correcting it.

Validate_id_token_nonce failed, dataIdToken.nonce: N0.80161413015388371515691465967 local_nonce:N0.30791266821172591515691468480

authorizedCallback incorrect nonce
authorizedCallback, token(s) validation failed, resetting

So basically my code loops. trying to authenticate, redirecting, getting

[2018-01-11 19:25] damienbod commented on #154
Hi @profet23

Are you calling the authorize function more than once without waiting for the callback?

Greetings Damien

[2018-01-11 19:44] profet23 commented on #154
It seems like I was.

Some background:
I'm trying to get "auto" login to work. As in if the user hits a page and aren't logged in, the login process will be kicked off.
Right now I'm doing this with an auth guard on any route requiring authentication. If the user is not authenticated they'll get rerouted to a `SignIn` component that just calls the following function on init:

[code]

Any info on w

[2018-01-12 08:03] damienbod commented on #154
@profet23 I'll have  a look at this. I want to improve the setup/init of the module.

[2018-01-13 11:13] damienbod commented on #154
@profet23 The timer is required because the app is not waiting for the init requests to finish. Looking into  way the do this in the APP_INITIALIZER, and then the wait can be removed.

[2018-01-14 08:45] damienbod commented on #154
@profet23 This seems like a bigger problem. The providers and the guards don't wait for the APP_INITIALIZER to complete, only the components in Angular. This seems like a design bug in Angular for me, as you then need to add hacks to the services, guards when using preloaded server data from a HTTP request.

[2018-01-14 09:09] Aeseir opened #155 "getIsAuthorized returning true even when authentication is false"
Heya,

Great package here you got, love it to bits.

I have recently implemented a guard  that checks if user is authenticated before passing through the user.
Overall works great, except when user's token has expired.

[code]

What i noticed is that getIsAuthorized() returns a true, yet when it submits the token, the api call results in a 401 (Unauthorized).

Reading the documentation getIsAuthor

[2018-01-14 17:54] damienbod commented on #155
@Aeseir
I'll try to reproduce this using a guard. Should not be possible, but I need to check. There might be a timing issue when initializing the app. The providers and the guards don't wait for the APP_INIT

[2018-01-14 18:11] damienbod commented on #155
@Aeseir I think I found the bug. Want to do some tests first. I the init:

 const isAuthorized = this.oidcSecurityCommon.isAuthorized;
        if (isAuthorized) {
            this.setIsAuthorized(isAuthorized);

            // Start the silent renew
            this.runTokenValidation();
        }
so I use the old value, even if the token is old. So for a race condition, the is authorized is true.

[2018-01-14 20:34] damienbod opened #156 "init lib settings in APP_INITIALIZER"
fixes timing issues in Auth Guards

[2018-01-14 20:36] damienbod commented on #155
https://github.com/damienbod/angular-auth-oidc-client/issues/156

[2018-01-14 20:36] damienbod commented on #154
https://github.com/damienbod/angular-auth-oidc-client/issues/156

[2018-01-15 10:13] simonare commented on #143
Here is our IdentityServer Client Configuration

[code]

I Have Api but right now I just disabled Api Authentication because of this problem.

I am simply trying to call the method below after successfully get authenticated

[code]

[2018-01-15 10:45] Aeseir commented on #155
Awesome, I thought i was going crazy after the 10 hour coding session. Let me know if you need any further information to help you with this.

[2018-01-15 13:42] damienbod commented on #156
https://github.com/damienbod/angular-auth-oidc-client/pull/157

[2018-01-15 18:16] damienbod commented on #156
https://www.npmjs.com/package/angular-auth-oidc-client

[2018-01-15 18:16] #156 closed

[2018-01-15 18:17] damienbod commented on #154
fixed this in release 4.0.0

[2018-01-15 18:18] damienbod commented on #155
fixed in release 4.0.0

[2018-01-16 05:35] paqogomez commented on #104
@chinkan do you have a repo of your example?  I'm still getting loops using a callback component.

[2018-01-16 07:10] simonare commented on #143
Dear @damienbod

according to my resarch, there is high probability that  the problem is a missconfiguration issue on the id_token side (which I believe you are also suspicious about it). I will post update.

thank you

[2018-01-17 11:20] Aeseir commented on #155
isntalled it, ran it, tested it, works. Legendary, owe you a beer

[2018-01-19 22:20] KollarM opened #158 "Silent renew problem when browser is closed or suspended"
This is partially a problem and partially a question.
Here is the situation:
I'm using Angular 5 SPA application with angular-auth-oidc-client version 4.0.0.
STS is IdentityServer4 hosted and maintained internally.
I'm using Implicit flow.
I have implement OidcSecurityStorage which is storing state using browser local storage (users want to sign in and stay signed in even when they close browser a

[2018-01-20 12:51] ricksecretin opened #159 "Silent renew is refreshing the browser window"
I followed all the steps in the quick start.
But the moment silent renew starts, it refreshes my browser window for an unknown reason.

My appComponent looks like this

[code]
Then I have a loginComponent which has the login form with a facebook login button.

[code]
This is my config
[code]

Am I missing something?

Thanks in advance.

[2018-01-20 13:45] #159 closed

[2018-01-21 08:18] damienbod commented on #158
I think yes. If the token is expired, it should not be automatically refreshed. If the session is active, it will not expire.  In a lot of use cases this would be unsecure if the browser always had an active session even after the user left.

Greetings Damien

[2018-01-22 07:53] KollarM commented on #158
Thanks Damien for your fast reply.
Actually I was looking for a setup where my AccessToken is valid for 1 hour and is refreshed every hour. But user also want to be able to close browser for longer time (few days even) open it again and refresh AccessToken. And repeat this 30 days, after 30 days something like RefreshToken will expire and AccessToken is not able to be refreshed anymore and user wi

[2018-01-22 11:12] damienbod commented on #158
Then I would use a token which does not expire, or after 30 days. If you use IdentityServer4, you could use a reference token to the access_token with the OIDC Implicit Flow, and so it is possible to logout. If the user does not logout, the tokens can be reused and remain valid.

Greetings Damien

[2018-01-22 17:46] Lempkin opened #160 "authorizedCallback incorrect state"
Hi,

In my app I use the HashLocationStrategy so I've tried the solution here : https://github.com/damienbod/angular-auth-oidc-client/issues/125 but it doesn't work for me.
Here what I see in console :

Seems that I do get the token but state is not ok, what am I supposed to do?

I tried with this https://github.com/damienbod/angular-auth-oidc-sample-google-openid  and configure with my OpenId ser

[2018-01-23 07:12] KollarM commented on #158
Thanks I will consider this option.

[2018-01-23 07:12] #158 closed

[2018-01-23 13:59] Lempkin commented on #160
I tried with this https://github.com/damienbod/angular-auth-oidc-sample-google-openid  and configure with my OpenId server (I use connect2id) but I still get the error

[2018-01-23 16:04] damienbod commented on #160
Hi @Lempkin It something to do with how you handle the authorization callback. When the authorize method is called, it saves a state. Then when the callback is returned, the state is checked. If the authorize is called twice beofre the callback, you get these errors

Make sure the authorize is called only once.

I never used HashLocationStrategy, will creatre a test, demo for this.

Greetings Dami

[2018-01-23 17:31] Lempkin commented on #160
Hi, thx for your answer.
I think you missunderstand what I said, I have the error when I call authorize only once.

[2018-01-23 17:32] damienbod commented on #160
@Lempkin Sorry, I'll look into this

[2018-01-24 17:59] Lempkin commented on #160
Hi, more informations about my problem :
In my app.component I have :

[code]

What I see is that doCallbackLogicIfRequired() is always called before the router.event is thrown, so the  `this.hash = window.location.hash;` is always done too late

[2018-01-25 09:11] simonare opened #161 "Promise error on Edge Browsers whenever oidcConfigService.load() function called"
Below is my Auth Module Setup.
this setup is working on Google Chrome and Firefox, but failing on Microsoft Edge Browser.

[code]

I am getting Promise error which is quoted below

[2018-01-25 10:52] Lempkin commented on #160
I've tried to debug a little, and in your code here :

[code]

First time that I'm redirected from sso to my app oidcSecurityCommon.authStateControl il empty, that's what leads to error that I see in console.
Then I run authorize() a second time and this time oidcSecurityCommon.authStateControl contains value, which is === result.state and that's why I don't get error anymore.

But I have no idea

[2018-01-25 12:18] BernhardRode commented on #19
What is your recommended solution for this?

[2018-01-25 19:02] damienbod commented on #19
I download the 2 files and add them locally. Then use these. Here's an example:

https://github.com/damienbod/dotnet-template-angular/blob/master/dotnet-angular-azure-ad-oidc/ClientApp/src/app/app.module.ts

https://github.com/damienbod/dotnet-template-angular/blob/master/dotnet-angular-azure-ad-oidc/wwwroot/jwks.json

https://github.com/damienbod/dotnet-template-angular/blob/master/dotnet-angular

[2018-01-26 02:46] Aeseir opened #162 "Implementation of registration"
Hi

I'm looking to improve of my registration component and was wondering if the package has anything built into it to help with this.

Rationale is that login component will capture the URL and pass it to the identity server for call back and further actions.
There is no similar item for register component but identity server accepts same parameters.

Is there a way to extend the login component

[2018-01-26 06:10] aminebizid commented on #19
@damien you don’t have any garentee that the endpoints and keys won’t change. Storing them locally may don’t work further.

[2018-01-26 06:27] damienbod commented on #19
yes, this is a problem, and I don't now how often this changes,

What you could also do is use Azure AD B2C.

Here's an example. You need to configure this on Azure.
https://github.com/HWouters/ad-b2c-oidc-angular/blob/master/src/app/app.module.ts

[2018-01-26 09:35] neildonkin opened #163 "Cannot read property 'stsServer' of undefined"
I'm using this technique to retrieve sts server config, as shown in your sample code:
[code]
The exception is thrown on this line:
[code]
I can see the config data is returned from the sts, but for some reason the `clientConfiguration ` property is `undefined`.

I'm using an IdentityServer4 sts.  Could this be because my sts url is not using ssl?

[2018-01-26 10:27] umfaruki opened #164 "Unhandled Promise rejection: StaticInjectorError(AppModule)[OidcSecurityService -> Router]"
I am trying to implement this and facing this issue please help:

error is
![untitled](https://user-images.githubusercontent.com/7438486/35435665-679f3746-02ad-11e8-807c-32944a6c6290.png)

i am using angular 5.2.2

[2018-01-26 13:15] damienbod commented on #164
This happens when a required provider is missing

Check you app.module providers.

Greetings Damien

[2018-01-26 13:20] damienbod commented on #163
The clientConfiguration configuration is undefined because you don't load any settings for your application, just the well known endpoints. Your STS URL is http://localhost:550, so you can set the openIDImplicitFlowConfiguration.stsServer value to this value because it is fixed.

Greetings Damien

[2018-01-26 13:51] umfaruki commented on #164
Hi @damienbod
After installing @angular/router i start facing this error in my modules
_modules/@angular/router/router"' has no exported member 'Params'

this is my package.json

`"dependencies": {
    "@angular/animations": "^5.2.2",
    "@angular/cdk": "^5.1.0",
    "@angular/common": "^5.2.2",
    "@angular/compiler": "^5.2.2",
    "@angular/core": "^5.2.2",
    "@angular/flex-layout": "^2.0.0-

[2018-01-26 15:03] damienbod commented on #164
Looks good with the angular deps, do you receive the well known endpoints from the server? you can check this in the browser F12, network.

Could you also post the app.module?

Greetings Damien

[2018-01-28 05:45] Ibro opened #165 "Unhandled error when Auth server isn't running/responding"
It would be nice to allow the angular application to be able to deal with this. One could simply show an error inside of an application or do something totally custom.

[2018-01-29 08:08] neildonkin commented on #163
Thanks for your response @damienbod.

I am confused.  Your sample code using [load_using_stsServer](https://www.npmjs.com/package/angular-auth-oidc-client) makes it appear that you only have to specify the sts url as an argument and the `clientConfiguration` is fully-populated in the `onConfigurationLoaded.subscribe` function.

I will just continue to use the code without the `APP_INITIALIZER` bec

[2018-01-29 13:45] lundn opened #166 "SSO - Silent signin"
Hi,

We're currently in the works to replace oidc-client-js library with this library for handling authentication in our SPA.

One of the options in oidc-client-js is to silently signin the user if he/she is already logged on to IdentityServer. e.g from another portal site - is there a way to implement this with your library? Hope I managed formulate my question..ok'ish.. :)

[2018-01-29 17:46] Lempkin commented on #160
@damienbod I try to find in your code where is the sessionStorage.authStateControl set. I've tried to print it in the console to check why it's null the first time I come back from sso, and not the second time, but it seems that second time it's already set when your code is run.

[2018-01-30 12:14] Lempkin commented on #160
@damienbod  ok I may have an idea about what's going on. I see that you set the state and nonce in the authorize() method, which works, but as soon as I reach the connect2id login form, the sessionStorage is empty. OIDC url used for login is :
http://127.0.0.1:8080/c2id-login/login?client_id=tlhyy2m635qwu&redirect_uri=https:%2F%2F127.0.0.1:8443%2Fhsmt-front%2F&response_type=id_token%20token&scope=

[2018-01-30 16:29] Lempkin commented on #160
Ok I finally found out what's going on. Problem was that I use to load my website with localhost:8080 and connect2id accepts only 127.0.0.1 for redirect_uris declaration. And as you use sessionStorage, on the first sso redirection my sessionStorage was obviously emtpty.
Sorry for the inconvenience then, and good job for library :)

[2018-01-30 19:56] profet23 opened #167 "Using a pre-provided bearer token"
This might be a convoluted use case, but I have a need for it, maybe others do as well.

I'm successfully using this library in my angular front end and it's been great. Thank you for that.

Now the weirdness:
We want to be able to open an iframe to another angular app (also using angular-auth-oidc-client) and provide the bearer token to it via query parameters.

Is this library capable of taking

[2018-01-30 20:16] profet23 commented on #154
Working as intended now. Thanks,

[2018-01-30 20:16] #154 closed

[2018-01-31 11:27] profet23 commented on #24
Has anyone begun work on this?

[2018-01-31 13:03] profet23 commented on #167
Upon further thought, I think the correct solution would be to authenticate iframes via some form of oidc popup flow.

Are there any plans to implement such a thing?

[2018-01-31 13:04] profet23 commented on #167
Going to close this issue as what I really want is: #24

[2018-01-31 13:04] #167 closed

[2018-01-31 13:25] damienbod commented on #24
No @profet23 What is it you want exactly? Would you like that the login process is inside a popup?

1) User clicks login
2) popup opens
3) after successful login tokens returned, and app has tokens

Greetings Damien

[2018-01-31 13:31] profet23 commented on #24
My specific workflow desire might be bit weird.

I would like for child iFrames to be able to initiate login automatically via a popup.

The popup would either show the login form, and allow login or just get the login token from the auth server (when the user is already authenticated with the auth server).

My use case is that I have an app that requires child iframes on different domains (also r

[2018-01-31 14:41] #163 closed

[2018-01-31 21:40] runninghare commented on #105
First of all, great credits to the author. This library rocks,  which saves me massive pains of implementing the openID by myself...

At the moment I just feel the Silent Renew functionality is not perfect:

1. Angular's change detection is indeed triggered every 3 seconds from the ```
 let source = Observable.timer(3000, 3000)
            .timeInterval()
            .pluck('interval')

[2018-01-31 21:57] damienbod commented on #105
@runninghare

thanks and these are super improvements. All 3 are cool. If you would create  a PR, it would be cool, otherwise I will try to implement this in the near future. (got a time problem at the moment)

Greetings Damien

[2018-01-31 22:15] runninghare commented on #105
@damienbod thanks for your prompt reply. I'll do some more investigations. If they work I'll create PR.

[2018-02-01 03:07] mikelunn commented on #83
@damienbod Figured out all that is needed is to handle the error by the specific code in the error description. Thanks again for your work.

[2018-02-01 03:07] #83 closed

[2018-02-01 15:49] satkanth commented on #24
I also have a similar need and my use case is where I am trying to use the angular-auth-oidc package for authenticating an office add in, following the pattern described in
https://github.com/OfficeDev/Office-Add-in-UX-Design-Patterns/blob/master/patterns/auth-single.md
For this I need to be able to open a popup and have the authentication flow go through and then go back to the flow of the add in

[2018-02-01 16:45] simulaterz opened #169 "Issue when try to logout [TypeError: Cannot read property 'toLowerCase' of undefined]"
I clone your repo "angular-auth-oidc-sample-google-openid" and Change setting to use AD B2C

When I run it work fine but when I try to logout I got error like

![image](https://user-images.githubusercontent.com/24958945/35690742-3e23c34a-07a9-11e8-960d-c835c79c4c43.png)

I don't know why it happen,
When I logout and new tab and open website again it not auto redirect me to login page but still on

[2018-02-01 20:53] westerncj commented on #104
Does anyone have a working example project of this using a guard that redirects to the login page if not authorized and also the interceptor that includes the headers for each request?

[2018-02-01 22:29] runninghare commented on #105
There still seems to be an issue which makes oidcSecurityCommon.silentRenewRunning always be 'running' in authorizedCallback() function of oidc.security.service.ts:

[code]
This subscriber doesn't have an error handler. I think we need to add one, at least reset oidcSecurityCommon.silentRenewRunning to a falsy value.

I just added a simple handler in my latest [PR](https://github.com/damienbod/ang

[2018-02-02 13:48] BiLKiNiS commented on #166
For me if the user is already logged in the Identity Provider, I redirect him to a component where I have this in the constructor
`import { Component, OnInit } from '@angular/core';
//import { isNumeric } from 'rxjs/util/isNumeric';
//import { Observable } from "rxjs/Observable";

import { OidcSecurityService } from '../../oidc/services/oidc.security.service';

@Component({
    selector: 'autologi

[2018-02-02 15:13] satkanth commented on #154
@profet23 Do you have some sample code for how you got this working?  I am having the same issue with the continuous loop when I am trying to use the auto login feature in conjunction with the auth guards.  I have the authorize call in the autologin page and in the authguard.  Any insight would be appreciated.

[2018-02-02 15:21] damienbod commented on #154
@satkanth Here's 2 examples

https://github.com/damienbod/dotnet-template-angular

Do these help?

[2018-02-02 15:24] damienbod commented on #169
Here' an example with B2C

https://github.com/HWouters/ad-b2c-oidc-angular

The google example does not use the logout, because the google oidc server does not support the logout.

Greetings Damien

[2018-02-02 15:25] damienbod commented on #165
@Ibro I'll add a error meassge to the logs, thanks for reporting

[2018-02-02 15:29] damienbod commented on #162
@Aeseir Hi @Aeseir This logic belongs to the OIDC server. For example IdenityServer4 supports this in its examples.

Greetings Damien

[2018-02-02 16:07] satkanth commented on #154
@damienbod  Thanks, I appreciate the reply.  That seems to have done the trick although for some reason after authorization, my Unauthorized page flickers for a bit before it sends me to my page.  I think the problem might have been that I had the authorize call within the authguard also if the page was not authenticated.

 public canActivate(
    route: ActivatedRouteSnapshot,
    state: RouterSt

[2018-02-02 20:23] damienbod commented on #165
fix: https://github.com/damienbod/angular-auth-oidc-client/pull/171

[2018-02-03 02:30] Jonesie commented on #143
When I do this:

    this.userData = this.userInfoSubscription = this.oidcSecurityService.getUserinfo().subscribe(
      (userData: any) => {
        this.userData = userData;
      });

all I get for userData is 'true'.  Is that right?  How am I supposed to get the user info?  I can see the response from my identity server has the claims.

[2018-02-03 07:32] damienbod commented on #143
@Jonesie You should use the getUserData() . The getUserinfo() init and requests the user data from the server. I will rename the method. This is confusing. Sorry.

Greetings Damien

[2018-02-03 09:20] Jonesie commented on #143
Thanks, I tried this... same result :/

[2018-02-03 15:27] #165 closed

[2018-02-03 15:29] damienbod commented on #161
Added exception handling here in version 4.0.1, could you retest with the new version, and post the error message?

Greetings Damien

[2018-02-03 15:30] damienbod commented on #160
@Lempkin thanks

[2018-02-03 15:30] #160 closed

[2018-02-03 15:30] #155 closed

[2018-02-05 10:04] aksjer commented on #154
I have same issue ... but just with Firefox ...

[2018-02-05 21:39] lundn commented on #166
Thanks for the input @BiLKiNiS, much appriciated. However, I do not think this is exactly what we want to achieve.

**User scenario**
Unauthenticated user opens portal with SPA (portal A). He / she opens a new tab and access another portal (portal B) using the same Identity Provider as portal A. The user logs in portal B, is authenticated in IDServer and authorized to use portal B.

Upon returning

[2018-02-05 23:36] premiumwd opened #173 "multiple redirect_uri's"
Anyway to have multiple redirect uris on angular side?

I have multiple environments and websites (dev, stag, prod).

[2018-02-06 06:06] Aeseir commented on #162
Hi @damienbod

Are you saying that when user triggers oidc.authorize() function, it takes it to ID4 login and then ID4 server collates the parameters?

_i.e._
**localhost:5000/account/login is triggered by authorize()**
then id4 converts it to
**localhost:5000/account/login?returnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Da-client%26redirect_uri%3Dhttp%253A%252F%252F192.168.0.8%253A5003%2

[2018-02-06 06:38] damienbod commented on #162
No, the angular Application creates the URL and this is then handled by the IdentityServer4 which then displays the view as required. You can change, edit and do anything with the view.

Greetings Damien

[2018-02-06 06:42] damienbod commented on #173
@premiumwd yes. You can use a configuration json which is different for each environment, and load it in the APP_INIT. The STS server needs to support the correct environment redirects for each deployment. I do this is the app.settings in the dotnet application and set it in the build deployment of the CI.

[2018-02-06 08:55] BiLKiNiS commented on #166
I don't think it is implemented, the only thing using iframe are the silent renew of the token and de session check.
Using this as a template you could implement this, but I have a question.
For the user to be silently log in the portal A, you need to save the credential he has typed in the portal B?

For me this is not very secure to do du to the fact that the credential sould only be use (type b

[2018-02-06 10:22] damienbod commented on #166
@BiLKiNiS @lundn

This would work if you use autologin in the client app, but you should use different tokens for each application. At present the tokens are saved to the same location so you would need to create a custom storage for 1 app, and then it would work.

1) User logins in coming from portal 1
2) User opens Portal 2
3) redirected to STS
4) Already logged in, redirected back

You also nee

[2018-02-06 16:02] premiumwd commented on #173
Well I did this, since you didn't put any code:

[code]

[2018-02-06 16:56] Lempkin opened #174 "Is Id token validated as OpenId connect recommends?"
Hi,

Can you confirm that your lib validate id token as said in :
http://openid.net/specs/openid-connect-core-1_0.html#ImplicitAuthRequest
part -> 3.1.3.7.  ID Token Validation

Thx

[2018-02-06 19:33] damienbod commented on #174
Hi @Lempkin
yes

http://openid.net/certification/#RPs

Greetings Damien

[2018-02-06 19:37] damienbod commented on #173
@premiumwd looks good, don't forget about the post_logout_redirect_uri. What STS server, hosting do you use? Sorry about no code, but short of time at the moment

Greetings Damien

[2018-02-06 19:40] premiumwd commented on #173
got it.

[2018-02-06 19:40] #173 closed

[2018-02-07 01:06] Aeseir commented on #162
Thanks Damien, that is what i thought.

I've read through the angular-auth-oidc-client docs but i cannot see any ability to configure registration or function that takes user to registration page (equivalent to authorize()).
Have a missed something somewhere?

[2018-02-07 06:14] damienbod commented on #162
@Aeseir No, registration is not part of this. I usually use the ASP.NET Core Identity examples and adopt these for the registration part of a application. dotnet 2.1 is bring out a whole new UI Identity add on.

Greetings Damien

[2018-02-07 07:55] DanielGherasim opened #175 "Id_Token is rejected because of timing issue when server hour is different then client hour"
I have both my OIDC Server and Angular App using angular-auth-oidc-client instance hosted on a server which has local time set to Belgium (UTC +1).

My PC is on UTC +2 so I receive the **authorizedCallback Validation, iat rejected id_token was issued too far away from the current time** error because of that.

When I change server's time to be the same with my PC time, it works fine.

We should so

[2018-02-07 08:06] damienbod commented on #175
@danielgherasim Thanks.

both apps, client and server should use UTC time. If this is not the case, this is a bug. I will check that the OIDC lib uses UTC time, and fix this if required. The STS server is out of scope here, but you should check this as well.

Greetings Damien

[2018-02-07 08:10] danielgherasim commented on #175
@damienbod I am using Identity Server 4. I will also check if it is using UTC time when generating the token, thanks.

[2018-02-07 22:30] premiumwd opened #176 "Using # for routes messes with auth callback"
I have activated hash for `routes: RouterModule.forRoot(routes, { useHash: true })`,. When logging into oidc client it worked before, on the callback when it routes me back to my website I get this error.

`Cannot match any routes. URL Segment: 'id_token'`

auth being the route, and id_token being the response_type in my configuration file. Any ideas?

Related to damienbod/angular-auth-oidc-client

[2018-02-07 22:54] premiumwd commented on #125
@damienbod please help for people using hash location strategy. Latest version doesn't have fix for this.

[2018-02-08 06:25] damienbod commented on #125
@premiumwd I'll do an example with hash strategy, a lot are using this.

[2018-02-08 14:49] sric88 commented on #164
I faced similar issue with Service instead of Router, I added my service to the [providers] array in my app.module.ts and also removed map function in my service.

this may help you. Please check

[2018-02-08 23:04] premiumwd commented on #176
@damienbod when do you think I can get this?

[2018-02-08 23:33] premiumwd commented on #90
@aksjer were you able to use hash location strategy with this library? If you don't mind pasting how you did it. Appreciate it.

[2018-02-08 23:37] premiumwd commented on #36
@lgoudriaan can you paste your solution to this wit example please?

[2018-02-09 10:34] lgoudriaan commented on #36
@premiumwd set preboot to ^6.0.0-beta.1 then remove all preboot references. After that add the import ```import { PrebootModule } from 'preboot';``` to your **app.module.ts** and ```PrebootModule.withConfig({ appRoot: 'app' }),``` to your imports.

That's it :)

[2018-02-09 18:51] premiumwd commented on #36
@lgoudriaan and I don't need to use hash location strategy? This basically does server side rendering?

[2018-02-09 21:55] #176 closed

[2018-02-12 08:47] lgoudriaan commented on #36
I can't help you with this error, you can look at the answer of @astegmaier for starter repositories with SSR. Then Install this library, and to fix the server side rendering upgrade preboot to 6.0 using my instructions above. Hope that helps!

[2018-02-12 16:27] premiumwd commented on #36
@lgoudriaan no thanks, build static auth file, and updated my authguard. got it working.

[2018-02-12 17:09] rajeshmuraleedharan opened #177 "not responding due to a long-running script - IE issue"
I am getting  a strange issue on Internet explorer. After IdentityTokenLifetime expiration, IE is not responding due to “due to a long-running script”. This issue happens only on IE, Chrome works fine. IE is not able renew token silently or some other issue after token renewal don’t know what’s is causing this.
I am using Identity Server4 for Authentication. I can see Chrome is able to renew token

[2018-02-12 18:23] damienbod commented on #177
@rajeshmuraleedharan thanks for reporting. Could you give some more info, I would like to reproduce, versions, info how this happens, do you see anything in F12 of the browser?, Is it only IE, or Edge as well
Does it always happen, or just sometimes?

Thanks Damien

[2018-02-12 20:12] rajeshmuraleedharan commented on #177
My current version is "angular-auth-oidc-client": "^3.0.9"
This issue is only for IE, couldn't test for Edge yet
IE will get frozen once this happens.
This happens every time when IdentityTokenLifetime  expires and app tries to renew.

[2018-02-13 11:16] TakhirMamirov opened #178 "Logout without redirect to IDM server"
If I call .logoff() method, then I'm redirected to identity server, which shows logoff page, and then back to client (if post_logout_redirect_uri is set). Instead, I want a silent logout where I clean the client session and moved directly to start page, not being redirected to idm. How can I do that?

[2018-02-13 11:29] KollarM commented on #175
@damienbod, Hi. We are also facing issues with iat validation. Many users has some clock skew. Best would be to fix this on the client computers, but this is not so easy.

In http://openid.net/specs/openid-connect-implicit-1_0.html they are mentioning in section 2.2.1.  ID Token Validation, point 8 - "The iat Claim **can** be used to reject tokens that were issued too far away from the current tim

[2018-02-13 15:29] rajeshmuraleedharan commented on #177
@damienbod
I tested this on Edge and worked fine. I can see network activity to renew tokens silently. So this issue happens only on IE browser.

[2018-02-13 17:34] Lempkin opened #179 "IE11 compatibility"
Hi,

When testing on ie11 I got following error :

[2018-02-13 17:34] satkanth opened #180 "Implementing the auto login is sending it in an endless loop"
Has something changed recently, I had the auto login feature working
https://github.com/damienbod/angular-auth-oidc-client/issues/154
but testing it again and it seems to be going in an endless loop between trying to validate from the sts server and then being passed into auto login.  Is this some kind of timing issue?

Looks like for some reason this.oidcSecurityService.moduleSetup in app.compone

[2018-02-13 19:14] damienbod commented on #175
@KollarM The validation can be set to a value which makes it optional.

https://github.com/damienbod/angular-auth-oidc-client/blob/master/API_DOCUMENTATION.md#max_id_token_iat_offset_allowed_in_seconds
Set this value to something large

Greetings Damien

[2018-02-14 07:00] KollarM commented on #175
Your fast response is very appreciated. Yes setting max_id_token_iat_offset_allowed_in_seconds to something big is also the only thing I was able to think of as a quick fix (probably permanent as well).
Thanks a lot for confirming this way.

[2018-02-14 10:08] feargear opened #181 "Optional jwks_uri"
Hello, I noticed that the jwks_uri has to be defined for the client to work. As far as I know, the discovery is an optional feature and our team would love to configure this manually. Luckily our identity server supports this feature, but it's really not something we want to use unless we have to.

http://openid.net/specs/openid-connect-core-1_0.html#DiscoReg

Is it possible to make the jwks_uri o

[2018-02-14 14:13] damienbod commented on #181
@feargear The lib only supports the whole discovery as optional. Then in the well known end points, you can define the jwk document, where the jwk json can be found.

[2018-02-14 14:30] chgolian opened #182 "TypeError thrown when handleErrorGetSigningKeys is called."
When [handleErrorGetSigningKeys](https://github.com/damienbod/angular-auth-oidc-client/blob/master/src/services/oidc.security.service.ts#L652) function is called, following error is thrown:
[code]
Looking at the definition in ```oidc.security.service.ts```,
I can see that Observable.throw is indeed used:

https://github.com/damienbod/angular-auth-oidc-client/blob/master/src/services/oidc.security.

[2018-02-15 07:54] feargear commented on #181
@damienbod Ok, thanks

[2018-02-15 19:49] damienbod commented on #180
Here's an example:
https://github.com/damienbod/dotnet-template-angular/blob/auto-login/dotnet-angular-azure-ad-oidc/ClientApp/src/app/authorization.guard.ts

I just add a windows hash check. you can then use the guard where required. The auto login component init the login.

Greetin Damien

[2018-02-15 20:08] damienbod commented on #179
@Lempkin This looks like  a problem. Workaround:

Create you own init service, add replace the fetch with a IE11 javascript http get.

[code]

Then use it in your module setup:
[code]

[2018-02-15 20:12] damienbod commented on #178
Hi @TakhirMamirov
You can deactivate the UI stuff on the server and redirect directly back. Client will not notice anything.

Greetings Damien

[2018-02-15 20:14] #174 closed

[2018-02-15 20:14] #181 closed

[2018-02-15 20:16] damienbod commented on #132
can I close this?

[2018-02-15 20:17] damienbod commented on #177
Could this be the issue?
https://github.com/damienbod/angular-auth-oidc-client/issues/179

[2018-02-15 20:18] damienbod commented on #169
Hi @simulaterz
Please reopen if this is not solved for you

Greetings Damien

[2018-02-15 20:18] #169 closed

[2018-02-15 20:19] #130 closed

[2018-02-15 20:19] #166 closed