[2022-07-20 06:58] FabianGosebrink commented on #1482
If you have a sample repo to reproduce, this would be fine.

What you can do is a callback route which does do the checkAuth() and then redirects to your app or redirects to a unauthenticated route. You have to register this component as a route and let your IDP redirect to this route then.

[2022-07-20 08:02] FabianGosebrink commented on #1443
The sense behind this is that we provide every method used through a public facade, or at least as much as we can. So which method explicitly do you need? Thanks!

[2022-07-20 16:01] meisterlampe commented on #1443
I'm using  getPayloadFromToken ( https://github.com/damienbod/angular-auth-oidc-client/blob/9cd967a647a32629d5fb1212947917b61b10ac1c/projects/angular-auth-oidc-client/src/lib/utils/tokenHelper/token-helper.service.ts#L42 )

[2022-07-21 05:46] abdullahqudeer commented on #1027
Greetings @damienbod
Do you have any updates about this?

[2022-07-25 03:17] abdunnahid opened #1486 "[Question]: How can I stop sendAuthorizeRequestUsingSilentRenew from multiple tabs?"
**What Version of the library are you using?**
13.1.0

**Question**
How can I stop sendAuthorizeRequestUsingSilentRenew from multiple tabs?

If I have multiple tabs open, they all calls **sendAuthorizeRequestUsingSilentRenew**. One of them passes and successfully gets the response from the  server. However the other tabs throws an error and stops the silent renew. After that the token is not renew

[2022-07-25 05:17] DHJayasinghe opened #1487 "[Bug]: Library Fails on Firefox"
**What Version of the library are you using?**
13.1.0

**Describe the bug**
When I'm initiating my Angular app from Firefox browser i'm receiving an console error: DataError: **Data provided to an operation does not meet requirements** from **token-validation.service.ts** **validateSignatureIdToken()** method. With the App works fine on other browsers Chrome, Edge, And Brave browsers.

After build

[2022-07-26 13:52] kumaresan-subramani commented on #1445
How to chnage algorithm while using angular-oauth2-oidc?. any ref config?

[2022-07-27 10:08] niqolay opened #1489 "Version 14 does not work with rxjs version 6, but in lib package.json it specifies peerDependencies: "rxjs": "^6.5.3 || ^7.4.0""
Steps to reproduce:
1. Create angular project with dependency to rxjs version 6 (for example, "rxjs": "^6.6.7")
2. Add dependency to angular-auth-oidc-client@14.1.0
3. Try to build project

Result:
1. Compilation errors like `./node_modules/angular-auth-oidc-client/fesm2020/angular-auth-oidc-client.mjs:7066:75-86 - Error: export 'switchMap' (imported as 'switchMap$1') was not found in 'rxjs'`

Exp

[2022-07-27 18:14] steve-heine commented on #1279
The checkAuth method appears to always refresh your token. In my case we've switch the storageProvider to leverage localStorage. Opening a link in a new tab results the checkAuth to check isAuthenticated$ but that checks for a current boolean to be set to true without calling the areAuthStorageTokensValid() from the authStateService. The code already has the check, either checkAuth should call thi

[2022-07-27 20:40] patoigz opened #1490 "[Feature Request]: Go to signup instead of signin"
Hey!
Im using the library with Keycloak as my OIDC Identity Provider... And every time that i use the authorize or authorizeWithPopUp it goes to the login page. And its fine, its developed to do that but i'd like to redirect user to the signup page.

I was wondering... If you can add another function method, to allow users to go to the signup page directly, instead of login/signin.

Thanks!!!

[2022-07-28 06:35] #1490 closed

[2022-07-28 06:35] FabianGosebrink commented on #1489
Could be solved with https://github.com/damienbod/angular-auth-oidc-client/pull/1491

[2022-07-28 09:23] niqolay commented on #1489
I checked with fixes in https://github.com/damienbod/angular-auth-oidc-client/pull/1491, it is working correctly now, thanks

[2022-07-28 16:03] timdeschryver commented on #1490
@FabianGosebrink I think we closed the wrong issue with #1491
The issue that needed to be closed is #1489

[2022-07-28 16:03] #1489 closed

[2022-07-28 16:06] FabianGosebrink commented on #1490
Aren't both fixed with this PR?

[2022-07-28 17:22] timdeschryver commented on #1490
I think this is issue isn't related to the RxJS import changes ( I could be wrong though )

[2022-07-29 05:36] damienbod commented on #1445
I would move away from HS256 and use RS256 , this is more secure.

[2022-07-29 05:38] damienbod commented on #1445
@kumaresan-subramani I would need to look into this, I never used HS256 and do not plan to use this either, would recommend using RS256 or something better

[2022-07-29 09:09] #1454 closed

[2022-08-03 16:54] JohnGalt1717 commented on #1482
Ok, so I have a repro case:

If you take the sample-code-flow-refresh-tokens and put this in the app.module.ts constructor:

[code]

And then set a break point on the console.log('ConfigLoaded') it's never called until after you click the login button. Even with the forced preloadAuthWellKnownDocument() call it still never gets called.

If you go to the V13 branch you'll see that this is called im

[2022-08-03 18:28] JohnGalt1717 commented on #805
This is still a problem in V14.1.2.

This is what I get back: OidcService code request https://localhost:44301 Error: [object Object]

[2022-08-03 19:23] FabianGosebrink commented on #805
I will have a look at this.

[2022-08-04 13:00] FabienDehopre opened #1493 "[Bug]: `isLoading$` never emits `false` when using the `AutoLoginAllRoutesGuard`"
**What Version of the library are you using?**
14.1.2

**Describe the bug**
If you use the router guard `AutoLoginAllRoutesGuard`, the `isLoading$` never emits `false` because the guard is not using the main `OidcSecurityService` where the observable is changed from `true` to `false`.

**To Reproduce**
Steps to reproduce the behavior:

1. Add the following code in the AppComponent in the sample-co

[2022-08-05 07:45] FabianGosebrink commented on #1482
Thanks for providing such useful information. I could reproduce it. With the PR above the bug should be fixed.

[2022-08-05 11:34] FabianGosebrink commented on #1462
Hey @nwpBerthel maybe the PR is it. If you want, you can double-check.

[2022-08-05 12:49] nwpBerthel commented on #1462
Thanks a lot, looks good to me and exactly what I was wishing for.
Also great work not intruducing a breaking change which I though was necessary, but yeah, with more conversions and checks no breaking changes needed :)

[2022-08-05 12:52] JohnGalt1717 commented on #1482
Great! Thanks!  Any ETA when this will be released? We're a little blocked ATM on this one.

[2022-08-05 12:53] gmiked commented on #1293
I want to test this, but version 14 is only works with Angular 14.  Is there a plan to have this working angular version 12?

[2022-08-05 13:09] FabianGosebrink commented on #1482
@damienbod any plans to test and release this one?

[2022-08-05 13:12] FabianGosebrink commented on #1462
We are doing everything for our users :) Glad you like the change and glad I could help. Thanks for using our lib!

[2022-08-05 14:05] damienbod commented on #1482
Will release this weekend 4.1.3

[2022-08-05 18:11] gmiked commented on #1293
Just a followup, I used a test project to try, and still getting the same issue as before.  The result of forcedRefresh service call is null.  This looks related to #1431

[2022-08-05 19:02] gmiked commented on #1293
Here is something strange, I added scopes of 'openid profile offline_access' to the refresh token request using variable customParamsRefreshTokenRequest and now I am getting an id token back in addition to the refresh token and access token.  Now it is failing on the authentication the id token.  Can you advise I am missing something?  See the below screenshot of the issue
![image](https://user-im

[2022-08-05 19:03] gmiked commented on #1293
Here is something strange, I added scopes of 'openid profile offline_access' to the refresh token request using variable customParamsRefreshTokenRequest and now I am getting an id token back in addition to the refresh token and access token. Now it is failing on the authentication the id token. Can you advise I am missing something? See the below screenshot of the issue.
![image](https://user-imag

[2022-08-05 19:23] damienbod commented on #1293
alg is invalid, how is the token signed? Do you run in https?

Greetings Damien

[2022-08-05 20:30] gmiked commented on #1293
Update.  I was able to by pass the "No routes to check configured" issue by adding  https://login.microsoftonline.com/common/discovery/keys to the secured route.  However, I still can't get past the alg no supported none issue.  Somehow, the id_token seems to loose the algorithm.  I am not sure if the request or azure is making the algorithm empty.  Any suggestions?

[2022-08-06 07:23] FabianGosebrink commented on #1462
Released.

[2022-08-06 07:23] #1462 closed

[2022-08-06 07:23] FabianGosebrink commented on #1482
Released.

[2022-08-06 07:23] #1482 closed

[2022-08-06 07:23] FabianGosebrink commented on #805
Released.

[2022-08-06 07:23] #805 closed

[2022-08-06 12:25] damienbod commented on #1293
If you are authenticating against Azure AD, here's an example to compare to:

https://github.com/damienbod/AzureADAuthRazorUiServiceApiCertificate/tree/main/AngularAzureADMultipleApis/AngularCliAzureAD

Or Azure AD B2C

https://github.com/damienbod/azureb2c-fed-azuread/tree/main/AngularB2CClient

[2022-08-06 12:32] #1436 closed

[2022-08-06 13:13] FabianGosebrink commented on #1443
You can use the "getPayloadFromIdToken" method, which is exposed. [Docs: getPayloadFromIdToken(encode = false, configId?: string)](https://nice-hill-002425310.azurestaticapps.net/docs/documentation/public-api#getpayloadfromidtokenencode--false-configid-string)

[2022-08-06 13:16] #1280 closed

[2022-08-07 00:20] gmiked commented on #1293
@damienbod  I resolved the issue and will request this issue to be closed.  A few things were wrong on my end for configuration.  Going through the 2.0 endpoint is very different than the 1.0 endpoint for Azure Ad.  I am not sure if you want to add a comment for the newbies stating such so they won't run into the same mistake.  Here is how I resolved the issue in case others are having the same pr

[2022-08-07 00:20] #1293 closed

[2022-08-07 11:53] FabianGosebrink commented on #1493
The problem here is that we have logic in the facade, which is not good and was not intended to be there. The logic is only triggered, like you said, when using the facade. So we have to get rid of the logic in the facade and move it either into a service or make the `CheckAuthService` stateful. However, the best solution would be to use the existing `PublicEventsService` for this as this is what

[2022-08-07 11:54] #1443 closed

[2022-08-07 11:56] FabianGosebrink commented on #1398
Is this still a thing?

[2022-08-08 11:12] donnyst commented on #1443
This is about getting the payload from the access token, not the ID token.
getPayloadFromIdToken does not suffice.

[2022-08-08 18:43] fdellasoppa opened #1502 "[Bug]: Library not compiling v14.1.3, map not found on rxjs"
**What Version of the library are you using?**
14.1.3

**Describe the bug**
A clear and concise description of what the bug is.
My project won't compile as the library angular-auth-oidc-client is throwing an error:

./node_modules/angular-auth-oidc-client/fesm2020/angular-auth-oidc-client.mjs:5286:36-41 -
Error: export 'map' (imported as 'map$1') was not found in 'rxjs' (possible exports: Argument

[2022-08-08 18:44] fdellasoppa commented on #1502
I reverted to version 14.1.2 and everything started to work again.

[2022-08-08 18:54] timdeschryver commented on #1502
Hi, if it's OK I can add an extra step in the CI to verify that this library works with RxJS v6 (and fix the "bad" imports)

[2022-08-08 19:24] fdellasoppa commented on #1502
Hi, ok, I'm receiving this error using rxjs 6.6.7.

[2022-08-08 20:05] FabienDehopre commented on #1493
Indeed, `PublicEventsService` will do the trick.
Would be a good idea to either deprecate the `isLoading$` property or to rework it because it's a bit confusing.

[2022-08-08 21:03] damienbod commented on #1502
We use 7.4.0, can you update the rxjs?

@timdeschryver @FabianGosebrink

Do you think we need to support V6 versions?

Greetings Damien

[2022-08-09 05:12] timdeschryver commented on #1502
I could be wrong here, but I think the (only?) breaking change that affects us is how the operators are imported. RxJs 7 exports their operators from `rxjs/operators` but also from `rxjs`, while RxJS 6 only exports it from `rxjs/operators`. For example, #1491 fixes the imports from `rxjs` to `rxjs/imports`, but in recent commits we made the same "mistake" (probably because the IDE auto imports it

[2022-08-09 06:15] FabianGosebrink commented on #1493
The `isLoading$` will be removed in future versions then.

[2022-08-09 06:30] FabianGosebrink commented on #1502
Hey Tim, thanks for this. It might be that my IDE fixes that imports and so V6 is not supported anymore! That's me to blame in this case. I just checked if there is an ESLint rule, but did not find a one that fits. We had a build step which installs everything like normal but uses RxJs 6 in addition and installs the library then. I will add that build step and fix the imports now.

[code]

I will

[2022-08-09 07:18] FabianGosebrink commented on #1502
I can not reproduce the error locally and the build step also run through fine.

[2022-08-09 07:23] FabianGosebrink commented on #1502
Hey @fdellasoppa, can you provide a sample repo to reproduce the issue? Thanks!

[2022-08-09 08:13] timdeschryver commented on #1502
I suppose the error comes from [here](https://github.com/damienbod/angular-auth-oidc-client/blob/main/projects/angular-auth-oidc-client/src/lib/config/loader/config-loader.ts#L2).
Maybe that that code isn't included by just adding the oidc client to an Angular app?

Or we should build the whole app against RxJS 6 🤔, but a linter should be easier 😅.

[2022-08-09 08:15] FabianGosebrink commented on #1502
Thanks for the hint! Just fixed that in the related PR.

[2022-08-09 08:44] donnyst commented on #1450
Any updates on this?

I'm having the same issue.
Our selenium tests are failing, not locally, but only on Jenkins. After adding a ton of logging we noticed getAccessToken() is returning null in the http interceptor, even though before this the AuthResult is logged and this does in fact contain the access_token.

[2022-08-09 09:58] FabianGosebrink commented on #1502
@fdellasoppa should be fixed in the next release.

[2022-08-09 12:45] fdellasoppa commented on #1502
Wonderful! Thanks!

[2022-08-09 12:47] FabianGosebrink commented on #1502
Thanks. Do you, @timdeschryver, know a linting rule to check against rxjs 6 Imports? Otherwise I would try to write one. I searched for it but did not find one.

[2022-08-10 15:00] FabianGosebrink commented on #1493
While fixing/extending this, I found out that the error case in case there is an error when checking the auth never worked. So it had two problems: emitting true when the lib wasn't loading and not working in error case :). So now the public event service is used, the error works and the `isLoading$` is still there and marked as deprecated.

[2022-08-10 15:51] #1502 closed

[2022-08-11 02:11] chris-befoul commented on #1396
Checking in to see what the status is on this update?

[2022-08-11 05:24] damienbod commented on #1396
Thanks for the issue. Checked with the specs, looks fine.

Can you make a PR? We will add this to the next version.

Greetings Damien

[2022-08-11 09:05] FabianGosebrink commented on #1457
So you want to disable to load the well known endpoint?

[2022-08-11 16:38] bgerhards-vermeer commented on #1408
Looks like this was given the investigate label back in May. A workaround has been given but it looks like there is some concern. Anything new on this issue or the others that are related to it @damienbod , @FabianGosebrink? I appreciate your time and I hope all is well!

[2022-08-11 16:40] bgerhards commented on #1408
Looks like this was given the investigate label back in May. A workaround has been given but it looks like there is some concern. Anything new on this issue or the others that are related to it @damienbod , @FabianGosebrink? I appreciate your time and I hope all is well!

[2022-08-12 06:20] FabianGosebrink commented on #1408
Is it normal or a misconfiguration that when refreshing the token, no ID token is being sent with?

[2022-08-12 06:44] agardiol commented on #1408
It depends on the type of the backend server. By example a standard Django configuration does not send ID token when refreshing session.

[2022-08-12 13:01] bgerhards commented on #1408
Another specific example is NetIQ: https://www.netiq.com/documentation/access-manager-45-developer-documentation/oauth-application-developer-guide/data/managing-tokens.html

[2022-08-12 14:05] damienbod commented on #1408
I will try to setup an IDP to test this. All the IDPs I use, return the id_token

[2022-08-12 14:09] damienbod commented on #1408
These 2 IDPs are not certified, iare these servers OIDC conform?

https://openid.net/certification/

[2022-08-12 14:18] bgerhards commented on #1408
Micro Focus Access Manager is apparently another name for it? Micro Focus owns NetIQ. If we are incorrect on Access Manager being another alias, please send correction.

[2022-08-12 14:23] damienbod commented on #1408
@bgerhards I will try to setup a OIDC Code flow with PKCE and refresh tokens using "Micro Focus Access Manager"

No promises when, never used this IDP before.

[2022-08-12 16:59] FabianGosebrink commented on #1408
Would the title "id token is erased when the server does not send a new idtoken on refresh" be a better fit?

[2022-08-12 17:02] FabianGosebrink commented on #1388
Fixed in V 14.

[2022-08-12 17:02] #1388 closed

[2022-08-12 17:02] #1252 closed

[2022-08-12 17:04] FabianGosebrink commented on #1319
We weakened the versions a bit. You can see which version to use in the https://github.com/damienbod/angular-auth-oidc-client/blob/main/projects/angular-auth-oidc-client/package.json and check the different versions of this lib to find the correct one for your Angular version.

[2022-08-12 17:04] #1319 closed

[2022-08-12 17:05] #1395 closed

[2022-08-12 17:07] FabianGosebrink commented on #1349
Could the others fix the issue with the given guard as well? I do not see a way to figure out if a parameter called "state" or "code" is from the url of the sts-redirect or inside the client's app.

[2022-08-15 13:50] kaep7n opened #1505 "[Bug]: Wrong offset used when calling `validateIdTokenExpNotExpired` from `StateValidationService`"
**What Version of the library are you using?**
1.14.3

**Describe the bug**
After the upgrade to the newest version and Angular 14 we were receiving the following error messages:

[code]

The Id token had an `iat` of `13:30:08` and an `exp` of 1`3:30:38` the current time was `13:30:08` (all times UTC) so the token should be valid. However the validation service stated that the current time was 13:

[2022-08-15 14:07] Pascalmh opened #1506 "[Bug]: OidcSecurityService.logoff() AuthOptions.redirectUrl is ignored"
**What Version of the library are you using?**
14.1.3

**Describe the bug**
When calling the `logoff()`-Method with the `redirectUrl` set via the 2nd param (AuthOptions) the information is lost and the default logoff url (postLogoutRedirectUri) is used.

**To Reproduce**
Steps to reproduce the behavior:

Call the logoff method like this:
[code]
The `OidcSecurityService.logoff`-method calls the `Lo

[2022-08-15 19:48] myronu opened #1507 "[Question]: How to get back the user data immediately after authentication?"
**What Version of the library are you using?**
14.0.1

**Question**
In our application, we have this method:

[code]

If we call it from `oidcSecurityService.isAuthorized()` when `AuthenticatedResult === true`, sometimes `userDataResult.userData` is undefined so we get back an empty string. There seems to be a race condition where we can be told that we are authorized but userData doesn't exist ye

[2022-08-16 06:49] markus-ki commented on #1450
Unfortunately not, I could not reproduce the error.

[2022-08-16 07:15] FabianGosebrink commented on #1507
You get back the user data immediately after calling `checkAuth()`.

[2022-08-16 14:19] peroxid opened #1508 "[Bug]: disablePKCE Parameter breaks constructing body for code flow request"
**What Version of the library are you using?**
14.1.2

**Describe the bug**

In Issue #1455, @Kwoin was nice enough to add a parameter to disable PKCE. Unfortunately this breaks here:

[code]

https://github.com/damienbod/angular-auth-oidc-client/blob/3ee205575a2be99f3e9fca47a4451e9041d50df4/projects/angular-auth-oidc-client/src/lib/utils/url/url.service.ts#L199

Disabling PKCE always triggers thi

[2022-08-17 08:58] georgina1278 opened #1509 "[Bug]: Inifinte loop after authentication"
**Describe the bug**

I'm using this library in my Angular project with authentication throught IdentityServer. I configured my project following the docs.

When the user goes to the home page in my app, it checks if this user is authenticated or not with a guard provided on the app-routing on my home-page.component route with `canActivated`. The code of my guard looks like this:

[code]

If not a

[2022-08-17 12:40] yumadilovted opened #1511 "Manual tokens renewal"
Hello. There is a problem, please help.
In our application, it is now possible to change the user's password. After successfully updating the password via an http request, it gives us the exchange_token. (which, apparently, is used to get a new pair of access and refresh tokens, which are updated on the server after changing the password) What should we do with this exchange_token so that after a

[2022-08-17 15:19] FabianGosebrink commented on #1509
Are you aware of the guards we are providing with this library? https://nice-hill-002425310.azurestaticapps.net/docs/documentation/auto-login

[2022-08-17 17:47] #1508 closed

[2022-08-18 07:37] yumadilovted commented on #1511
Judging by the api of your library, the only way to update a pair of tokens is to send an `authWellKnownEndPoints.tokenEndpoint` request using the `forceRefreshSession` function with the following body:
[code]
For our part, we cannot overwrite or delete these parameters, the library does not allow us to do this. That is, we cannot form such a body:
[code]
The most similar body that we can pass:
[c

[2022-08-18 08:56] emanuelefricano93 commented on #1396
Hello guys, just run on the same issue described here.
Here the [PR](https://github.com/damienbod/angular-auth-oidc-client/pull/1512) as suggested by @scurk1415 and @damienbod.

Have a nice day,
Emanuele

[2022-08-18 09:00] #1396 closed

[2022-08-18 09:52] L1nkss opened #1513 "[Question]: How to catch error in checkAuth method"
**What Version of the library are you using?**
14.0.2

**Question**
Greetings @FabianGosebrink @damienbod
In our application we use `AutoLoginAllRoutesGuard` and we can't change it to `AutoLoginPartialRoutesGuard`.
Sometimes our clients face `could not find matching config for state` error.
How can I catch and handle that error inside app.module or app.component? If I understood correctly, we can'

[2022-08-18 09:53] georgina1278 commented on #1509
Thank you @FabianGosebrink, with the guard provided with the library the authentication works as expected!

[2022-08-18 09:53] #1509 closed

[2022-08-18 11:49] FabienDehopre commented on #1493
any idea when the change from #1504 will be released?

[2022-08-18 12:24] damienbod commented on #1493
I will do this tomorrow or Saturday after testing

[2022-08-18 15:07] benthieu opened #1514 "Revocation parameters not according to RFC Standards"
https://github.com/damienbod/angular-auth-oidc-client/blob/ff804562309136fd65843c7c1033b4f741871230/projects/angular-auth-oidc-client/src/lib/utils/url/url.service.ts#L171

According to https://www.rfc-editor.org/rfc/rfc7009#section-2.1 and https://www.rfc-editor.org/rfc/rfc6749#section-2.3 the parameter `client_id` should be passed as authentication header instead of payload parameter in the body

[2022-08-18 15:47] silviu-sterian opened #1515 "Silent renew process over PKCE seems to use renewTimeBeforeTokenExpiresInSeconds not the way you would expect - possibly a BUG"
**What Version of the library are you using?**
Using v 14.1.3

**Question**
How can I trigger the renewal of the token a certain number of seconds before it expires?
The recommended way is setting renewTimeBeforeTokenExpiresInSeconds = xx but this seems to just give an offset to the expiration time.  I wish it would trigger the silent renew xx seconds before token comes back as expired, not expiri

[2022-08-19 06:29] damienbod commented on #1514
Thanks for reporting, will look into this and fix, update as defined. We want this lib to follow the specs.

Greetings Damien

[2022-08-19 15:53] silviu-sterian commented on #1515
![image](https://user-images.githubusercontent.com/38025318/185658482-b0d61737-b76e-4372-9e32-c2b3a08d2ba6.png)

[2022-08-22 21:23] Rodrs opened #1516 "[Question]: Authorization Code not being properly created"
Hi, I am using the latest version of this library.  When I try to do a basic implementation of the library, I am receiving a CORS error.  I am running the app locally.  When checking the network tab, the authority code and wellknownendpoint aren't being created correctly and doing a redirect to my company's login page.  Do I need to build the redirect URL for the login page manually or should it b

[2022-08-23 03:46] silviu-sterian commented on #1511
Until this is addressed, you might look into a workaround - using a custom storage service (for instance local storage) - easy to setup - and simply override that particular local storage value (look for the value with your config id) with the same object where you replace the refresh_token and access_token in authnResult object/property

[2022-08-23 15:00] erichjsonfosse commented on #1339
@damienbod I think I found the issue.
https://github.com/damienbod/angular-auth-oidc-client/blob/9fc89c8a6ce8af4a2abd528c484326a6f0fa5f64/projects/angular-auth-oidc-client/src/lib/validation/token-validation.service.ts#L343-L357

The code here seems to expect that the `kid` parameter exists, while [RFC7517](https://www.rfc-editor.org/rfc/rfc7517#section-4.5) states that it's optional.

The result

[2022-08-24 21:05] Rodrs commented on #1516
I have resolved this.  It had to do with the crypto library not working on an http site.  I am developing locally on my server. I uread another issue and forced chrome to view the site as secure and it worked as expected.

[2022-08-24 21:05] #1516 closed

[2022-08-25 11:15] benthieu commented on #1514
Understandable.
We defined `revocation_endpoint_auth_methods_supported` with the value `client_secret_basic` in our well-known-endpoint as described in https://www.rfc-editor.org/rfc/rfc8414.html. Therefore our revocation endpoint does not support Bearer-Authentication and only supports Basic-Authentication.
It would be great if the revocation process could support this.

Thanks a lot already
Let

[2022-08-25 12:05] #1507 closed

[2022-08-25 18:42] erichjsonfosse commented on #1339
@damienbod I added a PR just now: #1517

@ngCorey , @dbrils and @andreaslarssen You're very welcome to test the PR for issues if you have the time.

[2022-08-29 08:33] yumadilovted commented on #1511
@silviu-sterian  Thanks for the suggestion, but it didn't work:(

I used a custom storage service (as in the example: https://nice-hill-002425310.azurestaticapps.net/docs/documentation/custom-storage )
After manually receiving tokens, the code is executed:

[code]
After some time, an automatic request is sent to update the tokens. The request uses the current new refresh_token, we get 200, new tok

[2022-08-29 08:50] yumadilovted commented on #1511
@FabianGosebrink @damienbod help 🥲

[2022-08-30 11:24] SemionMcAlice opened #1520 "would it be possible to add the AuthStateService to the package.json export"
**What Version of the library are you using?**
14.1.4

**Question**
I would like to use the AuthStateService in some custom code. if i do that i get an error stating that it is not part of the package.json export field.
 Error: Module not found: Error: Package path ./lib/auth-state/auth-state.service is not exported from package ...\ClientApp\n
ode_modules\angular-auth-oidc-client (see exports fie

[2022-08-30 12:14] svagatt opened #1521 "[Question][Help Wanted]: response from authCallback that token is invalid immediately after a validated response"
**What Version of the library are you using?**
...14.1.4

**Question**
This is the config data,
`export const webAppConfig =  {
    authority: authUrl,
    authWellknownEndpointUrl: authUrl,
    redirectUrl: 'http://localhost:4200/login',
    postLogoutRedirectUri:'http://localhost:4200',
    responseType: 'id_token',
    logLevel: LogLevel.Debug,
    scope: 'openid',
    clientId: 'public-client'

[2022-08-30 20:11] walter-psjr commented on #1521
Hi, today I updated a project angular 13 + angular-auth-oidc-client 13 to angular 14 and angular-auth-oidc-client 14.1.4 and started having this problem, with the application getting into an infinite login loop. I already had the maxIdTokenIatOffsetAllowedInSeconds=18000 setting and I realized that if I remove this setting then everything works normally. The strange thing is that in version 13 thi

[2022-08-31 06:07] svagatt commented on #1521
Okay,

[2022-08-31 06:07] #1521 closed

[2022-08-31 08:31] andreaslarssen commented on #1339
@damienbod This issue can be closed now. @erichjsonfosse tested the PR and it seems to work as expected

[2022-08-31 11:01] FabianGosebrink commented on #1520
Which method do you need?

[2022-08-31 11:04] FabianGosebrink commented on #1513
Are the clients logging in from a bookmark? When the app redirects to the IDP, then it saves a state and tries to match it when you're coming back. So this might cause the issue.

[2022-08-31 11:30] maxsalo commented on #1393
Me too!

[2022-08-31 12:46] SemionMcAlice commented on #1520
Hey,
i use the this.authConfService.getAllConfigurations() and the this.authStateService.getAccessToken(firstConfig) methods of the AuthStateService.
similar to the auth.interceptor does.

[2022-08-31 14:16] dabbid commented on #1484
There's still a compilation problem with an Angular 13 project and lib version 14.0.2, I get some rxjs operators import error (example: `Error: export 'tap' (imported as 'tap$1') was not found in 'rxjs'`) although my rxjs version (6.6.7) is compliant with lib's peer dependencies (`"rxjs": "^6.5.3 || ^7.4.0"`)
Indeed if I look to the generated `fesm2015/angular-auth-oidc-client.mjs` file, I have th

[2022-08-31 17:53] walter-psjr opened #1522 "[Question]: Infinite loop after login when maxIdTokenIatOffsetAllowedInSeconds is configured"
**What Version of the library are you using?**
14.1.4

**Question**
Hi, I updated an angular 13 project with angular-auth-oidc-client 13 to angular 14 with angular-auth-oidc-client 14.1.4. In the old version I was making use of the maxIdTokenIatOffsetAllowedInSeconds option because many of our users had the clock with the wrong time and everything was working perfectly. But after updating, using t

[2022-09-01 20:05] andreaslarssen commented on #1515
Anyone of the maintainers have a comment on this? I'm suspecting a similar experience that I haven't gotten around to debug yet.

[2022-09-02 06:38] FabianGosebrink commented on #1520
You can use the [getconfigurations](https://angular-auth-oidc-client.com/docs/documentation/public-api#getconfigurations) method to get all configurations, and you get the access token back in the LoginResponse as well as with the [getAccessToken ](https://angular-auth-oidc-client.com/docs/documentation/public-api#getaccesstokenconfigid-string) method. Everything you need should be exposed already

[2022-09-02 06:38] #1520 closed

[2022-09-02 08:18] FabianGosebrink commented on #1468
Closing as there hasn't been any response from the issue author. Please re-open if you are still seeing problems here.

[2022-09-02 08:18] #1468 closed

[2022-09-02 08:19] dabbid commented on #1515
Same for me. Without this option, I cannot get silent renew working, while setting this value to 60s with another library (which is now archived, so my switch to this one) was working well.

[2022-09-02 08:26] andreaslarssen commented on #1515
@damienbod Can you confirm that this is a bug?

[2022-09-02 09:19] SemionMcAlice commented on #1520
Hey,
The ConfigurationService is exposed (exportet), but the AuthStateService somehow isn't.
i created a test project, attached. here you can see the error when running ng build. example code is in the app.component.

i made a test with your code where i added the AuthStateService explicitly in the index.ts file under the lib directory, then it gets exported correctly.
![image](https://user-images

[2022-09-02 09:34] FabianGosebrink commented on #1520
Thanks. But you do not need this. You can use the methods mentioned above, because the functionality is already exposed over the public API :)

[2022-09-02 15:07] FabienDehopre commented on #1493
I think this issue can be closed now since the PR #1504 has been merged and released.

[2022-09-02 15:07] #1493 closed

[2022-09-02 16:23] damienbod commented on #1515
@andreaslarssen  I need to look at this first and reproduce to verify

Greetings Damien

[2022-09-02 18:00] silviu-sterian commented on #1515
Thank you for looking into this @damienbod
Let me know if you need any info, it should be straight forward to reproduce.

[2022-09-02 19:52] petersandor commented on #1408
FYI This issue is a duplicate of https://github.com/damienbod/angular-auth-oidc-client/issues/1039#issuecomment-979481866 which was closed for no reason at all.

[2022-09-02 20:19] michal-husak opened #1523 "[Bug]: Silent renew called 2 times?"
**What Version of the library are you using?**
"@angular/core": "14.0.7",
"angular-auth-oidc-client": "14.1.3",

**Describe the bug**
The library checks every 4 seconds if the access token expired.  When it does it triggers the silent renew:
![image](https://user-images.githubusercontent.com/5699580/188228756-6ea12a57-8790-4ae9-b380-0f9fed533ab4.png)

which causes two calls being fired against our

[2022-09-04 02:06] evancjohnson commented on #841
@FabianGosebrink, I hope all is well!

Thank you for contributing as much as you do to this library. I understand this a breaking change, I was wondering if any progress has been made on this? Is this something that I could help complete? I am working on an Ionic application, and I would love to be able to persist the token to the native platform's storage.

I know this would be a large

[2022-09-05 07:32] maxcl10 opened #1524 "Silent Authentication when user signed in"
I'm currently using the 'select_account' prompt option in my application and users are complaining beause they need to select their credentials everytime they open the application even if they are already signed in. Is there a way to try to do a silent authentication first and and show the select account popup as a fallback scenario?

Thanks

[2022-09-05 09:11] dabbid commented on #1484
@WizeInge Did you really manage to get your Angular 13 project working with lib version 14.0.2? Don't have you these rxjs operators wrongly imported at the beginning (line 6) of `fesm2015/angular-auth-oidc-client.mjs` file?

[2022-09-05 09:28] maxcl10 commented on #1524
This that what I was looking for is the default behavior when you don't specify any prompt option.. Sorry for bothering..

[2022-09-05 09:37] WizeInge commented on #1484
@dabbid I just upgrade my project to Angular 14 and lib version 14.1.4.

But when i was on Angular 13 and lib version 14.0.2 no problem with RxJs (v7.4.0).
I import my operator with :
`import { Observable, of, retry, take, tap } from "rxjs";`

[2022-09-05 09:57] dabbid commented on #1484
Ok maybe it comes from my RxJs version then (6.6.7), I'm going to check, but if it's the case it would mean lib's peer dependencies are badly defined.

[2022-09-05 12:55] FabienDehopre opened #1525 "[Question]: Is it possible to mock the authentication state of the user?"
**What Version of the library are you using?**
14.1.4

**Question**
How can we mock the authentication state of a test user?

In our project, we configure the library using 2 JSON files that are merged at runtime:
- config.base.json which contains the environment invariant configuration
- config.overrides.json which is different in each environment (dev, qua, prd)

The authentication section (prop

[2022-09-06 07:53] fengzhihenxs opened #1527 "keep new tab logged in"
**What Version of the library are you using?**
Angular: 9.0.2
angular-auth-oidc-client: 11.6.10
**Question**
Hello, when a user logs into my website and opens the same website in a new tab, how can I keep the new tab logged in as well?

I am considering changing the storage mechanism to localStorage. I don't know if there are other problems. Do you have a good way?

Thank you and look forward to r

[2022-09-06 09:27] Simkiw opened #1528 "[Bug]: error in AuthModule configuration"
**What Version of the library are you using?**
11.6.11

**Describe the bug**
Argument of type '{ config: { authority: string; redirectUrl: string; postLogoutRedirectUri: string; clientId: string; scope: string; responseType: string; silentRenew: boolean; useRefreshToken: boolean; logLevel: LogLevel; }; }' is not assignable to parameter of type 'Token'.
  Object literal may only specify known prope

[2022-09-06 10:06] liamkeaton commented on #1505
I've had a similar issue and created a PR that should resolve the issue thanks to @kaep7n finding the root cause

[2022-09-06 11:21] FabianGosebrink commented on #1528
You are using an old version of the lib. Please update to a later version. Thanks!

[2022-09-06 12:20] L1nkss commented on #1522
Possibly because of my [PR](https://github.com/damienbod/angular-auth-oidc-client/pull/1451/files), but I'm not sure
I had the same problem as you
Did you try to add `disableIdTokenValidation: true` to your configuration?

[2022-09-06 13:05] dabbid commented on #1484
Build is ok with rxjs 7.x.x, I then think lib's rxjs peer dependency should rather be `rxjs": "^7.0.0",`

[2022-09-06 15:11] Simkiw commented on #1528
Hello,

I installed the version 14.0.0 and yet, I still have the same error.
My app.module looks like this:

[code]

I believe there is no difference between using ng add and npm install but writing these lines by myself.
Is there any specific cleaning I have to do? ForRoot method still expects a token instead of a config, it's as it's still sing the old library.

[2022-09-06 15:20] timdeschryver commented on #1528
@Simkiw I copy-pasted the config into a stackblitz and it appears to compile.
Could you reproduce it here as well?

https://stackblitz.com/edit/angular-ivy-f6pyvo?file=src%2Fapp%2Fapp.module.ts

[2022-09-06 16:56] Simkiw commented on #1528
@timdeschryver hmmmm, I just clicked on the link, i'm not very familiar with the stackblitz but ... yeah, it appears to be working there, I mean i do have the **Hello Angular 14!** and i don't seem have a compiling error.
I'm gonna try to clean my cache, maybe the problem come from there.

[2022-09-06 17:23] Simkiw commented on #1528
I'm not sure how, but .. facing difficulties to clear my cache combined with my lack of expertise in angular, I uninstalled the package via **npm uninstall** and .. looks like it removed the error. Now the method takes the right argument which is the config and not a token.
I think it has to do with the previous and old lib which has not been replaced with a recent one, and somehow angular was sti

[2022-09-06 17:47] walter-psjr commented on #1522
Hi @L1nkss ,

Yes, with disableIdTokenValidation: true it works, but without it and with maxIdTokenIatOffsetAllowedInSeconds the application enters a loop after the post login redirect. So would it be a bug caused by this pull request?

[2022-09-06 17:59] timdeschryver commented on #1528
Great! Thanks for the update.
Feel free to close the issue if it's resolved :)

[2022-09-07 07:10] michal-husak commented on #1523
Seems like during the first renew the request to our IDP /token endpoint took a bit longer and the library set the `silentRenewRunning` flag to `false` already, so the next check started again.
I think, that's why the call resulted with the error.

I played around with the config and added:
[code]

and the error seems to be gone. But still I think, this is something which should not happen.

[2022-09-07 07:17] #1528 closed

[2022-09-07 15:40] Doc1027 opened #1530 "[Question]: Logoff and revoke tokens not working for me v14.1.4"
**What Version of the library are you using?**

- Angular Auth Oidc Client v14.1.4
- Angular 14
- OPENIDDict on server

**Question.**
When logoffAndRevokeTokens method is called, the user is logged off locally but never logged off on the server. I'm seeing a couple of things happen:

1. It appears that the StsConfigLoader runs again as soon as the logoffAndRevokeTokens method is invoked. I know th

[2022-09-08 14:40] jogaec22 commented on #1057
Works for me, thanks.

[2022-09-08 21:30] silviu-sterian commented on #1515
Any update on this?

[2022-09-09 09:41] kaiaverkvist opened #1531 "[Question]: Using authorization_code flow with authentication required on token endpoint"
**What Version of the library are you using?**

**Question**
How do I use this library with an oauth provider that requires authentication on the token endpoint?
Well-known tags this as the following:
[code]

Currently I see Http 401 on the /token endpoint after successfully logging in because of this. I want to avoid storing client_secret in the frontend.

I see some projects exist to act as a pr

[2022-09-09 12:58] walter-psjr commented on #1522
Hi, any clues about this problem? I'm stuck not being able to release an application update because of this. Could anyone tell me what would be the risk of disabling this idtoken validation? Could this expose any risk?

[2022-09-09 20:58] jschutte27 commented on #1408
@damienbod I can give you a clientID and a test user in our dev Microfocus access manager system if you would like to test it that way.

[2022-09-13 19:06] benp25 opened #1534 "[Bug]: Calling logoffAndRevokeTokens() does not revoke access token"
Firstly, thank you for an awesome and simple to use library. I use this library at $job and we have bumped into a couple of minor issues, so as some small way of giving back I hope you will accept a PR to resolve this issue for others who may also be experiencing the same thing.

I have made PR #1532 to patch main and #1533 to patch V13.

**What Version of the library are you using?**
13.1.0, but

[2022-09-14 00:57] fengzhihenxs commented on #1527
@damienbod  Hello, after logging in, copy the link to open the second tab, how to achieve automatic login?

[2022-09-14 09:11] #1531 closed

[2022-09-14 09:17] Simkiw opened #1535 "[Bug]: Refresh the page before I could use the token"
**What Version of the library are you using?**
14.1.4

**Describe the bug**
My angular app authenticates to an identity server hosted in .net platform.
I thought it was working fine for a moment but actually, it's only after refreshing my page that I get my token attached to any further request.

**To Reproduce**
Steps to reproduce the behavior:

1. Login
2. Redirect to IdentityServer4 login page

[2022-09-14 13:39] Simkiw commented on #1535
Turned out the problem was related to my config. The redirect callbacks were not respecting OIDC conventions.
Updated in both, front and back side such as:  (still don't understand how it is involved in page relaoding to get the token)
http://localhost:4200 -> **http://localhost:4200/signin-oidc**

[2022-09-14 13:39] #1535 closed

[2022-09-15 17:33] AliHashemie commented on #1447
I have the same issue even without using http loader

here is my configurations
![Screenshot 2022-09-15 220232](https://user-images.githubusercontent.com/31801297/190472012-87945024-351f-450a-9974-ae74f5a0e9b4.png)

and here is the error that I Have

![Screenshot 2022-09-15 220331](https://user-images.githubusercontent.com/31801297/190472136-4e04a423-65cc-4b15-853b-be8c91b81915.png)

[2022-09-15 19:23] AliHashemie opened #1536 "[Bug]: Silent Renew problem with [cannot destructure property 'configId' of configuration null]"
**What Version of the library are you using?**
14.1.4

**Describe the bug**
The problem happens with checkAuthIncludingServer and this configurations
![Screenshot 2022-09-15 220232](https://user-images.githubusercontent.com/31801297/190490223-eac59a65-63ed-4ba3-ad27-8b8e391bcdbb.png)

when user came as anonymous, on first renew try I get this error (it raises from timeoutRetryStrategy)
![Screensho

[2022-09-16 02:15] robertfwest opened #1537 "[Question]: Is there a build config change needed to upgrade this lib from 13 to 14 without upgrading Angular to 14?"
**What Version of the library are you using?**
14.1.4 (no problem with 13.1.0 but want the new feature of overriding redirectUrl)

**Question**
How can I get my app to compile without upgrading to Angular 14? (I'm using 13.3 and have several reasons to not upgrade yet.)

This is the error I'm getting (with some details X'd out):
[code]

[2022-09-16 16:47] damienbod commented on #1534
thanks

[2022-09-16 16:47] #1534 closed

[2022-09-19 06:39] byunru opened #1538 "Request a sample angular project for Github OAuth with web application flow"
https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps

[2022-09-19 10:34] andreaslarssen commented on #1515
Seems like a fix could be merged (#1529) ?

[2022-09-20 07:28] adampolyanskiy opened #1539 "[Question]: Why user can acsess guarded routes being unauthorized"
**What Version of the library are you using?**
13.1.0

**Question**
I use AutoLoginAllRoutesGuard as a guard. Here is my app-routing snippet:
`const routes: Routes = [
  {
    path: '',
    redirectTo: 'home',
    pathMatch: 'full'
  },
  {
    path: '',
    component: MainLayoutComponent,
    canActivate: [AutoLoginAllRoutesGuard],
    children: [
      {
        path: 'home',
        loadChildre

[2022-09-20 12:28] FabianGosebrink commented on #1539
Hey, sure. That is because the browser is caching the angular things and providing it to you. You are not authorized, hence you do get those 401 responses and see no data.

[2022-09-20 12:48] adampolyanskiy commented on #1539
Thank you for the reply! Is there any workaround to force the app to redirect? Does RunGuardsAndResolvers: 'always' suppose to fix this particular issue?

[2022-09-20 13:23] FabianGosebrink commented on #1539
You can check whether you have a token and then redirect.

[2022-09-21 07:53] andreaslarssen commented on #1461
...on the other hand Angular HttpClient has methods that returns one-off streams. Not making an argument, just curious about the discussion.

[2022-09-21 10:52] patolax opened #1540 "[Bug]: Stops at /unauthorized"
We are getting this issue in production. Everything looks fine but after the token\jws call application is redirected to /unauthorized and stops there. (i.e. We receive a valid id_token.)
see the attached image.

We are using "angular-auth-oidc-client": "12.0.2", and identity server v4.

What could be the issue, we checked everything against the local deployment, but can't find any difference. Ide

[2022-09-21 13:43] FabianGosebrink commented on #1540
V 12 is not supported anymore. Can you reproduce this issue in the latest version?

[2022-09-21 14:10] arokkiadurairaj commented on #1443
I even tried the getuserData method & the userdata$ observable, Both are returning the data from the IdToken only not the access token.

[2022-09-21 21:04] rbaezaMiro1984 opened #1545 "[Question]: It's possible automatic login after register"
**What Version of the library are you using?**
...
v 14.0.1
**Question**
How can I automatic login after register.

[2022-09-21 23:58] patolax commented on #1540
No the same setup works locally, it's only in production that this issue is occurring. basically, everything halts before sending \userinfo reguest. maybe the access token is not obtained.

[2022-09-22 05:31] FabianGosebrink commented on #1443
PR is merged, will be in the next release.

[2022-09-22 11:35] damienbod commented on #1443
this is released in 14.1.5

[2022-09-22 11:56] Stas-tolpekin commented on #1461
Difference is that HttpClient’s methods has a parameter that allows to get progress of response downloading. In this case you’ll get each event of a http request as emissions in the observable.
By other words, httpClient has methods that returns either one-off streams or multiple-emission streams depend on arguments.

[2022-09-22 21:26] silviu-sterian commented on #1515
Thanks @andreaslarssen it looks like it might fix it. I'll pull this fix and test it. What is the release schedule for this?

[2022-09-23 11:45] andreaslarssen commented on #1515
@silviu-sterian I'm not a maintainer, just waiting for the release like you, but seems like it's out:
https://github.com/damienbod/angular-auth-oidc-client/releases/tag/release_14_1_5

[2022-09-23 12:22] ccondrup opened #1546 "[Bug]: "authCallback id token expired" after upgrade to 14.1.5"
**What Version of the library are you using?**
14.1.5 on Angular 14.1.3

**Describe the bug**
After upgrading from 14.1.4 to 14.1.5 we're experiencing an issue where users are no longer able to authenticate using Code flow PKCE with refresh tokens. Console says "authCallback id token expired". We are using an inhouse IDP and its API returns an id_token containing these timestamps:

    aut time: T

[2022-09-23 12:55] damienbod commented on #1408
@jschutte27 Yes please and the config to connect as well?

[2022-09-23 13:36] jschutte27 commented on #1408
I sent you an email with the details.  Let me know if you don't get that or have questions.  I forgot to add the scopes to the email, but you can use "openid profile email roles".

[2022-09-24 22:46] sglindme opened #1547 "[Question]: How can I get identity claims from the token?"
**What Version of the library are you using?**
12.0.3

**Question**
With the angular-oauth2-oidc package, you just call getIdentityClaims() on the oidc service, but I don't see that option here

[2022-09-27 02:03] patolax commented on #1540
The problem was that the ntpd service on the linux host had died, and thus the time had drifted over time. I did not calculate exactly but it was between one and two minutes difference between the server and the windows machine running the browser.

[2022-09-27 02:03] #1540 closed

[2022-09-27 02:45] patolax opened #1548 "[Bug]: UnauthorizedComponent is shown for a moment before loading the application after login"
We are using ` angular-auth-oidc-client": "14.1.5"` and  `AutoLoginAllRoutesGuard` in the router.

When we log in and get redirected from identiyserver v4, the following things occur related to checkAuth.

We have our own service wrapping OidcSecurityService.

There we subscribe to this.oidcSecurityService.checkAuth().
In this case, we get this error and a small glimpse of UnauthorizedComponent .

[2022-09-27 08:00] heapifyman opened #1549 "[Question]: Why is AutoLoginAllRoutesGuard not recommended?"
**What Version of the library are you using?**

14.1.5

**Question**

The [documentation for `AutoLoginAllRoutesGuard`](https://angular-auth-oidc-client.com/docs/documentation/auto-login#auto-login-when-all-routes-are-guarded) states:

I may have missed it somewhere in the documentation but I could not find any explanation why it is not recommended.
Is the implementation considered unstable or is

[2022-09-27 09:33] arokkiadurairaj opened #1551 "[Question]: The angular-auth-oidc-client library is not catching the Logged out user."
I am working on a project with single Identity Server 4  project which has multiple angular client application. The client applications are using the angular-auth-oidc-client library version '10.0.11'

There is an issue on Logout from the Identity Server. After logout If I open the client application it is calling the calling the oidcSecurityService.getIsAuthorized() method to check the authorizia

[2022-09-27 23:59] #1547 closed

[2022-09-28 10:40] luryus opened #1552 "[Bug]: disableIdTokenValidation config flag is undocumented and named misleadingly"
**What Version of the library are you using?**
14.1.5

**Describe the bug**
The `disableIdTokenValidation` flag, added in #1451, is not listed in the available config options in the documentation.

This is especially problematic as the flag is badly named anyway:
- it **does not** disable all ID token validation, unlike the name would suggest
- it **does not** disable even all time validation, unl

[2022-09-28 11:32] FabianGosebrink commented on #1548
Can you please provide a title for this bug?

[2022-09-28 12:14] patolax commented on #1548
sorry, done!

[2022-09-28 12:19] FabianGosebrink commented on #1548
No worries, just help us to keep track of all the inputs. Thanks!

So normally if you start the login process from the app, a state is persisted, and when the IDP sends you back to the app we need to figure out which config is being used, so the state is being read and matched to a config.

In your case, a config can not be found, maybe the state is missing? Did you start the login process, maybe

[2022-09-29 07:28] FabianGosebrink commented on #1551
Hey, you are using a very old version which is no longer supported. Can you update to the latest version?

[2022-09-29 08:11] arokkiadurairaj commented on #1551
I have even upgraded to the latest version 14 however the issue still persists. As per the upgraded changes I have used the method checkauthorize but still

[2022-09-29 08:30] FabianGosebrink commented on #1551
Have you tried the method [https://angular-auth-oidc-client.com/docs/documentation/public-api#logoffandrevoketokensconfigid-string-authoptions-authoptions](https://angular-auth-oidc-client.com/docs/documentation/public-api#logoffandrevoketokensconfigid-string-authoptions-authoptions) ?

[2022-09-29 09:19] arokkiadurairaj commented on #1551
This is used if we want to logout from Android application. However in my case the user logs off from the identity server application and logs in with new user. After that when he opens the angular application the checkauth method returns the old user data rather than the new user.

[2022-09-29 09:22] FabianGosebrink commented on #1551
So the user does not log out from the angular app itself?

[2022-09-29 11:28] arokkiadurairaj commented on #1551
No the logoff from angular is working as expected. The issue appears only if the user logs off from the identity server that the library is not able to catch if the user is logged in or not.

[2022-09-30 06:22] lorenzodallavecchia commented on #1537
@robertfwest try using version 14.0.2. It contains the new features of 14.0.0 but still works with Angular 13.

I think this is a subtle bug, not just a question. Commit 5ec347912d50afd970ee045c7c98979a68559666 migrated the sources to Angular 14, but by doing this the AOT metadata embedded in the compiled files started requiring Angular 14. However, the `package.json` published to npm declares sup

[2022-10-03 07:07] FabianGosebrink commented on #1549
Hey, thanks for asking. Like written in the docs, and you cited it very correct, an SPA normally needs a point to set up the auth when it gets redirected from the IDP to the app itself. If you think of the state of the app, which is not authorized in this case, but the state of the "system" (Your IDP, maybe backend and SPA) is "currently authorizing". Because you entered the correct credentials an

[2022-10-04 05:21] patolax commented on #1548
historyCleanupOff: false, fixed the issue.

[2022-10-04 05:21] #1548 closed

[2022-10-05 04:30] silviu-sterian commented on #1515
@andreaslarssen  this unfortunately does not fix my issue.  This issue (reported above) has to do with renewTimeBeforeTokenExpiresInSeconds property and it is not solved by this release

[2022-10-05 05:39] andreaslarssen commented on #1515
Ah, that's too bad. Pretty sure we renew the token before expiration though

[2022-10-05 12:04] walter-psjr commented on #1522
The problem has been fixed in version 14.1.5.

Thanks

[2022-10-05 12:04] #1522 closed

[2022-10-05 14:29] DenislavSyarov opened #1553 "[Question]: customParams is null, when initially set in authorize. Angular 14"
I am using Angular 14 and the 14.1.5 version of the library

**Question**
How can I retrieve customParamsAuthRequest ?
I am initially setting a customParams object:

[code]
 Then when I would like to retrieve it after the stsCallback the object is null, but I can see it in the session storage.

 Code to retrieve

[code]

I can see the object `storageCustomParamsAuthRequest` being set in the sessio

[2022-10-05 16:25] silviu-sterian commented on #1515
@andreaslarssen Thanks again for contributing and keeping this active. I explained how this issue is happening. Even if you might be lucky enough that your library renews the token right when it expires, I don't think currently renewTimeBeforeTokenExpiresInSeconds  is honored, which means you should be able to renew the token - for safety - that number of seconds before it expires. Say you want to

[2022-10-05 18:10] andreaslarssen commented on #1515
We've had quite few problems with this package lately, so I don't remember all the details, but I thought this indeed fixed the issue of the refresh token actually being refreshed `renewTimeBeforeTokenExpiresInSeconds` seconds before it expired

[2022-10-05 18:30] silviu-sterian commented on #1515
I've upgraded the library and the only change I noticed was that silent renew did not log to console how it used to, although the config settings are identical - LogLevel.Debug

[2022-10-05 18:33] andreaslarssen commented on #1515
I'm not currently working on the project where we use this package, but @erichjsonfosse and @ccondrup are. Maybe they can check / shed some light on this issue and see if we face the same

[2022-10-09 14:40] kenanaReda commented on #805
Hi!
I'm using version 14.1.5 and still facing the same issue
![image](https://user-images.githubusercontent.com/18475879/194762945-187379ff-9cc1-43fe-975b-4923d94fc971.png)

[2022-10-10 12:07] premsaikp opened #1555 "[Question]: silent renew false and id_token expired"
**What Version of the library are you using?**
Currently I am using 12.1 version.

**Question**
first of all I am new to this library and I am trying for below solution,
I am trying to achieve token expiry pop message once my Id token expired, for this I make it silentRenew as false and in this case I am using public service events and these events not firing once my Id token expired( upto 30 min)

[2022-10-11 09:47] #1445 closed

[2022-10-11 09:47] #1442 closed

[2022-10-11 12:03] GeofoxCoding opened #1556 "Migration 11 -> 12 load configuration from app environment"
Version 12.0.3

Hello,

I'm currently migration from version 11 to 12 and I'm facing a problem with the module initialization. I get my config object through my own ConfigService from my environment.ts configs.

So far I was able to configure OidcConfigService easily with a factory.

[code]
[code]

How can this be done with the current setup?

Thank you for your help.

[2022-10-11 12:30] timdeschryver commented on #1556
Hey @GeofoxCoding does this help?
https://angular-auth-oidc-client.com/docs/migrations/v11-to-v12#loading-config-from-endpoint-http

[2022-10-11 12:36] GeofoxCoding commented on #1556
Hello @timdeschryver,yes, that helped. Thank you!

I overlooked that point because I don't want to fetch with HTTP. But the point of the StsConfigHttpLoader is that it takes a Promise that can be created in any way.

[2022-10-11 12:36] #1556 closed

[2022-10-12 06:17] rdu commented on #1378
@morrowyn forceRefreshSession returns an obervable. An observable must be subscribed to be fired.

[2022-10-13 21:57] dgphilly opened #1557 "[Question]: Requesting Individual Claims"
**What Version of the library are you using?**
12.0.3

**Question**
Is there functionality to request individual claims in the config and set them as "essential"? My hope is for them to be returned as part of the userinfo api call.

Specs based on openID:
https://openid.net/specs/openid-connect-core-1_0.html#IndividualClaimsRequests

[2022-10-17 13:40] yasargil commented on #1408
We have the same problem, token endpoint does not return an id token for a refresh token. After an automatic or manual refresh the session is broken.

[2022-10-18 07:52] yasargil commented on #1408
Seems like the id_token should be validated only once after the initial login. See: https://stackoverflow.com/a/25810348

[2022-10-18 08:03] yasargil commented on #1408
A simple fix would be to store the id_token like the access_token in a separate field.

[2022-10-18 09:57] yasargil commented on #1408
Following patch helps us when enableIdTokenExpiredValidationInRenew is false
[code]

[2022-10-19 07:20] a-a-k commented on #562
@florisrobbemont hi, could you describe your approach for impersonation implementation?

[2022-10-19 07:20] a-a-k commented on #401
@yelhouti hi, could you describe your approach for impersonation implementation?

[2022-10-19 14:16] michal-husak commented on #1408
This flag does not seem to work for me. The library just stops adding the access token to the header after the refresh call without id_token.

[2022-10-19 16:03] yelhouti commented on #1255
@wolfpackt99 sorry for being later for the party, I am here to write an issue with cypress that mostly works.

But for you case here is some code that should work:
[code]

Hope this helps, don't hesitate if you have questions

[2022-10-19 16:22] yelhouti opened #1558 "[Bug]: SilentRenew clears codeVerifier for manual request"
14.1.5
...

**Describe the bug**
When I am writing automatic tests with Cypress (This is not related to cypress but I am putting here to help others find the issue), it seems that I click a bit too fast on the login button, (ie: just after silentRenew request being sent, before silentRenew failing). Furthermore, login() doesn't open the Idp login page fast enough and  silentRenew failure is proces

[2022-10-20 08:45] yasargil commented on #1408
This only works with the patch, without the token is lost after the refresh call.

[2022-10-20 10:48] imdmehdi opened #1559 "[Question]: Unable to use this library with capacitor?"
**What Version of the library are you using?** 14.0.1
...

**Question**
How can I use this library with capacitor js to create hybrid android app.

My application is working properly with Angular 14 and is able to authenticate users. But when I generate capacitor files using npx cap sync it's not working. When I run the capacitor one:  It's opening the app and redirecting to login page of Identity

[2022-10-20 12:15] florisrobbemont commented on #562
Hey man! Sorry, this is over 2 years ago and we moved on from this project.
I can remember that we basically triggered the backend to create an authentication ticket for a specific user (while saving the user that started the impersonation process). We used a different cookie-domain for this.
Our backend ran on a seperate domain from the frontend application as well, to make sure two users could b

[2022-10-21 01:08] tanandre opened #1560 "[Feature Request]: allow option to disable nonce parameter and check"
There are auth servers that do not support the nonce parameter. And as a client it is not required to send one. This flexibility allows angular-auth-oidc-client to be applicable in more different situations and environments.

**Describe the solution you'd like**
A configurable option to disable the nonce parameter and validation

**Describe alternatives you've considered**
We tried convincing the

[2022-10-21 04:24] adampolyanskiy opened #1561 "[Question]: Id_token decoding"
**What Version of the library are you using?**
13.1.0

**Question**
Our Identity Provider Server is supposed to encrypt id_tokens using a key before there are sent to a client. One of our clients is an Angular app. When the client receives id_token I see that It's not in an encrypted form because I can easily decode using the base64 decoder, while It is should be encrypted at the time when it is t

[2022-10-21 10:52] michal-husak commented on #1408
I solved it with this interceptor :D

[code]

as the id_token is not needed in my case anyway I can live with the access_token there as a placeholder.

[2022-10-21 16:16] lewdi4 opened #1562 "[Question]: Multiple Pop Up Logins Causes null errors"
**What Version of the library are you using?**
14.1.5

**Question**
When a user clicks a button to launch the popup, sometimes they don't see the popup or pop another popup.  when the user submits that popup, I am getting null pointer errors that are crashing chrome. Is there some way to manager the popup so it automatically pops the same window, or so that it will ignores the second popup request

[2022-10-26 10:53] JyotiP10 commented on #1559
Hi @damienbod I am also facing similar issue Please help!!

[2022-10-26 14:22] daveanagem opened #1564 "[Question]: How to getAccessToken() when using cookie storage for AbstractSecurityStorage"
I am using version 12.0.3

When using getAccessToken() null is returned because the cookie doesn't store authzData.

Is there a way to either configure what gets stored in the cookie or change where getAccessToken() retrieves the access token.

Thanks in advance

[2022-10-27 04:04] PankajPatro opened #1565 "[Question]: How can I subscribe to silent renew errors => add new event"
Using "angular-auth-oidc-client": "14.1.4"

We are using the angular-auth-oidc client library with PKCE mode. We also have enabled silentRenew option so that the application can fetch a new access token if the accesstoken expires. However sometime due to some error on the server (in our case we have a sub application which sometimes also refreshes the token) the silentRenew fails. We are glad that

[2022-10-27 13:36] maxs-rose commented on #1437
For me using okta for authentication fails because the cookie size eventually gets larger than 4096 bytes so it no longer updates the value in the cookie storage causing the authentication flow to fail. In previous versions, this wasn't an issue as values were stored as separate cookies rather than 1 "large" json object

[2022-10-28 10:31] origooo opened #1566 "[Question]: Prevent interceptor from always using token from first configured provider."
**What Version of the library are you using?**
13.1.0

I have a setup with two providers, Google and Azure (configured in that order). They both use the same `secureRoutes` and it works just fine when I sign in with Google. Though, when I sign in with Azure, the interceptor still tries to use a token from Google simply because that is the first config. The interceptor calls `closestMatchingRouteSe

[2022-10-28 18:19] FabianGosebrink commented on #1566
Currently, when an HTTP-Request hits the interceptor, we can not figure out which config tot take, so until now takes the first config always. What would be possible is: configure a URL and passing the `configId` to match. Then we would know it out of the configuration. Would that be something? I don't know if that works, it just came into my head.

[2022-10-28 18:58] anwalkers commented on #1487
I am having a similar issue with code flow on v13. My cleansed log. It is logging the user out when it goes to check the session. Time stamp 11:30:16.081 is where our application appears, then the user is immediately logged out.

Bad log from Firefox browser
[code]

Here is the log from the Chrome browser. I have truncated it a bit, starting a few steps before where the Firefox browser logs the us

[2022-10-29 07:27] damienbod commented on #1559
I assume capacitor  is a wrapper to create a native application on a mobile device. This framework needs to implement the bridge. The native app opens a browser with a special URL and does the authentication in the browser. Once finished, the tokens can be returned back to the native application. A logout needs to clear the browser as well. The native wrapper would need to implement this correctly

[2022-10-29 07:31] damienbod commented on #1561
The id_token is normally not encrypted, most IDPs just use base64 encoding. If the id_token is encrypted, then you would need a key to decrypt. It does not make sense for the ID token in a SPA. The access token can be encrypted and would improve the security.

[2022-10-29 07:37] damienbod commented on #1560
Why would you disable the nonce validation? This is a important security check.

Get it working due to env constraints with security holes is not really a good idea. Is updating your identity provider to a modern standard not possible?

Greetings Damien

[2022-10-29 07:53] imdmehdi commented on #1559
@damienbod  ,
So, I understand that we need to make extra changes in place of using this library directly?

[2022-10-29 09:06] damienbod commented on #1559
no idea how capacitor does this or what it does, I would need to read the docs. I see in the does you can use this with Ionic, the lib works with ionic for native apps. I don't know these frameworks

Greetings Damien

[2022-10-29 11:08] FabianGosebrink commented on #1562
Hey, what do you mean with "pop another popup"? Do you mean that they click the button multiple times? And then, when they close one of the first popups, they get an error? Thanks

[2022-10-29 15:56] imdmehdi commented on #1559
@damienbod
Ok thanks Alot for responding, will look ahead.

[2022-10-29 18:04] lewdi4 commented on #1562
Yes.  When they click the buttons the first time the first pop shows.  If they ignore that pop up and click the button again and submit it,  the app has an endless loop of errors.

Michael Ladewski

On Oct 29, 2022, at 7:08 AM, Fabian Gosebrink ***@***.***> wrote:

﻿

Hey, what do you mean with "pop another popup"? Do you mean that they click the button multiple times? And then, when they close on

[2022-10-30 10:17] imdmehdi commented on #1559
Can you provide the link of that doc where you saw it can be used with ionic. It would be of great help.

[2022-10-30 10:25] damienbod commented on #1559
https://capacitorjs.com/docs/getting-started/with-ionic

[2022-10-30 10:30] imdmehdi commented on #1559
Thanks,
But we did not got any reference where if we can use this angular-auth-oidc-client library with ionic or capacitor.
Might be identity server is written in MVC so capacitor or ionic not works due to this as expected.

[2022-10-31 09:25] greengumby commented on #1486
Did you get an answer to this?

[2022-10-31 09:26] greengumby commented on #1366
Any update to this issue?

[2022-10-31 18:29] anwalkers commented on #1487
@damienbod It is only an issue against a localhost without ```--ssl``` options.

I spun up your project on the ```release_13_1_0``` branch locally and your example project runs fine. I tested it on ubuntu 20.04 running FireFox 150.0.3 and Windows running FireFox 150.0.3 and 160.0.3.

FireFox works fine with our deployed environment. I will investigate adding the ```--ssl``` option to our local dev

[2022-10-31 20:35] yelhouti opened #1567 "[Feature Request]: Add the ability to use id_token instead of access_token in the default interceptor"
**Is your feature request related to a problem? Please describe.**
Whenever I use the library, I am forced to copy the interceptor and change :
https://github.com/damienbod/angular-auth-oidc-client/blob/d4ae0626ed190c63ebb11ac537a6902b2681047c/projects/angular-auth-oidc-client/src/lib/interceptor/auth.interceptor.ts#L46
with `getIdToken`

**Describe the solution you'd like**
Add in the config `use

[2022-11-01 13:08] FabianGosebrink commented on #1567
What is the use case t send the idtoken to the backend instead of the access token?

[2022-11-01 15:16] gundogduhasan opened #1568 "[Question]: Can this lib be used with Duende Identity Server?"
**What Version of the library are you using?**
Latest.
**Question**
Hi,
I am currently using this lib in my project with identity server 4. But some reasons we decide to upgrade our identity server 4 to duende. Can i still use this lib? Have you any example related with bff? And last question do i have to use bff all clients and identity server in same domain? Or could be a different domains? Like

[2022-11-01 16:12] yelhouti commented on #1567
@FabianGosebrink when you have multiple clients in the same IdP, it mandatory (per OIdC spec) to use the id_token and not the access_token. This is because the `aud` field in the id token prevents one client to use a token he has to impersonate a mutual user in another client. This is the main difference between OAuth2 and OIdC and reason why you should never use OAuth2 for authentication (login)

[2022-11-01 20:58] tanandre commented on #1560
Hi Damien,

Our application is setup to connect with multiple different OIDC servers depending on what our customers use. Most of the OIDC servers we connected to support the nonce but we currently encountered one that doesn't. We already pushed back by explaining it's mandatory for the server to support it. Still, as a client it is an optional parameter which I believe we could make it configurab

[2022-11-02 07:18] FabianGosebrink commented on #1549
You have to call `checkAuth()` also when the application starts.

[2022-11-02 07:25] adampolyanskiy commented on #1561
Thank for the reply, damienbod. I wanted to clarify the part with the encryption on IDP. The thing is that our IDP is configured to encrypt id_token, but the angular app recieves it as it is, only base64 encoded. Can it be wrong configuration on UI side? Just in case, we use [[[Openiddict library]()](https://github.com/openiddict/openiddict-core)](https://github.com/openiddict/openiddict-core) as

[2022-11-02 12:15] stanislavpotapenko opened #1569 "[Question]: session_state is missing on new tab with startCheckSession and silentRenew enabled."
Using version 14.1.5
Hi.
**Question**
Newly opened tab not getting session_state, which makes impossible to logoff from all opened tabs.
Reproduced with config:
[code]
! app.component uses **checkAuthIncludingServer** to check auth state.

According to source code this happens because of autoUserInfo is false and isRenewProcess (from flow context) set to true.
Having autoUserInfo set to true could

[2022-11-02 15:01] damienbod commented on #1567
Hi @yelhouti  you never send an id_token to any API. The APIs use the azp claim in the access token to solve this.

Greetings Damien

[2022-11-03 04:25] yelhouti commented on #1567
@damienbod while I agree with you assessment that the `azp` claim fixes the issue, I have too problems with it:
1. azp is only mentioned in the oidc spec, and is not present AFAIKT in all access tokens.
2. the azp spec seems to keep changing every few months as can be seen here: https://openid.net/specs/openid-connect-basic-1_0.html
The truth is that I started using the `azp` claim just after writ

[2022-11-03 06:28] julien-von-oetinger opened #1570 "[Question]: dynamic redirectUrl"
**What Version of the library are you using?**
14.1.5

**Question**

In the configuration, we can only set a single redirection URL. At the moment I have this: `redirectUrl: 'http://localhost:4200'`.

But that means that whatever URL the user is trying to reach in my application, he will be redirected to the root of the application instead of the URL he entered. For example, if the user tries to a

[2022-11-03 07:19] FabianGosebrink commented on #1562
Duplicate of #1333

[2022-11-03 10:33] FabianGosebrink commented on #1408
Basically we can fix this asking for an idtoken in the callback response, or am I missing something?

Like in `projects\angular-auth-oidc-client\src\lib\flows\callback-handling\history-jwt-keys-callback-handler.service.ts`

[code]

Any thoughts?

[2022-11-03 10:35] yasargil commented on #1408
In our case the idtoken will be expired by then. So if there will be a check after that callback it will fail.

[2022-11-03 10:38] michal-husak commented on #1408
I was thinking that we could preserve the first original id_token in the sessionStorage after the token refresh call returns an answer without the id_token && if the `enableIdTokenExpiredValidationInRenew` is set to false.

[2022-11-03 10:40] FabianGosebrink commented on #1408
When the stored id token is expired and the refresh did not return a new idtoken - which idtoken should be stored then?

[2022-11-03 10:44] yasargil commented on #1408
The idtoken from the initial login event should be kept around as long as there will be no new token delivered and should be only validated for the initial login event and not for a refresh.

[2022-11-03 10:46] michal-husak commented on #1408
when it is expired and the flag is `enableIdTokenExpiredValidationInRenew = false` you don't really care anymore right?
I would just keep the old one there.

Or is there some other logic I am missing?
In my workaround interceptor I just tricked it with the access_token which came from the refresh call.

Does the old id_token need to be not-expired in order to get `true` from the `isAuthenticated()

[2022-11-03 18:23] damienbod commented on #1568
Hi @gundogduhasan Yes this lib can be used with the latest identityServer. If you decide to switch to BFF, then you don't need this lib but some server rendered application which hosts the Angular application and the auth is implemented in the server application. Public clients with PKCE is still supported though.

Greetings Damien

[2022-11-03 19:31] gundogduhasan commented on #1568
Hi @damienbod thank you so much for your detailed answer. I just asking for double check. If I use bff I don't need to use this library right?

[2022-11-03 20:22] damienbod commented on #1568
correct

[2022-11-03 20:39] gundogduhasan commented on #1568
Thank you so much again

Greetings.

[2022-11-03 20:39] #1568 closed

[2022-11-04 10:54] 8thblock commented on #1456
It seems there is none. Try injecting a storage provider at the root may be? I am in the same boat and looking for alternatives.

[2022-11-04 11:44] FabianGosebrink commented on #1408
We are currently working on this.

[2022-11-04 15:00] fritzwf opened #1572 "[Question]: Is there any documentation for the "autoCleanStateAfterAuthentication?""
**What Version of the library are you using?**
14.1.5

**Question**
How can I get more information on how the **autoCleanStateAfterAuthentication** works?

### Thanks

[2022-11-04 17:30] fritzwf commented on #1562
Can the pop-up be made so the minimize option can be disabled?  Also, if there is already a modal pop-up, don't let it create another one.  I also see the issue:

`login.component.ts:82 ERROR TypeError: Cannot read properties of null (reading 'closed')
      at angular-auth-oidc-client.mjs:3966:28
      at timer (zone.js:2405:41)
      at _ZoneDelegate.invokeTask (zone.js:406:31)
      at Object.o

[2022-11-04 20:32] FabianGosebrink commented on #1562
I think we will fix the issue that no other popup can be opened when a popup is already open.

[2022-11-04 20:51] damienbod commented on #1408
@jschutte27  Can you send me the server details again? We added a fix for this and would like to test with an IDP which does not return an id_token in the refresh

Thanks Damien

[2022-11-04 20:56] damienbod commented on #1431
We fix, add support for this in version 14, PR: fabiangosebrink/fixing-missing-id-token-in-response

[2022-11-05 01:35] jschutte27 commented on #1408
I sent it to your email address.  Let me know if you need anything else.

[2022-11-05 05:50] damienbod commented on #1408
@jschutte27 got it, thanks!

[2022-11-05 22:46] damienbod commented on #1408
We have a working version now of this using this configuration for the provided server. Just need some tests and docs now and we can finished the PR and release

[code]

[2022-11-06 06:16] #1561 closed

[2022-11-06 06:18] damienbod commented on #1555
You probably should just use the default refresh and update to the latest version.

Greetings Damien

[2022-11-06 06:18] #1555 closed

[2022-11-06 06:20] damienbod commented on #1546
fixed in version 14.2.0

Once released you can configuration it something like this:

[code]

[2022-11-06 06:31] #1487 closed

[2022-11-06 06:33] damienbod commented on #1469
from version 14.2.0, it is now possible to only check the access token for expired

[2022-11-06 06:47] #1469 closed

[2022-11-06 06:48] damienbod commented on #1431
fixed in version 14.2.0

Once released you can configuration it something like this:

[code]

[2022-11-06 06:50] #1339 closed

[2022-11-06 06:51] #1261 closed

[2022-11-06 06:55] damienbod commented on #1552
fixed in version 14.2.0

Once released you can configuration it something like this:

[code]

[2022-11-06 07:00] damienbod commented on #1523
The renew can only be run once at a time for the same client. This is required due to the validation and the state, nonce checks.

[2022-11-06 07:00] #1523 closed

[2022-11-06 07:06] damienbod commented on #1515
This should be fixed., A lot of these issues is due to us validating the id_token and the id_token does not get refreshed and so expires.

This is fixed in version 14.2.0

Once released you can configure it something like this:

[code]

If you only need to disable thr id_token check and use only the access token, then only this property is required : enableIdTokenExpiredValidationInRenew. The id_t

[2022-11-06 07:06] #1515 closed

[2022-11-06 07:07] #1505 closed

[2022-11-06 07:09] damienbod commented on #1300
Added configuration in version 14.2.0 which you can disabel the id_token expiry check

[2022-11-06 07:09] #1300 closed

[2022-11-06 15:25] FabianGosebrink commented on #1572
We have problems with our docs currently, but they are saying

[code]

[2022-11-07 08:47] RakouskyS opened #1574 "Documentation Page is offline"
https://angular-auth-oidc-client.com/ gives a 404 error.

[2022-11-07 08:47] FabianGosebrink commented on #1574
Yes, we know and are working on that issue,

[2022-11-07 10:47] FabianGosebrink commented on #1574
You can find the docs in the repo as long as the site is not running https://github.com/damienbod/angular-auth-oidc-client/tree/main/docs/site/angular-auth-oidc-client/docs

[2022-11-07 13:59] milo526 commented on #1557
I was just looking into this to enforce an `acr` claim.

You should be able to mark claims as essential by including them in the `customParamsAuthRequest` property.

Please be aware that this seemingly requires your IDP to support the claims parameter, this should be advertised in the `/.well-known/openid-configuration` document by the `claims_parameter_supported` key being set to `true`

[code]

[2022-11-07 14:49] fritzwf commented on #1572
The key information I need for this variable is "reset after authentication," that is what does the reset actually do when it resets?

Thanks

[2022-11-07 17:26] #1557 closed

[2022-11-07 18:26] Janl1 commented on #1513
Hey, I have the exact same problem.. Every now and than our Sentry logging reveals user being stuck with the error `could not find matching config for state`.

Is there a way to catch the error?

[2022-11-07 21:16] silviu-sterian commented on #1515
Thanks @damienbod! When is 14.2 being released?

Also, my issue had to do with token being renewed (silence renewal triggered) a certain number of seconds before the token expires - using renewTimeBeforeTokenExpiresInSeconds
 I did not see it in your configuration but this property is what was not working for me as doccumented.

[2022-11-08 06:17] FabianGosebrink commented on #1574
Should be online again

[2022-11-08 06:17] #1574 closed

[2022-11-08 07:01] FabianGosebrink commented on #1572
It overwrites the variable `authStateControl` with an empty string.

[code]

[2022-11-08 13:31] danielebonfatti opened #1575 "[Feature Request]: Adding logoff POST call"
Hi all,
since the OpenID specs https://openid.net/specs/openid-connect-rpinitiated-1_0.html say that

and some OpenID Providers expose also the POST endpoint, would be possible to add the possibility to call logoff with POST method, in a configurable way?
At the moment the call is always a GET (logoff-revocation.service.ts):

[code]

Our security office told us not to use the GET call for "securit

[2022-11-08 13:45] damienbod commented on #1575
This makes sense. We will added support for HTTPs POST logout

[2022-11-08 13:53] danielebonfatti commented on #1575
Sounds good, thank you.
Do you have any plan (even rough) about the realease of this feature?

[2022-11-08 17:19] FabianGosebrink commented on #1575
We have not even started implementing it :), But it does make sense. We will provide appropriate methods. I think I can start on the weekend at the latest. Thanks!

[2022-11-09 10:03] danielebonfatti commented on #1575
Thanks @FabianGosebrink

[2022-11-09 22:01] fritzwf commented on #1575
The documents say that you can subscribe on logoff(), but it doesn't seem to be there anymore.  Isn't the logoff() operation asynchronous since it interacts with the OIDC server?

[2022-11-10 06:25] FabianGosebrink commented on #1575
Correct, there is an issue with the docs. You can not subscribe to the logoff, it is a normal void returning type. That is a doc bug.

[2022-11-10 10:07] #1572 closed

[2022-11-10 14:27] ramiz4 opened #1576 "[Question]: How can I log in using the IP Address instead of the URL?"
**What Version of the library are you using?**
14.1.5

IDP = keycloak

**Describe the bug**
When running the sample-implicit-flow-silent-renew app via "npm start -- --host=0.0.0.0 --disable-host-check" and open the app on Browser via local IP address, then login does not work.

Repo to reproduce: https://github.com/ramiz4/sample-implicit-flow-silent-renew

![image](https://user-images.githubuserco

[2022-11-10 15:29] otrebor-bni commented on #1576
I can confirm this behavior with the latest version 14.1.5.
On localhost everything works fine, as far as I host the app on a server (in my case IIS on windows server) it doesn't work anymore. This seems to be a bug..
@FabianGosebrink can you investigate this behavior?

[2022-11-10 15:33] FabianGosebrink commented on #1576
Does the IDP know the IP as referrer?

[2022-11-10 15:37] otrebor-bni commented on #1576
I use keycloak as IDP.
![image](https://user-images.githubusercontent.com/54057524/201138454-eb9061e4-ef06-4705-bc3b-fc236c757ebe.png)
 The IDP should know the IP as referrer.. Maybe you have some experience with keycloak ? And I'm missing a setting or something else..

[2022-11-10 18:06] FabianGosebrink commented on #1576
Can we confirm that this is not a bug, but a misconfiguration on the IDP Side? You have to enter the IP address if you want to allow it to be a referrer.

[2022-11-10 18:13] SimonCorellia opened #1577 "[Bug]: Can't authenticate an App in an Iframe -> Error: could not find matching config for state ..."
Hello

I have the same issue than this related here #1318 but I am on a particular use case

**Version of the lib**
14.1.5

**Auth Config**

    AuthModule.forRoot({
      config: {
        configId: AppConfiguration.config.AppName,
        authority: AppConfiguration.config.Url.Identity,
        redirectUrl: AppConfiguration.config.Url.Frontend,
        secureRoutes: [
          AppConfiguration.

[2022-11-11 06:53] ramiz4 commented on #1576
I have set up a new Keycloak instance using the official instructions (https://www.keycloak.org/getting-started/getting-started-docker).

In the Client details under Access settings I set the value "*" for Valid redirect URIs and Web origins. I also entered the IP address for both of them, but the result was the same.

After Keycloak was set up I tested the sample app and could see the same behavi

[2022-11-11 07:46] ramiz4 commented on #1576
I created a Docker image (lokira/sample-implicit-flow-silent-renew-keycloak) with the pre-configured Keycloak instance. To start it you have to execute the following command:
docker run -p 8080:8080 -e KEYCLOAK_ADMIN=admin -e KEYCLOAK_ADMIN_PASSWORD=admin lokira/sample-implicit-flow-silent-renew-keycloak start-dev

After that, the app (https://github.com/ramiz4/sample-implicit-flow-silent-renew) c

[2022-11-11 07:51] FabianGosebrink commented on #1576
We are using the `.importKey` here: https://github.com/damienbod/angular-auth-oidc-client/blob/88a16cdcc57f613c398a523267a1edd6817a79c2/projects/angular-auth-oidc-client/src/lib/validation/jwk-window-crypto.service.ts#L9

Does that help you?

[2022-11-11 07:57] ramiz4 commented on #1576
@FabianGosebrink If i run the app over HTTPS (ng serve --host=0.0.0.0 --disable-host-check --ssl true) then it works via IP Address
![image](https://user-images.githubusercontent.com/1623235/201293139-57654a95-b61d-42d2-9956-f7ca9ab36399.png)

[2022-11-11 08:07] ramiz4 commented on #1576
With version 12 of angular-auth-oidc-client it works without ssl

[2022-11-11 08:33] ramiz4 commented on #1576
The following comment describes the same error: https://github.com/CyberSource/cybersource-flex-samples-java/issues/30#issuecomment-612154765

[2022-11-11 08:43] damienbod commented on #1576
Hi all, you need to use HTTPS and the signature validation requires this. Setup the Keycloak to run on HTTPS, then it will work, when the IDP URL matches the app. You should always develop using HTTPS anyway.

Greetings Damien

[2022-11-11 15:10] #1576 closed

[2022-11-12 07:22] FabianGosebrink commented on #1575
This would change the default behavior, as the default is GET now.

[2022-11-12 07:45] FabianGosebrink commented on #1565
We have an event called "SilentRenewStarted". We can introduce one if there was an error IMHO.

[2022-11-12 11:23] damienbod commented on #1575
Lets leave this default => GET, set a config, can use a POST, good?

[2022-11-12 13:08] FabianGosebrink commented on #1559
You can use this lib with capacitor. You have to react to the redirection from the STS with this event here https://capacitorjs.com/docs/guides/deep-links#angular and a guide for react is here, but with their API. You can call the checkAuth() when it is redirected, it does everything for you. https://auth0.com/docs/quickstart/native/ionic-react/01-login

[2022-11-12 14:24] imdmehdi commented on #1559
Thanks Alot,  will check this solution.

[2022-11-12 14:51] FabianGosebrink commented on #1559
Just programmed it locally and it works. The hard thing is the custom url scheme. For android this is:

AndroidManifest.xml

[code]

strings.xml

[code]

[2022-11-12 16:11] damienbod commented on #1514
Hi @benthieu This is not for a public client but for a confidential client. An SPA has no secret or password. The client_id is passed in as a url form parameter

Thanks for reporting

Greeitngs Damein

[2022-11-15 14:05] sanjib-kumar-mandal opened #1581 "[Question]: Get customParams storageCustomParamsAuthRequest from storage data"
`customParams` send in the request get stored in the storage by name `storageCustomParamsAuthRequest`
Is there any method to get this `customParams` or else suggest a way to retrieve this value

[2022-11-15 16:10] Angelinsky7 commented on #1527
i think you need to change from `sessionStorage` to `localStorage` or something similar....

How : https://nice-hill-002425310.azurestaticapps.net/docs/documentation/custom-storage
Why:  https://codesource.io/localstorage-vs-sessionstorage-explained/

[2022-11-15 18:43] FabianGosebrink commented on #1581
You can read it from the storage not over the lib but by using the storage from the browser if you want, that should work :)

[2022-11-15 18:43] #1559 closed

[2022-11-16 06:47] FabianGosebrink commented on #1570
Is the url you want to redirect to configured at the IDP correctly?

[2022-11-16 06:49] FabianGosebrink commented on #1553
Hey, what exactly are you trying to retrieve after the login? Thanks!

[2022-11-16 14:23] fritzwf opened #1584 "[Question]: Should CheckAuth be called again if the user logged-out and then logs back in?"
**What Version of the library are you using?**
14.1.5

**Question**
If I call the checkAuth(), and then authorize() and successfully login, then logout and I want to log back in again, do I need to call the checkAuth() again before calling authorize()?

Regards,
Fritz

[2022-11-16 19:03] FabianGosebrink commented on #1584
No, you do not need to call it. CheckAuth() method checks for values in the URL and, if there, processes them, and if not it checks, if everything is still valid, starts all the timers and returns the result. So calling it should not be a problem. But after a logout, you do not have to.

[2022-11-16 19:03] #1584 closed

[2022-11-17 03:45] fritzwf opened #1585 "[Question]: How does checkAuthIncludingServer() work?"
**What Version of the library are you using?**
4.1.5

**Question**

I want to use the

 checkAuthIncludingServer()

and I'm somewhat confused.  Is this function to be used inside the iframe, or do I use the function outside of the iframe?  I see a window event in the silent-renew.html that I assume is to communicate with the iframe?

Regards,
Fritz

[2022-11-17 07:37] FabianGosebrink commented on #1585
You can use this function to check the auth not only in your app but also on the server. That what it is for, has nothing to do with an iframe :)

[2022-11-17 13:35] denhaandrei commented on #1530
Hi All, @damienbod. @Doc1027

I think it`s a bug, logoffAndRevokeTokens - does not logoff the current user
  does not work for v14.1.5:
        this.oidcSecurityService.logoffAndRevokeTokens();
now I'm used to fixing it:
        this.oidcSecurityService.logoffAndRevokeTokens();
        this.oidcSecurityService.logoff();

Maybe it help you:
**Data from the server logs(without call logoff()):**
[DEB

[2022-11-17 14:10] fritzwf commented on #1585
Here is what I am assuming:

1.  I configure the silent-renew.html in the iframe code
2. Outside of the iframe, I can call this.oidcSecurityService.checkAuthIncludingServer() and that will go to the server and load the state into the this.oidcSecurityService on the outside of the iframe.

So, we have two instances of the this.oidcSecurityService, one in the iframe, and one in the application outsi

[2022-11-17 15:20] AD1306 opened #1586 "[Question]: How to load configuration dynamically during runtime in v14"
I'm migrating to v14 of this library where `OidcConfigService` isn't part of the library anymore. I have a use case where I'm fetching configs based on user selection i.e. my application supports user to log into multiple configs and I was able to load the config like below previously.
[code]

**Question**
How do I do the same with the v14 library. I tried to do something like this :
[code]
This d

[2022-11-17 15:48] FabianGosebrink commented on #1586
You can not set the config at runtime anymore. However, you can load the configs at the start via HTTP and then start the app and use the configId the user has choosen (We are supporting multiple libs). Or, you can save the config, the user has chosen, save it in localstorage and do a reload of the app, then read it again and pass it into the lib.

[2022-11-17 16:49] AD1306 commented on #1586
Was there a reason that was removed ? Just for the completeness of this thread.

[2022-11-17 16:53] FabianGosebrink commented on #1586
I have explained this in an issue before, let me just link that here: https://github.com/damienbod/angular-auth-oidc-client/issues/923#issuecomment-859346440 . I am not lazy to answer, it is just I would write the same again. Don't want to be unpolite :)

[2022-11-17 16:54] AD1306 commented on #1586
No worries. Thank you for the help ! Appreciate it.

[2022-11-17 16:54] #1586 closed

[2022-11-17 19:54] damienbod commented on #1530
Will validate this, thanks for reporting

Greetings Damien

[2022-11-18 05:43] Pearseak opened #1587 "[Question]: How can I reduce bundle size?"
![image](https://user-images.githubusercontent.com/14344122/202629096-3758325a-7a8e-40d0-8890-3e79e1f2bf6e.png)

This lib bundle size is equal to angular core not sure If I do anything wrong since I just use default ng add setting.
Is there anything I can do to reduce bundle size? like explicitly import something the same way as Rxjs?

[2022-11-18 06:15] #1581 closed

[2022-11-18 09:48] damienbod commented on #1530
@Doc1027 just tested this and it works. You are missing the support for this. If you check you well known endpoint, it is not support in your server setup. Add this to support it and also include the support in the client:

[code]

[code]

[2022-11-18 09:49] damienbod commented on #1530
Please reopen is something is missing, Greetings Damien

[2022-11-18 09:49] #1530 closed

[2022-11-18 11:17] damienbod commented on #1552
released v15.0.0

[2022-11-18 11:17] #1552 closed

[2022-11-18 11:18] damienbod commented on #1546
fixed in v15.0.0

[2022-11-18 11:18] #1546 closed

[2022-11-18 11:18] damienbod commented on #1506
released in v15.0.0

[2022-11-18 11:18] #1506 closed

[2022-11-18 11:18] damienbod commented on #1431
fixed in v15.0.0

[2022-11-18 11:18] #1431 closed

[2022-11-18 11:19] #1408 closed

[2022-11-18 11:20] #1438 closed

[2022-11-18 11:20] #1426 closed

[2022-11-18 11:20] #1402 closed

[2022-11-18 11:20] #1394 closed

[2022-11-18 11:21] #1393 closed

[2022-11-18 11:21] #1389 closed

[2022-11-18 11:21] #1387 closed

[2022-11-18 11:21] #1527 closed

[2022-11-18 11:22] #1486 closed

[2022-11-18 11:23] #1457 closed

[2022-11-18 11:23] #1456 closed

[2022-11-18 11:23] #1452 closed

[2022-11-18 11:24] #1450 closed

[2022-11-18 11:24] #1485 closed

[2022-11-18 15:01] #1575 closed

[2022-11-18 15:02] #1570 closed

[2022-11-18 15:06] #1553 closed

[2022-11-18 15:07] #1545 closed

[2022-11-18 15:46] a-a-k commented on #1248
@damienbod @FabianGosebrink could you guys give a bit more info about disadvantages of both mentioned possible solutions? Why they are _not perfect_?

[2022-11-18 20:21] vandykej17 commented on #1536
I am also having this issue.

[2022-11-18 21:33] lewdi4 commented on #1562
Was this fixed in version 15?  I see the issue still occurring.

[2022-11-19 01:49] PankajPatro commented on #1565
Thank you, please let us know when the new event is added.

[2022-11-19 08:27] FabianGosebrink commented on #1513
I think the check is not correct... Let me check this and get back to you. Maybe we are checking a little too aggressive here. Will keep you posted and push a fix eventually. Need to clarify.

[2022-11-19 08:32] FabianGosebrink commented on #1536
Can you provide a sample repo? You can take one of our samples with our config, the values in the configs are not important.

[2022-11-19 13:30] vandykej17 commented on #1536
I am trying to use implicit, silent renew flow. But, I missed the silent-renew.html so the event that "ends" the oidc flow never got triggered. I'm that case, I hit the default 20 second timeout. If I'm not mistaken, this error will happen for any app that is using silent-renew, but does not return within the 20 seconds.

Once I got my stuff setup, I did not see the error anymore, but in theory, I

[2022-11-19 15:49] FabianGosebrink commented on #1566
Just taking a look at this and I think this is not possible. You are having the issue that you got multiple configs, but only one of them is authenticated, and you want to receive the token from the config which is authenticated? Or are you authenticated with multiple configs at the same time?

[2022-11-20 07:55] damienbod commented on #1585
This checkAuthIncludingServer() is used to call the check session spec using an iframe. I think we will make this obsolete in time and don't think we should use this in the future. iframes are getting blocked by modern browsers and these flows are problematic.

I would recommend doing a new auth request with prompt=none to check the session on the server, but this would cause a redirect. Maybe it

[2022-11-20 08:06] damienbod commented on #1565
Will be released in 15.0.1 , thanks for reporting.

Greetings Damien

[2022-11-20 08:26] alvachien opened #1593 "[Bug]: idToken expired"
### Version

15.0.0

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

[code]

### Steps to reproduce the behavior

_No response_

### A clear and concise description of what you expected to happen.

_No response_

### Additional context

_No response_

[2022-11-20 08:29] alvachien opened #1594 "[Bug]: User data sub does not match sub in id_token, resetting"
### Version

15.0.0

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

[code]

### Steps to reproduce the behavior

_No response_

### A clear and concise description of what you expected to happen.

_No response_

### Additional context

_No response_

[2022-11-20 08:30] alvachien commented on #1594
With config:
`
        config: {
            authority: environment.IDServerUrl,

            redirectUrl: environment.AppHost, // window.location.origin,
            postLogoutRedirectUri: environment.AppHost,

            clientId: 'achihui.js',
            scope: 'openid profile api.hih offline_access', // 'openid profile ' + your scopes
            responseType: 'code',

            silentRene

[2022-11-20 08:31] alvachien commented on #1593
config: {
            authority: environment.IDServerUrl,

            redirectUrl: environment.AppHost, // window.location.origin,
            postLogoutRedirectUri: environment.AppHost,

            clientId: 'achihui.js',
            scope: 'openid profile api.hih offline_access', // 'openid profile ' + your scopes
            responseType: 'code',

            silentRenew: true,
            us

[2022-11-20 08:41] alvachien commented on #1593
Rollback to 14.1.4 solved the issue. So, there are breaking changes since 14.1.5?

[2022-11-20 08:45] alvachien commented on #1594
Rollback to version 14.1.4, this issue has gone. Just FYI.

[2022-11-20 08:47] alvachien commented on #1593
Linked to #1546, it says bug fixed in 15.0, but I can repeat it in 15.0.

[2022-11-20 09:34] damienbod commented on #1594
FYI you should not disable the id_token validation, please do not use this

[2022-11-20 15:00] alvachien commented on #1594
It works with V14.1.4, but it fails when update to V15.0.0

I am using Identity Server 6.0. The ID token's lifecycle by default 300 seconds, which Access toke lifecycle is 3600 seconds.

I assume I used Token only.

[2022-11-20 15:39] damienbod commented on #1594
@alvachien If you use identity server you do not need to disable the id_token validation.

See this example:

https://github.com/damienbod/angular-auth-oidc-client/tree/main/projects/sample-code-flow-refresh-tokens

And the configuration:

https://github.com/damienbod/angular-auth-oidc-client/blob/main/projects/sample-code-flow-refresh-tokens/src/app/auth-config.module.ts

This example works uses

[2022-11-20 15:41] damienbod commented on #1594
And the IdentityServer setup:

[code]

[2022-11-21 12:10] Janl1 commented on #1513
Unfortunately I dont know how the url looks like when the issue occurs. Everytime I tried to reproduce the error I had no luck. The customer sadly had..

However, I switched to a public route including the PartialRouteGuard and since then my sentry instance doesnt report the issue anymore.

[2022-11-21 20:05] everflux commented on #552
It seems this was amended in the OIDC spec and as I understand it, keycloak is behaving according to the current spec.

[2022-11-22 06:37] FabianGosebrink opened #1597 "[Refactoring]: Replace all document: any with document: Document (the real type)"

[2022-11-22 06:37] FabianGosebrink opened #1598 "[Refactoring]: Merge Url and current Url service"

[2022-11-22 06:38] FabianGosebrink opened #1599 "[Feature Request]: Provide Standalone APIs (A15)"

[2022-11-22 08:54] FabianGosebrink commented on #1562
We are on it with the upcoming PR.

[2022-11-22 08:56] FabianGosebrink opened #1601 "Docs: Remove/Deprecate AutoLoginAllRoutesGuard and provide better solution"
https://github.com/damienbod/angular-auth-oidc-client/issues/1549

[2022-11-22 09:34] julien-von-oetinger opened #1602 "[Bug]: Logoff and Id Token"
### Version

15.0.0

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

In the previous version, when I was calling the logoff function, it was calling the following "endsession" url:

[code]

But after upgrading to 15.0.0 it's calling this:
[code]

I have debugged a bit and I have noticed that the logoff function is ca

[2022-11-22 20:26] FabianGosebrink commented on #1602
Hey thanks for this issue. I'll have a look on this. We did not notice this during testing but of course we'll have a look. Thanks!

[2022-11-22 21:41] tanandre opened #1603 "[Question]:"
**What Version of the library are you using?**
13.1.0

**Question**
How can I support an OIDC flow with encrypted JWT Tokens.

I tried to find out if there is support for encrypted tokens and I believe there isn't (but please correct me if I'm wrong). If we have a back-end service that can decrypt the token is there a way we can get the OIDC flow working?

[2022-11-23 06:03] FabianGosebrink commented on #1602
Can you provide a sample repo where we can reproduce this? Because in our testing we did not had this case. Thanks!

[2022-11-23 06:33] FabianGosebrink commented on #1602
Thanks for your help.

[2022-11-23 06:39] FabianGosebrink commented on #1602
I think you are right, this is a bug. Can I do a PR and you try the lib on the branch of the PR? Then you can let us know whether this fixes your issue or not. Is that okay for you?

[2022-11-23 06:44] julien-von-oetinger commented on #1602
Yes sure

[2022-11-23 06:49] FabianGosebrink commented on #1602
Thanks. Check the linked PR. Have to go through it and see if what I found makes sense. Found two other things which were wrong. Thanks! Would not have noticed them without you :)

[2022-11-23 08:15] FabianGosebrink commented on #1602
Alright, perfect. Thanks for the quick testing. I will fix the tests and we'll do the merge and release then. Thanks! ❤️

[2022-11-23 19:01] timdeschryver commented on #1599
👋 Can I help with anything here?
I'm thinking of a functional interceptor, but perhaps there are more opportunities here.

[2022-11-24 06:26] FabianGosebrink commented on #1599
Of course, you can help here, this is always appreciated. I have to dive into this a bit, but I am open for every proposal. Would also love to have a sample app to show the users how to use this lib with standalone APIs.

[2022-11-24 07:36] schoes opened #1605 "How to force checkAuth getting new tokens"
hello there i would like to use the checkAuth for a special config. But i don't know how to use the lib becaus there need to bee an url as first parameter and i don't know what to fill in there. i did not fin any examples on how to use it. can you help me out ?

[2022-11-24 08:46] FabianGosebrink commented on #1605
You can check the docs, you can pass the configId as a parameter: https://angular-auth-oidc-client.com/docs/documentation/public-api#checkauthurl-string-configid-string

[2022-11-24 08:47] schoes commented on #1605
Yes i know that but when i don't set an url nothing happens

[2022-11-24 08:55] FabianGosebrink commented on #1605
So you're passing "null" as an url and nothing happens? What version are you using?

[2022-11-24 09:07] schoes commented on #1605
14.1.5
The code is inside a guard and looks like.
 `this.oidService.checkAuth(null, OAuthConfig.SwissId).pipe(
            tap((oidResponse) => console.log('OID Response:', oidResponse)),
            switchMap((oidResponse) =>
                oidResponse.isAuthenticated
                    ? this.swissIdService.verifySwissIdToken(oidResponse.userData?.cnumber, oidResponse.idToken)

[2022-11-24 09:36] FabianGosebrink commented on #1605
Are you subscribing? This can not be seen from the code sample.

[2022-11-24 10:26] FabianGosebrink commented on #1605
And with `nothing happens` you mean that you do not even run into to" tap((oidResponse) => console.log('OID Response:', oidResponse)),", right?

[2022-11-24 10:29] schoes commented on #1605
yes exactly

[2022-11-24 11:08] agardiol commented on #1408
Hello @damienbod  and @FabianGosebrink
Thanks for this fix.
I just updated my app with it (sorry I had no time to test it before) and unfortunately I got a new error.
When the refresh process occurs, I get know this WARN messages:
![image](https://user-images.githubusercontent.com/60869624/203768455-7aca0e74-b4eb-4b4b-b148-72bb59c36ce5.png)
and the auth data in the session storage disappear (like

[2022-11-24 12:06] FabianGosebrink commented on #1605
How does your config look like? How does the guard look like? Do you have a sample where we can reproduce the issue?

[2022-11-24 14:17] rgraham7503 opened #1606 "[Question]: Support for DPoP"
Hi just curious if you will support DPoP? This is picking up some steam in open banking and will be a standard in the near future.
Here is a well written article on it if you are not familiar. (I didnt write this btw and I am not promoting anyone)
[medium DPoP article](https://darutk.medium.com/illustrated-dpop-oauth-access-token-security-enhancement-801680d761ff)

[2022-11-24 16:27] kcalisan opened #1607 "[Bug]: id_token is not accessible after resetAuthorizationData function executed"
### Version

15.0.0

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Steps to reproduce the behavior

[code]

### A clear and concise description of what you expected to happen.

_No response_

### Additional context

_No response_

[2022-11-25 07:46] FabianGosebrink commented on #1602
Dup #1607

[2022-11-25 07:47] FabianGosebrink commented on #1607
Bug is fixed in next release.

[2022-11-25 09:06] kcalisan commented on #1607
Thank you, but when I choose "POST" method I cannot access to id_token

[2022-11-25 09:15] FabianGosebrink commented on #1607
Yes, this Bug is fixed in the next release :) We have to test and then we will release. Thanks :)

[2022-11-25 10:08] denhaandrei commented on #1530
@damienbod
Hi, sorry for the delay,
I have everything and it worked on Angular 12.
After updating to Angular 14, it stopped working.
Can you attach your working example, maybe I miss something?

Thanks,
Andrey

[2022-11-25 10:19] schoes commented on #1605
i changerd now the config tha i got only one auth config but now when call the checkAuth method twice the tokens won't get refreshed. what do i need to do so that the tokens get refrreshed because i know that there was an update ind the id_token and i need to get this update
First check Auth that works:
`canActivate(next: ActivatedRouteSnapshot): Observable<UrlTree> {
        const { language } =

[2022-11-25 12:24] schoes commented on #1605
i think it is a timing issue when the checkAuth refreshes the tokens.

[2022-11-25 12:26] schoes commented on #1605
By the way here is my config of the module
`{
                    configId: OAuthConfig.B2C,
                    authority: IDP_ENDPOINT_HOST[appConfig.environment],
                    authWellknownEndpointUrl: IDP_ENDPOINT_HOST[appConfig.environment],
                    redirectUrl: `${location.origin}/b2c-useraccount/${RoutePath.AcceptCode}`,
                    clientId: CLIENT_ID[appConfig.e

[2022-11-25 17:02] FabianGosebrink commented on #1605
Have you trief using the `isAuthenticated$` result as described here https://angular-auth-oidc-client.com/docs/documentation/guards ?

[2022-11-26 04:20] alvachien commented on #1594
Thanks to @damienbod
By far it works.

[2022-11-26 04:20] #1594 closed

[2022-11-26 11:50] #1585 closed

[2022-11-26 11:52] FabianGosebrink commented on #1536
Alright, we will have an eye on this. Closing this for now, as the error is known, but we have to have a look at this. Thanks.

[2022-11-26 11:52] #1536 closed

[2022-11-26 11:54] FabianGosebrink commented on #1513
Nice. That is good. We published a fix which is maybe targeting the issue as well. However, having one public route is the preferred solution.

[2022-11-26 11:54] #1513 closed

[2022-11-26 14:00] damienbod commented on #1606
Hi @rgraham7503 It is not possible to support this as an Angular application runs in the browser and cannot keep a secret

[2022-11-26 14:03] damienbod commented on #1603
You can use encrypted access tokens. You cannot use encrypted id_tokens because this needs to be opened and used by the SPA. Encrypting the id_token in  SPA does not increase the securtiy.

[2022-11-26 20:15] kcalisan commented on #1607
Thank you @FabianGosebrink, I get the latest version (15.0.1) but the issue is still the same. If I choose logoffMethod as 'POST' request I can't see id_token_hint parameter in the POST request, only these parameters are being sent to the identity server:  {"client_id":"test-client","post_logout_redirect_uri":"http://localhost:4200"}:

I am using the following function.

 logout(): void {
      th

[2022-11-27 07:28] FabianGosebrink commented on #1607
Hey, I just saw, that I had the correct solution and for any reason reverted it! I think I do see the issue. Sorry about this, that was totally my fault.

[2022-11-27 07:51] #1562 closed

[2022-11-27 07:51] FabianGosebrink commented on #1562
Should be fixed in 15.0.1

[2022-11-27 07:51] #1602 closed

[2022-11-27 08:28] #1601 closed

[2022-11-27 08:28] FabianGosebrink commented on #1566
Is this issue still relevant?

[2022-11-27 08:29] FabianGosebrink commented on #1565
Event is added now, you can use it over the public event service.

[2022-11-27 08:29] #1565 closed

[2022-11-27 09:05] #1607 closed

[2022-11-27 10:42] schoes commented on #1605
I use the autologin mechanism with the AutoLoginPartialRoutesGuard  And do a checkauth in de guard mentioned On 25 Nov 2022, at 18:02, Fabian Gosebrink ***@***.***> wrote:﻿
Have you tried using the isAuthenticated$ result as described here https://angular-auth-oidc-client.com/docs/documentation/guards ?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this becaus

[2022-11-27 11:09] damienbod commented on #1607
With the release of 15.0.2, this should work then.

[code]

[2022-11-27 11:26] FabianGosebrink commented on #1605
Okay, but you have to call `checkAuth()` initially as well, when coming back from the IDP. The URL needs to be processed.

[2022-11-27 12:26] kcalisan commented on #1607
Hey, no problem at all, thank you for the quick fix.

[2022-11-27 13:11] schoes commented on #1605
Ok I have two different guars that will be activated when getting back from the IDP and these guards do call the checkAuth in the first guard the checkAuth works and when I navigate to the second guard there the checkAuth does not trigger the refresh of all tokens. Do I need to paste any code snippet to be clearer?On 27 Nov 2022, at 12:26, Fabian Gosebrink ***@***.***> wrote:﻿
Okay, but you have t

[2022-11-27 14:46] FabianGosebrink commented on #1605
You do not need to refresh the tokens by calling `checkAuth()`. The tokens are not refreshed by calling `checkAuth()`. Can you provide a sample repo? You can use one of the configs we have in our samples. Thanks!

[2022-11-27 17:34] kcalisan opened #1614 "[Bug]: Writing current data to localstorage repeatedly"
### Version

15.0.2

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

_No response_

### Steps to reproduce the behavior

[code]

### A clear and concise description of what you expected to happen.

[code]

### Additional context

if I set tokenRefreshInSeconds:50 it writes every 50 seconds.

[2022-11-27 18:53] FabianGosebrink commented on #1614
Hey, thanks for this. This is not intended, and we will look into this. We only need to write something if something changed. Thanks!

[2022-11-27 18:57] FabianGosebrink commented on #1614
I am not sure if this is a Bug per se. I see your point, that writing always in that time is no good, but the values in the demo are just for testing, no real world use cases and the writing we do here is a "running" which means that the silent renew is running currently. A real world time to check would be like between 15 Minutes and one hour? @damienbod ?

[2022-11-27 20:17] kcalisan commented on #1614
FYI, not just for "running", system is writing all the data previously written before. If you put some logs before the writing process you will see.

[2022-11-28 08:05] FabianGosebrink commented on #1614
Yes, that is because we are supporting multiple configs and the key of the config contains a complete object with all info. I do not know if there is a way not to write only key/value to the storage but also just a particular property of the info.

[2022-11-28 08:06] FabianGosebrink commented on #1322
Closing as there hasn't been any response from the issue author. Please re-open if you are still seeing problems here.

[2022-11-28 08:06] #1322 closed

[2022-11-28 12:22] scurk1415 opened #1616 "[Bug]: Page does not work when opening a new tab with window.open()"
### Version

15.0.1

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

[code]

### Steps to reproduce the behavior

[code]

### A clear and concise description of what you expected to happen.

[code]

### Additional context

- It still works with 15.0.0, but does not work with 15.0.1+.
- It also works if we want to ope

[2022-11-28 13:10] mladewski opened #1617 "[Question]: Should closing a login popup manually return an unauthenticated result?"
**What Version of the library are you using?**
15.02

**Question**
Should closing a login popup manually return an unauthenticated result?
Currently when I manually close the popup, I am not getting an unauthenticated observable result, thus there is an orphaned open subscription.  I could probably unsubscribe manually when attempting to re-authenticate.  Just curious the expected behavior.
Thanks

[2022-11-28 13:25] FabianGosebrink commented on #1617
When you close the login popup, a message should be sent with "user closed" and you get back an unauthenticated result. https://github.com/damienbod/angular-auth-oidc-client/blob/main/projects/angular-auth-oidc-client/src/lib/login/popup/popup-login.service.ts#L54

[2022-11-28 13:28] mladewski commented on #1617
got it thanks!

[2022-11-28 14:31] schoes commented on #1605
Will create a repo as soon as possible.

[2022-11-28 14:52] #1617 closed

[2022-11-28 14:54] FabianGosebrink commented on #1605
Nice, thanks. Then we can have a look, thanks!

[2022-11-28 16:21] kcalisan opened #1618 "[Bug]: Validating id_token failed"
### Version

15.0.2

### Please provide a link to a minimal reproduction of the bug

_No response_

### Please provide the exception or error you saw

[code]

### Steps to reproduce the behavior

[code]

### A clear and concise description of what you expected to happen.

_No response_

### Additional context

I am using keycloak, and I can see there is a special case for keycloak.
Do I need to se

[2022-11-28 17:01] damienbod commented on #1618
Yes I think Keycloak does not return the nonce in a refresh

ignoreNonceAfterRefresh:true

Greetings Damien

[2022-11-28 19:57] schoes commented on #1605
so i tried to create a sample repo to show you what we would like to do the auth.  [https://github.com/schoes/angular-oidc-check-auth](check-auth-sample). hope you can understand what I would like to do. otherwise just ask. thanks for your help

[2022-11-29 06:28] FabianGosebrink commented on #1605
Hey thanks! That helps. Out of your comment

I assume you are logging in, changing something in the IDP and then want to have this changes being reflected in the ID Token, is that correct?

[2022-11-29 06:43] schoes commented on #1605
Yes that's correct

[2022-11-29 08:42] FabianGosebrink commented on #1605
So the ID Token is bound to the login. To the session as long as it runs. So if you need a _new_ ID token, you have to log in again. You can not force the changes being reflected, neither with a token refresh (automatically done with the lib) nor with another call to `checkAuth()`. `checkAuth()` does _not_ refresh the token. It "only" sets up the timers to do so based on your config. So you have t

[2022-11-29 23:24] mmarrano commented on #1487
I am running into this same problem today

**What Version of the library are you using?**
15.0.0

**Desktop (please complete the following information):**
* OS: Windows 10 Pro
* Browser Firefox
* Version 107.0

**Additional context**
Configuration:
[code]

I effectively followed exactly what @DHJayasinghe did, cloned this library, removed the code he referenced, and implemented to my parent app. I

[2022-11-30 06:47] #1618 closed

[2022-11-30 06:53] FabianGosebrink commented on #1566
Closing as there hasn't been any response from the issue author. Please re-open if you are still seeing problems here.

[2022-11-30 06:53] #1566 closed

[2022-11-30 06:53] FabianGosebrink commented on #800
Closing as there hasn't been any response from the issue author. Please re-open if you are still seeing problems here.

[2022-11-30 06:53] #800 closed

[2022-11-30 06:55] FabianGosebrink commented on #1256
Is this issue still relevant?

[2022-11-30 06:56] FabianGosebrink commented on #1282
Is this issue still relevant?

[2022-11-30 08:48] lordrhodos opened #1619 "[Question]: How can I load a dynamic number of configuration from a custom service?"
**What Version of the library are you using?**
13.1.0

**Question**
How can I load an dynamic (unknown att app startup) number of configurations from an external api?

I have read the documentation, examples and issues about how to use the `StsConfigHttpLoader` to load one or multiple configurations via an async http call, but I wonder if there is any possibility to support the following scenario.

[2022-11-30 09:39] lordrhodos commented on #1619
Found a [comment here](https://github.com/damienbod/angular-auth-oidc-client/issues/1586#issuecomment-1318836350) and will give this a try.

[2022-11-30 15:09] Tyler-V opened #1620 "[Question]: Using authorizeWithPopUp results in the window appearing and closing immediately"
**What Version of the library are you using?**
`"angular-auth-oidc-client": "15.0.2"`

**Question**

I am using Duende.IdentityServer (latest)

I am using `authorize()` successfully to get a token when navigating with a redirect uri

However, when I use `authorizeWithPopUp()` the window appears for milliseconds and then closes immediately without any error in the console or my IdentityServer - rea

[2022-11-30 16:48] mmarrano opened #1621 "[Bug]: Library fails on Firefox [REOPEN]"
### Version

15.0.0

### Please provide a link to a minimal reproduction of the bug

https://github.com/damienbod/angular-auth-oidc-client/issues/1487#issue-1316282978

### Please provide the exception or error you saw

[code]

### Steps to reproduce the behavior

[code]

### A clear and concise description of what you expected to happen.

[code]

### Additional context

Configuration:
[code]

[2022-11-30 22:29] jcriddle-nci commented on #1275
Hm I have tried using what is in the documentation, but cannot get it to work with the localstorage example. However when I use the code "storage: new CustomStorage()," It successfully uses localstorage. Am I missing something with the current implementation? For reference Im using v13.1.0